<div class="container">

    <div class="jumbotron">
        <div class="card-header text-center">
            <i class="fa fa-fw fa-bar-chart-o"></i> Quick Look
        </div>
        <br>
        <div class="form-group row">
            <div class="col-2">
            </div>
            <div class="col-4">
                <label class=" col-form-label">From Date</label>
                <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" />
            </div>
            <div class="col-4">
                <label class=" col-form-label">To Date</label>
                <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" />
            </div>

            <div class="col-2">
            </div>
        </div>

        <div class="form-group row" *ngIf="myDate">
            <div class="col-2">
            </div>
            <label class="col-4 col-form-label">Select Police Station</label>
            <div class="col-4">
                <select class="form-control" [(ngModel)]="stationId">
                            <option>Choose..</option>

                            <option *ngFor="let stname of allStations" value="{{stname._id}}">{{stname.name}}</option>
                        </select>

            </div>
            <div class="col-2">
            </div>
        </div>
        <br>
        <div class="text-center">
            <button type="button" class="btn btn-success" (click)="clickme()" *ngIf="stationId">Click</button>
        </div>
        <br>


        <div class="form-group row" *ngIf="entries">
            <div class="col-2">
            </div>
            <label class="col-4 col-form-label">No of entered cases</label>
            <div class="col-4">
                <input class="form-control" value="{{entries.length}}" />
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>

</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>