<div class="row">
    <div class="col-md-12">
        <div class="container-fluid">
            <form (ngSubmit)="onSubmit()" #yourForm="ngForm">
                    <div class="row form-group" *ngIf="local.roleType=='DIST'">
                            <div class="col-sm-4">
                                <label for="inputEmail3" class= "col-form-label">From Date</label>
                                <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
        
                            <div class="col-sm-4">
                                <label for="inputEmail3" class="col-form-label">To Date</label>
                                <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
                           
                            <div class="col-4" >
                                <label class="col-form-label">Select Police Station</label>
                                <select class="form-control" name="stationId" [(ngModel)]="stationId">
                                <option>Choose..</option>
                            
                            <option *ngFor="let stname of allStations" value="{{stname._id}}">{{stname.name}}</option>
                            </select>
                            </div>
        
                        </div>
                        <div class="row form-group" *ngIf="local.roleType!=='DIST'">
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class= "col-form-label">From Date</label>
                                    <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class="col-form-label">To Date</label>
                                    <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                            </div>
        
                        <div class="row form-group">
                        <div class="col-sm mt-4 text-center">
                            <input type="submit" [disabled]="!yourForm.form.valid" value="Submit" class="btn btn-success">
                        </div>
                        </div>
            </form>
            <br>

            <div style="overflow: hidden" *ngIf="entries.zebraCrossingYes">
                <div class="row">
                    <div class="col-sm-3 text-left">
                            <input (click)="printOne()" value="Print" class="btn btn-success">
                    </div>
                    <div class="col-sm-3 text-left">
                            <input (click)="exportCsvOne()" value="Export csv" class="btn btn-success">
                    </div>
                </div>
                <div style="overflow: hidden" id="tableOne">
            <table class="table table-borderless table-responsive" width="100%" *ngIf="entries.zebraCrossingYes">
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" colspan="13" class="class text-center"><b> 9. Accidents Classified According to Pedestrian
                            Infrastructure</b></th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" rowspan="2" class="text-center"><br><br>Pedestrian Infrastructure</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Number of Accidents</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Number of Persons <br>(based on type of Accidents)</th>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Zebra Crossing</th>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.total}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.personsFatal+entries.zebraCrossingYes.personsGrievious+entries.zebraCrossingYes.personsSimple+entries.zebraCrossingYes.personsNotHospitalized+entries.zebraCrossingYes.personsNoinjur}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Foot path</th>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.total}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.personsFatal+entries.footPathOnYes.personsGrievious+entries.footPathOnYes.personsSimple+entries.footPathOnYes.personsNotHospitalized+entries.footPathOnYes.personsNoinjur}}</td>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Foot bridge / Subway</th>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.total}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.personsFatal+entries.footBridgerSubwayYes.personsGrievious+entries.footBridgerSubwayYes.personsSimple+entries.footBridgerSubwayYes.personsNotHospitalized+entries.footBridgerSubwayYes.personsNoinjur}}</td>
                </tr>
                <!-- <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Footpath</th>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>

                </tr> -->
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">None</th>
                    <td style=" border: 2px solid black">{{entries.noneOptionsYes.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.noneOptionsYes.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.noneOptionsYes.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.noneOptionsYes.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.noneOptionsYes.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.noneOptionsYes.total}}</td>
                    <td style=" border: 2px solid black">{{entries.noneOptionsYes.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.noneOptionsYes.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.noneOptionsYes.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.noneOptionsYes.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.noneOptionsYes.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.noneOptionsYes.personsFatal+entries.noneOptionsYes.personsGrievious+entries.noneOptionsYes.personsSimple+entries.noneOptionsYes.personsNotHospitalized+entries.noneOptionsYes.personsNoinjur}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Roundabout</th>
                    <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.total}}</td>
                    <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.personsFatal+entries.roundaboutOptionsYes.personsGrievious+entries.roundaboutOptionsYes.personsSimple+entries.roundaboutOptionsYes.personsNotHospitalized+entries.roundaboutOptionsYes.personsNoinjur}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Total</th>
                    <td style=" border: 2px solid black">
                        {{entries.zebraCrossingYes.fatal+entries.footPathOnYes.fatal+entries.footBridgerSubwayYes.fatal+entries.noneOptionsYes.fatal+entries.roundaboutOptionsYes.fatal}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.zebraCrossingYes.grievious+entries.footPathOnYes.grievious+entries.footBridgerSubwayYes.grievious+entries.noneOptionsYes.grievious+entries.roundaboutOptionsYes.grievious}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.zebraCrossingYes.minor+entries.footPathOnYes.minor+entries.footBridgerSubwayYes.minor+entries.noneOptionsYes.minor+entries.roundaboutOptionsYes.minor}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.zebraCrossingYes.not_hospitalized+entries.footPathOnYes.not_hospitalized+entries.footBridgerSubwayYes.not_hospitalized+entries.noneOptionsYes.not_hospitalized+entries.roundaboutOptionsYes.not_hospitalized}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.zebraCrossingYes.noinjur+entries.footPathOnYes.noinjur+entries.footBridgerSubwayYes.noinjur+entries.noneOptionsYes.noinjur+entries.roundaboutOptionsYes.noinjur}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.zebraCrossingYes.total+entries.footPathOnYes.total+entries.footBridgerSubwayYes.total+entries.noneOptionsYes.total+entries.roundaboutOptionsYes.total}} 
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.zebraCrossingYes.personsFatal+entries.footPathOnYes.personsFatal+entries.footBridgerSubwayYes.personsFatal+entries.noneOptionsYes.personsFatal+entries.roundaboutOptionsYes.personsFatal}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.zebraCrossingYes.personsGrievious+entries.footPathOnYes.personsGrievious+entries.footBridgerSubwayYes.personsGrievious+entries.noneOptionsYes.personsGrievious+entries.roundaboutOptionsYes.personsGrievious}} 
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.zebraCrossingYes.personsSimple+entries.footPathOnYes.personsSimple+entries.footBridgerSubwayYes.personsSimple+entries.noneOptionsYes.personsSimple+entries.roundaboutOptionsYes.personsSimple}} 
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.zebraCrossingYes.personsNotHospitalized+entries.footPathOnYes.personsNotHospitalized+entries.footBridgerSubwayYes.personsNotHospitalized+entries.noneOptionsYes.personsNotHospitalized+entries.roundaboutOptionsYes.personsNotHospitalized}} 
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.zebraCrossingYes.personsNoinjur+entries.footPathOnYes.personsNoinjur+entries.footBridgerSubwayYes.personsNoinjur+entries.noneOptionsYes.personsNoinjur+entries.roundaboutOptionsYes.personsNoinjur}} 
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.zebraCrossingYes.personsFatal+entries.footPathOnYes.personsFatal+entries.footBridgerSubwayYes.personsFatal+entries.noneOptionsYes.personsFatal+entries.roundaboutOptionsYes.personsFatal+entries.zebraCrossingYes.personsGrievious+entries.footPathOnYes.personsGrievious+entries.footBridgerSubwayYes.personsGrievious+entries.noneOptionsYes.personsGrievious+entries.roundaboutOptionsYes.personsGrievious+entries.zebraCrossingYes.personsSimple+entries.footPathOnYes.personsSimple+entries.footBridgerSubwayYes.personsSimple+entries.noneOptionsYes.personsSimple+entries.roundaboutOptionsYes.personsSimple+entries.zebraCrossingYes.personsNotHospitalized+entries.footPathOnYes.personsNotHospitalized+entries.footBridgerSubwayYes.personsNotHospitalized+entries.noneOptionsYes.personsNotHospitalized+entries.roundaboutOptionsYes.personsNotHospitalized+entries.zebraCrossingYes.personsNoinjurr+entries.footPathOnYes.personsNoinjur+entries.footBridgerSubwayYes.personsNoinjur+entries.noneOptionsYes.personsNoinjur+entries.roundaboutOptionsYes.personsNoinjur}} 
                    </td>

                </tr>
            </table>
            </div>
            </div>
            <br>
            <br>
            <div style="overflow: hidden" *ngIf="entries.zebraCrossingYes">
                <div class="row">
                    <div class="col-sm-3 text-left">
                            <input type="button" (click)="printTwo()" value="Print" class="btn btn-success btn-print">
                    </div>
                    <div class="col-sm-3 text-left">
                            <input type="button" (click)="exportCsvTwo()" value="Export csv" class="btn btn-success btn-csv">
                    </div>
                </div>
            <div style="overflow: hidden" id="tableTwo">  
            <table class="table table-borderless table-responsive" width="100%" *ngIf="entries.zebraCrossingYes">
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" colspan="19" class="class text-center"><b>Number of Persons
                        </b></th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" rowspan="2" class="text-center"><br><br>Pedestrian Infrastructure</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Driver <br>(based on type of Accidents)</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Passenger <br>(based on type of Accidents)</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Pedestrain <br>(based on type of Accidents)</th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>


                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Zebra Crossing</th>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.zebraCrossingYes.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Foot Path</th>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.footPathOnYes.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.footPathOnYes.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.footPathOnYes.pedestrain_total}}</td>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Foot bridge / Subway</th>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.footBridgerSubwayYes.pedestrain_total}}</td>

                </tr>
                <!-- <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Footpath</th>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                    <td style=" border: 2px solid black"></td>
                </tr> -->
                    <tr style=" border: 2px solid black">
                        <th style=" border: 2px solid black">None</th>
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.driver_fatal}}</td>
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.driver_grievious}}</td>
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.driver_simple}}</td>
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.driver_not_hospitalized}}</td>
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.driver_noinjur}}</td>
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.driver_total}}</td>
    
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.passenger_fatal}}</td>
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.passenger_grievious}}</td>
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.passenger_simple}}</td>
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.passenger_not_hospitalized}}</td>
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.passenger_noinjur}}</td>
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.passenger_total}}</td>
    
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.pedestrain_fatal}}</td>
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.pedestrain_grievious}}</td>
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.pedestrain_simple}}</td>
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.pedestrain_not_hospitalized}}</td>
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.pedestrain_noinjur}}</td>
                        <td style=" border: 2px solid black">{{entries.noneOptionsYes.pedestrain_total}}</td>

                    </tr>
                    <tr style=" border: 2px solid black">
                        <th style=" border: 2px solid black">Roundabout</th>
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.driver_fatal}}</td>
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.driver_grievious}}</td>
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.driver_simple}}</td>
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.driver_not_hospitalized}}</td>
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.driver_noinjur}}</td>
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.driver_total}}</td>
    
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.passenger_fatal}}</td>
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.passenger_grievious}}</td>
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.passenger_simple}}</td>
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.passenger_not_hospitalized}}</td>
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.passenger_noinjur}}</td>
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.passenger_total}}</td>
    
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.pedestrain_fatal}}</td>
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.pedestrain_grievious}}</td>
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.pedestrain_simple}}</td>
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.pedestrain_not_hospitalized}}</td>
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.pedestrain_noinjur}}</td>
                        <td style=" border: 2px solid black">{{entries.roundaboutOptionsYes.pedestrain_total}}</td>

                    </tr>
                    <tr style=" border: 2px solid black">
                        <th style=" border: 2px solid black">Total</th>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.driver_fatal+entries.footPathOnYes.driver_fatal+entries.footBridgerSubwayYes.driver_fatal+entries.noneOptionsYes.driver_fatal+entries.roundaboutOptionsYes.driver_fatal}}  
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.driver_grievious+entries.footPathOnYes.driver_grievious+entries.footBridgerSubwayYes.driver_grievious+entries.noneOptionsYes.driver_grievious+entries.roundaboutOptionsYes.driver_grievious}} 
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.driver_simple+entries.footPathOnYes.driver_simple+entries.footBridgerSubwayYes.driver_simple+entries.noneOptionsYes.driver_simple+entries.roundaboutOptionsYes.driver_simple}}
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.driver_not_hospitalized+entries.footPathOnYes.driver_not_hospitalized+entries.footBridgerSubwayYes.driver_not_hospitalized+entries.noneOptionsYes.driver_not_hospitalized+entries.roundaboutOptionsYes.driver_not_hospitalized}}
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.driver_noinjur+entries.footPathOnYes.driver_noinjur+entries.footBridgerSubwayYes.driver_noinjur+entries.noneOptionsYes.driver_noinjur+entries.roundaboutOptionsYes.driver_noinjur}}
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.driver_total+entries.footPathOnYes.driver_total+entries.footBridgerSubwayYes.driver_total+entries.noneOptionsYes.driver_total+entries.roundaboutOptionsYes.driver_total}}  
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.passenger_fatal+entries.footPathOnYes.passenger_fatal+entries.footBridgerSubwayYes.passenger_fatal+entries.noneOptionsYes.passenger_fatal+entries.roundaboutOptionsYes.passenger_fatal}}  
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.passenger_grievious+entries.footPathOnYes.passenger_grievious+entries.footBridgerSubwayYes.passenger_grievious+entries.noneOptionsYes.passenger_grievious+entries.roundaboutOptionsYes.passenger_grievious}} 
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.passenger_simple+entries.footPathOnYes.passenger_simple+entries.footBridgerSubwayYes.passenger_simple+entries.noneOptionsYes.passenger_simple+entries.roundaboutOptionsYes.passenger_simple}}
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.passenger_not_hospitalized+entries.footPathOnYes.passenger_not_hospitalized+entries.footBridgerSubwayYes.passenger_not_hospitalized+entries.noneOptionsYes.passenger_not_hospitalized+entries.roundaboutOptionsYes.passenger_not_hospitalized}}
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.passenger_noinjur+entries.footPathOnYes.passenger_noinjur+entries.footBridgerSubwayYes.passenger_noinjur+entries.noneOptionsYes.passenger_noinjur+entries.roundaboutOptionsYes.passenger_noinjur}}
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.passenger_total+entries.footPathOnYes.passenger_total+entries.footBridgerSubwayYes.passenger_total+entries.noneOptionsYes.passenger_total+entries.roundaboutOptionsYes.passenger_total}}  
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.pedestrain_fatal+entries.footPathOnYes.pedestrain_fatal+entries.footBridgerSubwayYes.pedestrain_fatal+entries.noneOptionsYes.pedestrain_fatal+entries.roundaboutOptionsYes.pedestrain_fatal}}  
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.pedestrain_grievious+entries.footPathOnYes.pedestrain_grievious+entries.footBridgerSubwayYes.pedestrain_grievious+entries.noneOptionsYes.pedestrain_grievious+entries.roundaboutOptionsYes.pedestrain_grievious}} 
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.pedestrain_simple+entries.footPathOnYes.pedestrain_simple+entries.footBridgerSubwayYes.pedestrain_simple+entries.noneOptionsYes.pedestrain_simple+entries.roundaboutOptionsYes.pedestrain_simple}}
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.pedestrain_not_hospitalized+entries.footPathOnYes.pedestrain_not_hospitalized+entries.footBridgerSubwayYes.pedestrain_not_hospitalized+entries.noneOptionsYes.pedestrain_not_hospitalized+entries.roundaboutOptionsYes.pedestrain_not_hospitalized}}
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.pedestrain_noinjur+entries.footPathOnYes.pedestrain_noinjur+entries.footBridgerSubwayYes.pedestrain_noinjur+entries.noneOptionsYes.pedestrain_noinjur+entries.roundaboutOptionsYes.pedestrain_noinjur}}
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.zebraCrossingYes.pedestrain_total+entries.footPathOnYes.pedestrain_total+entries.footBridgerSubwayYes.pedestrain_total+entries.noneOptionsYes.pedestrain_total+entries.roundaboutOptionsYes.pedestrain_total}}  
                        </td>

                    </tr>
            </table>
            </div>
            </div>

        </div>


    </div>

    <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>