
<div class="row">
  <div class="col-md-10 offset-md-1">
      <div class="container">
          <div class="jumbotron">
              <div class="card-header text-center">
                  <i class="fa fa-plus-circle"></i> Send Mail
              </div>
              <br>
              <div class="row" *ngIf="local">
                  <div class="col-md-8 offset-md-2">
                      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>


                          <div class="form-group">
                              <label for="name">From</label>
                              <input type="text" class="form-control" name="fromMail" [(ngModel)]="model.fromMail" #fromMail="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fromMail.invalid }" required mail />
                              <div *ngIf="f.submitted && fromMail.invalid" class="invalid-feedback">
                                  <div *ngIf="fromMail.errors.required">Mail required</div>
                              </div>
                          </div>

                          
                          <div class="form-group">
                            <label for="district">Select To Mail</label>

                            <select class="form-control" name="toMails" [(ngModel)]="model.toMails" #toMails="ngModel" (change)="getMails($event.target.value)"
                             [ngClass]="{ 'is-invalid': f.submitted && toMails.invalid }" required>
                                    <option *ngFor="let x of districts" [value]="x">{{x}}</option>
                                </select>
                            <div *ngIf="f.submitted && toMails.invalid" class="invalid-feedback">
                                <div *ngIf="toMails.errors.required">Mail is required

                                </div>
                            </div>
                        </div>

                          <!-- <div class="form-group">
                              <label for="mail">To</label>
                              <input type="text" class="form-control" name="toMail" [(ngModel)]="selectedMails" #toMail="ngModel" [ngClass]="{ 'is-invalid': f.submitted && toMail.invalid }" required />
                              <div *ngIf="f.submitted && toMail.invalid" class="invalid-feedback">
                                  <div *ngIf="toMail.errors.required">Email is required</div>
                              </div>
                          </div> -->
                          <div class="form-group">
                          <label>To Mails</label><br>   
                          <label *ngFor="let value of selectedMails; trackBy:indexTracker" style="border: 1px solid black;background-color:aliceblue">
                            {{value}},
                            <!-- <input type="text" min="0" max="999" step="1" [(ngModel)]="value"> -->
                          </label>
                          </div>
                          <div class="form-group">
                            <label for="name">Subject</label>
                            <input type="text" class="form-control" name="mailSubject" [(ngModel)]="model.mailSubject" #mailSubject="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mailSubject.invalid }" required mail />
                            <div *ngIf="f.submitted && mailSubject.invalid" class="invalid-feedback">
                                <div *ngIf="mailSubject.errors.required">Subject required</div>
                            </div>
                        </div>

                          <div class="form-group">
                              <button class="btn btn-primary">Send</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <!-- <div class="jumbotron table-responsive">
            <div class="row">
                <div class="col-4" class="text-left">
                    <div class="form-group">
                        <label for="name">Search Name</label>
                        <input type="text" class="form-control" (keyup)='search($event.target.value)' />
                    </div>
                </div>
            </div>
           <table class="table table-bordered table-hover">
                  <thead>
                      <tr class="table-info">
                          <th scope="col">S.no</th>
                          <th scope="col">Name</th>
                          <th scope="col">Zone</th>
                          <th scope="col">Action</th>
                      </tr>
                  </thead>
                  <tbody  *ngFor="let station of allStations; let i = index">
                    <tr *ngIf="!filterData">
                        <th scope="row">{{i+1}}</th>
                        <td>{{station.name}}</td>
                        <td>{{station.mail}}</td>
                    </tr>
                </tbody>
                <tbody  *ngFor="let station of filterData; let i = index">
                    <tr *ngIf="filterData">
                        <th scope="row">{{i+1}}</th>
                        <td>{{station.name}}</td>
                        <td>{{station.mail}}</td>
                    </tr>
                </tbody>
              </table>
              </div> -->

      </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
