<div class="container">
    <br>
    <div class="card-header text-center">
        <i class="fa fa-plus-circle"></i> Add Station
    </div>
    <div class="colorBack">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>


                    <div class="form-group">
                        <label for="name">Police Station Name</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                        <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                            <div *ngIf="name.errors.required">Police Station Name is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="mail">Police Station Email</label>
                        <input type="text" class="form-control" name="mail" [(ngModel)]="model.mail" #mail="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mail.invalid }" required mail />
                        <div *ngIf="f.submitted && mail.invalid" class="invalid-feedback">
                            <div *ngIf="mail.errors.required">Police Station Email is required</div>
                            <div *ngIf="mail.errors.mail">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phNumber">Phone Number</label>
                        <input type="number" class="form-control" name="phNumber" [(ngModel)]="model.phNumber" #phNumber="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phNumber.invalid }" required />
                        <div *ngIf="f.submitted && phNumber.invalid" class="invalid-feedback">
                            <div *ngIf="phNumber.errors.required">Phone Number is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="district">State</label>

                        <select class="form-control" name="state" [(ngModel)]="model.data.state" #state="ngModel" [ngClass]="{ 'is-invalid': f.submitted && state.invalid }" required>
                                        <option *ngFor="let x of states" [value]="x">{{x}}</option>
                                    </select>
                        <div *ngIf="f.submitted && state.invalid" class="invalid-feedback">
                            <div *ngIf="state.errors.required">State is required

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="district">District</label>

                        <select class="form-control" name="district" [(ngModel)]="model.data.district" #district="ngModel" [ngClass]="{ 'is-invalid': f.submitted && district.invalid }" required>
                                        <option *ngFor="let x of districts" [value]="x">{{x}}</option>
                                    </select>
                        <div *ngIf="f.submitted && district.invalid" class="invalid-feedback">
                            <div *ngIf="district.errors.required">District is required

                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <label for="city">Police City/District</label>
                        <input type="text" class="form-control" name="city" [(ngModel)]="model.data.city" #city="ngModel" [ngClass]="{ 'is-invalid': f.submitted && city.invalid }" required />
                        <div *ngIf="f.submitted && city.invalid" class="invalid-feedback">
                            <div *ngIf="city.errors.required">Police City/District is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="latitute">Latitute</label>
                        <input type="text" class="form-control" name="latitute" [(ngModel)]="model.data.latitute" #latitute="ngModel" [ngClass]="{ 'is-invalid': f.submitted && latitute.invalid }" required />
                        <div *ngIf="f.submitted && latitute.invalid" class="invalid-feedback">
                            <div *ngIf="latitute.errors.required">Latitute is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="longitude">Longitude</label>
                        <input type="text" class="form-control" name="longitude" [(ngModel)]="model.data.longitude" #longitude="ngModel" [ngClass]="{ 'is-invalid': f.submitted && longitude.invalid }" required />
                        <div *ngIf="f.submitted && longitude.invalid" class="invalid-feedback">
                            <div *ngIf="longitude.errors.required">Longitude is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="table-responsive">


            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="table-info">
                        <th class="WidthTableNumber text-center">S.no</th>
                        <th class="WidthTable text-center">Station Name</th>
                        <th class="WidthTable text-center">Station Email</th>
                    </tr>
                </thead>
                <tbody *ngFor="let station of allStations; let i = index">
                    <tr>
                        <th class="text-center">{{i+1}}</th>
                        <td class="text-center">{{station.name}}</td>
                        <td class="text-center">{{station.mail}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>