<div class="page">
    <!-- Main Navbar-->
    <header class="header">
        <nav class="navbar">
            <!-- Search Box-->
            <div class="search-box">
                <button class="dismiss"><i class="icon-close"></i></button>
                <!-- <form id="searchForm" action="#" role="search"> -->
                <input type="search" placeholder="What are you looking for..." class="form-control">
                <!-- </form> -->
            </div>
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <!-- Navbar Header-->
                    <div class="navbar-header">
                        <!-- Navbar Brand -->
                        <a class="navbar-brand d-none d-sm-inline-block">
                            <div class="brand-text d-none d-lg-inline-block"><span><img src="/assets/imgs/logo4.jpg"
                                        class="dash_logo"></span><strong>TARA</strong></div>
                            <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>TARA</strong></div>
                        </a>
                        <!-- Toggle Button--><button id="toggle-btn"
                            class="menu-btn"><span></span><span></span><span></span></button>
                    </div>
                    <!-- Navbar Menu -->
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center"
                        *ngIf="local.roleType==='STAS'">
                        <!-- Languages dropdown    -->
                        <li class="nav-item dropdown"><a id="languages" rel="nofollow" data-target="#" href="#"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                class="nav-link language dropdown-toggle"><i class="icon-user"></i><span
                                    class="d-none d-sm-inline-block">Station</span></a>
                            <ul aria-labelledby="languages" class="dropdown-menu">
                                <li><a rel="nofollow" href="#" class="dropdown-item"><i class="icon-mail"></i>Email:
                                        {{local.mail}}</a></li>
                                <li><a rel="nofollow" class="dropdown-item" (click)="removeLocal()"><i
                                            class="fa fa-sign-out"></i>Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center"
                        *ngIf="local.roleType==='DIST'">
                        <!-- Languages dropdown    -->
                        <li class="nav-item dropdown"><a id="languages" rel="nofollow" data-target="#" href="#"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                class="nav-link language dropdown-toggle"><i class="icon-user"></i><span
                                    class="d-none d-sm-inline-block">Admin</span></a>
                            <ul aria-labelledby="languages" class="dropdown-menu">
                                <li><a rel="nofollow" href="#" class="dropdown-item"><i class="icon-mail"></i>Email:
                                        {{local.mail}}</a></li>
                                <li><a rel="nofollow" class="dropdown-item" (click)="removeLocal()"><i
                                            class="fa fa-sign-out"></i>Logout</a></li>
                            </ul>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>
    </header>
    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar">

            <ul class="list-unstyled" *ngIf="local.roleType==='STAS'">
                <li *ngFor="let item of station">
                    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="{{item.link}}">
                        <i class="{{item.icon}}"></i>{{item.name}}</a>
                </li>

                <li>
                    <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i
                            class="icon-interface-windows"></i>Report</a>
                    <ul id="exampledropdownDropdown" class="collapse list-unstyled report_list">
                        <li *ngFor="let item of reports"><a routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}" routerLink="{{item.link}}">{{item.name}}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="pointer" (click)="removeLocal()"> <i class="fa fa-sign-out"></i>Logout </a>
                </li>
            </ul>


            <ul class="list-unstyled" *ngIf="local.roleType==='DIST'">
                <li *ngFor="let item of admin">
                    <a routerLinkActive="active" routerLink="{{item.link}}">
                        <i class="{{item.icon}}"></i>{{item.name}}</a>
                </li>

                <li>
                    <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i
                            class="icon-interface-windows"></i>Report</a>
                    <ul id="exampledropdownDropdown" class="collapse list-unstyled report_list">
                        <li *ngFor="let item of reports"><a routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}" routerLink="{{item.link}}">{{item.name}}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="pointer" (click)="removeLocal()"> <i class="fa fa-sign-out"></i>Logout </a>
                </li>
            </ul>

        </nav>
        <div class="content-inner">


            <!-- Dashboard Counts Section-->
            <section class="dashboard-counts no-padding-bottom">
                <router-outlet></router-outlet>
            </section>

            
            <!-- Page Footer-->
            <footer class="main-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Transportation Accident Reporting App (TARA) - Dashboard</p>
                        </div>
                        <div class="col-sm-6 text-right">
                            <p>Designed & Developed by <a href="https://ed.iitm.ac.in/~vb/#/" class="external"> RBG
                                    Labs, IIT Madras</a></p>
                            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>