
// .sidebar {
//     background: white;
//     box-shadow: 1px 3px 4px 0px lightgrey
// }

// .sidebar span {
//     color: gray
// }

// .accountDetails {
//     color: white !important;
// }

.side-navbar a.active {
    background: #8d75b3;
}

.side-navbar a.active  {
    color: white
}
a.hover{
    color: white
}

.side-navbar a.active  {
    color: white
}

.fa-fw {
    color: gray
}
nav.side-navbar ul {
    padding: 0px;
}
section {
    padding: 0px;
}
.page{
    background: #ffffff
}
.dash_logo {
    border-radius: 1.5rem;
    margin-right: 1rem;
}
nav.navbar .menu-btn {
    background: none !important;
    border: none !important;
}
nav.side-navbar a{
    color: black;
    font-weight: 500;
}
.report_list{
   height: 14.5rem;;
   overflow:hidden;
   overflow-y:scroll;
}
.side-navbar{
    border-right: 1px solid #cabfbf;
}
.pointer
 {cursor: pointer;}

 .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #ffffff !important;
    border-radius: .3rem;
}