<div class="container">
    <br>
    <div class="card-header text-center">
        <i class="fa fa-book"></i> View Data
    </div>
    <div class="colorBack">
        <div class="text-center">

            <form>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">From Date</label>
                    <div class="col-sm-2">
                        <input  [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}"/>
                    </div>
                    <label for="inputEmail3" class="col-sm-2 col-form-label">To Date</label>
                    <div class="col-sm-2">
                        <input  [(ngModel)]="model.EndDate"class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                    </div>

                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success" (click)="clickme()">Submit</button>
                    </div>
                    <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                </div>

            </form>

            <br>

            <table class="table table-bordered table-hover" *ngIf="entries">
                <thead>
                    <tr class="table-info">
                        <th class="WidthTableNumber text-center">S.no</th>
                        <th class="WidthTable text-center">Accident date</th>
                        <th class="WidthTable text-center">Case ID</th>
                        <th class="WidthTable text-center">View</th>
                    </tr>
                </thead>
                <tbody *ngFor="let entry of entries | paginate: config; let i = index;">
                    <tr>
                        <th class="text-center">{{i+1}}</th>
                        <th class="text-center">{{entry.date}}</th>
                        <td class="text-center"> ARF_{{ entry.hourMinute}}</td>
                        <td class="text-center"><button type="button" class="btn btn-success btn-sm" routerLink="{{entry._id}}">Click</button></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>

