  th,
  tr,
  td {
      border: 2px solid black !important;
  }
  
  .class {
      background-color: #f7f0f0 !important;
      color: #6f0b82;
  }
  table,th{
      padding: 1px
  }
  td{
      text-align: center
  }
.btn-print{
    padding: 0.375rem 5.75rem ;
  }
.btn-csv{
    padding: 0.375rem 4.75rem ;   
  }    