<div class="row">
    <div class="col-md-12">
        <div class="container-fluid">

            <form>
                <div class="row form-group" *ngIf="local.roleType=='DIST'">
                    <div class="col-sm-4">
                        <label for="inputEmail3" class= "col-form-label">From Date</label>
                        <input  [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}"/>
                    </div>

                    <div class="col-sm-4">
                        <label for="inputEmail3" class="col-form-label">To Date</label>
                        <input  [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}"/>
                    </div>
                   
                    <div class="col-4" >
                        <label class="col-form-label">Select Police Station</label>
                        <select class="form-control" name="stationId" [(ngModel)]="stationId">
                        <option>Choose..</option>
                    
                    <option *ngFor="let stname of allStations" value="{{stname._id}}">{{stname.name}}</option>
                    </select>
                    </div>

                </div>
                <div class="row form-group" *ngIf="local.roleType!=='DIST'">
                        <div class="col-sm-6">
                            <label for="inputEmail3" class= "col-form-label">From Date</label>
                            <input [(ngModel)]="model.StartDate"  class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                        </div>
    
                        <div class="col-sm-6">
                            <label for="inputEmail3" class="col-form-label">To Date</label>
                            <input [(ngModel)]="model.EndDate"  class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                        </div>
    
                    </div>

                <div class="row form-group">
                <div class="col-sm mt-4 text-center">
                    <input (click)="onSubmit()" type="button" value="Submit" class="btn btn-success">
                </div>
                </div>
            </form>
            <br>
            <div style="overflow: hidden" *ngIf="entries.jan">
                <div class="row">
                    <div class="col-sm-3 text-left">
                            <input (click)="printOne()" value="Print" class="btn btn-success">
                    </div>
                    <div class="col-sm-3 text-left">
                            <input (click)="exportCsvOne()" value="Export csv" class="btn btn-success">
                    </div>
                </div>
                <div style="overflow: hidden" id="tableOne">
                <table class="table table-borderless table-responsive" width="100%">
                    <tr style=" border: 2px solid black" >
                        <th style=" border: 2px solid black"  colspan="13" class="class text-center"><b> 1. Total number of Accidents Classified According
                                to
                                Month of
                                the
                                Year

                            </b></th>
                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  rowspan="2" class="text-center"><br><br>Month</th>
                        <th style=" border: 2px solid black"  colspan="6" class="text-center">Number of Accidents</th>
                        <th style=" border: 2px solid black"  colspan="6" class="text-center">Number of Persons <br>(based on type of Accidents)</th>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                       <th class="text-center" style=" border: 2px solid black" >Fatal</th>
                       <th class="text-center" style=" border: 2px solid black" >Grievous<br>Injury</th>
                       <th class="text-center" style=" border: 2px solid black" >Simple<br>Injury<br>(hospitalized) </th>
                       <th class="text-center" style=" border: 2px solid black" >Simple<br>Injury<br>(not hospitalized) </th>
                       <th class="text-center" style=" border: 2px solid black" >Vehicle<br>Damage<br>(No Injury)</th>
                       <th class="text-center" style=" border: 2px solid black" >Total</th>
                       <th class="text-center" style=" border: 2px solid black" >Fatal</th>
                       <th class="text-center" style=" border: 2px solid black" >Grievous<br>Injury</th>
                       <th class="text-center" style=" border: 2px solid black" >Simple<br>Injury<br>(hospitalized) </th>
                       <th class="text-center" style=" border: 2px solid black" >Simple<br>Injury<br>(not hospitalized) </th>
                       <th class="text-center" style=" border: 2px solid black" >Vehicle<br>Damage<br>(No Injury)</th>
                       <th class="text-center" style=" border: 2px solid black" >Total</th>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >January</th>
                        <td style=" border: 2px solid black" >{{entries.jan.fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.minor}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.jan.personsFatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.personsGrievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.personsSimple}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.personsNotHospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.personsNoinjur}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.personsFatal+ entries.jan.personsGrievious+ entries.jan.personsNotHospitalized+ entries.jan.personsNoinjur+ entries.jan.personsSimple }}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >February</th>
                        <td style=" border: 2px solid black" >{{entries.feb.fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.minor}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.feb.total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.feb.personsFatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.personsGrievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.personsSimple}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.personsNotHospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.personsNoinjur}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.personsFatal+ entries.feb.personsGrievious+ entries.feb.personsNotHospitalized+ entries.feb.personsNoinjur+ entries.feb.personsSimple }}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >March</th>
                        <td style=" border: 2px solid black" >{{entries.mar.fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.minor}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.mar.total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.mar.personsFatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.personsGrievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.personsSimple}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.personsNotHospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.personsNoinjur}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.personsFatal+ entries.mar.personsGrievious+ entries.mar.personsNotHospitalized+ entries.mar.personsNoinjur+ entries.mar.personsSimple }}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >April</th>
                        <td style=" border: 2px solid black" >{{entries.april.fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.minor}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.april.total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.april.personsFatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.personsGrievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.personsSimple}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.personsNotHospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.personsNoinjur}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.personsFatal+ entries.april.personsGrievious+ entries.april.personsNotHospitalized+ entries.april.personsNoinjur+ entries.april.personsSimple }}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >May</th>
                        <td style=" border: 2px solid black" >{{entries.may.fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.minor}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.may.total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.may.personsFatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.personsGrievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.personsSimple}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.personsNotHospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.personsNoinjur}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.personsFatal+ entries.may.personsGrievious+ entries.may.personsNotHospitalized+ entries.may.personsNoinjur+ entries.may.personsSimple }}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >June</th>
                        <td style=" border: 2px solid black" >{{entries.jun.fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.minor}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.jun.total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.jun.personsFatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.personsGrievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.personsSimple}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.personsNotHospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.personsNoinjur}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.personsFatal+ entries.jun.personsGrievious+ entries.jun.personsNotHospitalized+ entries.jun.personsNoinjur+ entries.jun.personsSimple }}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >July
                        </th>
                        <td style=" border: 2px solid black" >{{entries.jul.fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.minor}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.jul.total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.jul.personsFatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.personsGrievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.personsSimple}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.personsNotHospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.personsNoinjur}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.personsFatal+ entries.jul.personsGrievious+ entries.jul.personsNotHospitalized+ entries.jul.personsNoinjur+ entries.jul.personsSimple }}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >August</th>
                        <td style=" border: 2px solid black" >{{entries.aug.fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.minor}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.aug.total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.aug.personsFatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.personsGrievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.personsSimple}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.personsNotHospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.personsNoinjur}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.personsFatal+ entries.aug.personsGrievious+ entries.aug.personsNotHospitalized+ entries.aug.personsNoinjur+ entries.aug.personsSimple }}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >September</th>
                        <td style=" border: 2px solid black" >{{entries.sept.fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.minor}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.sept.total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.sept.personsFatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.personsGrievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.personsSimple}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.personsNotHospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.personsNoinjur}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.personsFatal+ entries.sept.personsGrievious+ entries.sept.personsNotHospitalized+ entries.sept.personsNoinjur+ entries.sept.personsSimple }}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >October</th>
                        <td style=" border: 2px solid black" >{{entries.oct.fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.minor}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.oct.total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.oct.personsFatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.personsGrievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.personsSimple}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.personsNotHospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.personsNoinjur}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.personsFatal+ entries.oct.personsGrievious+ entries.oct.personsNotHospitalized+ entries.oct.personsNoinjur+ entries.oct.personsSimple }}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >November</th>
                        <td style=" border: 2px solid black" >{{entries.nov.fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.minor}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.nov.total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.nov.personsFatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.personsGrievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.personsSimple}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.personsNotHospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.personsNoinjur}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.personsFatal+ entries.nov.personsGrievious+ entries.nov.personsNotHospitalized+ entries.nov.personsNoinjur+ entries.nov.personsSimple }}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >December</th>
                        <td style=" border: 2px solid black" >{{entries.dec.fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.minor}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.nov.total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.dec.personsFatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.personsGrievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.personsSimple}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.personsNotHospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.personsNoinjur}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.personsFatal+ entries.dec.personsGrievious+ entries.dec.personsNotHospitalized+ entries.dec.personsNoinjur+ entries.dec.personsSimple }}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >Total</th>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.fatal+entries.feb.fatal+entries.mar.fatal+entries.april.fatal+entries.may.fatal+entries.jun.fatal+entries.jul.fatal+entries.aug.fatal+entries.sept.fatal+entries.oct.fatal+entries.nov.fatal+entries.dec.fatal}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.grievious+entries.feb.grievious+entries.mar.grievious+entries.april.grievious+entries.may.grievious+entries.jun.grievious+entries.jul.grievious+entries.aug.grievious+entries.sept.grievious+entries.oct.grievious+entries.nov.grievious+entries.dec.grievious}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.minor+entries.feb.minor+entries.mar.minor+entries.april.minor+entries.may.minor+entries.jun.minor+entries.jul.minor+entries.aug.minor+entries.sept.minor+entries.oct.minor+entries.nov.minor+entries.dec.minor}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.not_hospitalized+entries.feb.not_hospitalized+entries.mar.not_hospitalized+entries.april.not_hospitalized+entries.may.not_hospitalized+entries.jun.not_hospitalized+entries.jul.not_hospitalized+entries.aug.not_hospitalized+entries.sept.not_hospitalized+entries.oct.not_hospitalized+entries.nov.not_hospitalized+entries.dec.not_hospitalized}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.noinjur+entries.feb.noinjur+entries.mar.noinjur+entries.april.noinjur+entries.may.noinjur+entries.jun.noinjur+entries.jul.noinjur+entries.aug.noinjur+entries.sept.noinjur+entries.oct.noinjur+entries.nov.noinjur+entries.dec.noinjur}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.total+entries.feb.total+entries.mar.total+entries.april.total+entries.may.total+entries.jun.total+entries.jul.total+entries.aug.total+entries.sept.total+entries.oct.total+entries.nov.total+entries.dec.total}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.personsFatal+entries.feb.personsFatal+entries.mar.personsFatal+entries.april.personsFatal+ entries.may.personsFatal+entries.jun.personsFatal+entries.jul.personsFatal+entries.aug.personsFatal+ entries.sept.personsFatal+entries.oct.personsFatal+entries.nov.personsFatal+entries.dec.personsFatal}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.personsGrievious+entries.feb.personsGrievious+entries.mar.personsGrievious+entries.april.personsGrievious+ entries.may.personsGrievious+entries.jun.personsGrievious+entries.jul.personsGrievious+entries.aug.personsGrievious+ entries.sept.personsGrievious+entries.oct.personsGrievious+entries.nov.personsGrievious+entries.dec.personsGrievious}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.personsSimple+entries.feb.personsSimple+entries.mar.personsSimple+entries.april.personsSimple+ entries.may.personsSimple+entries.jun.personsSimple+entries.jul.personsSimple+entries.aug.personsSimple+ entries.sept.personsSimple+entries.oct.personsSimple+entries.nov.personsSimple+entries.dec.personsSimple}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.personsNotHospitalized+entries.feb.personsNotHospitalized+entries.mar.personsNotHospitalized+entries.april.personsNotHospitalized+ entries.may.personsNotHospitalized+entries.jun.personsNotHospitalized+entries.jul.personsNotHospitalized+entries.aug.personsNotHospitalized+
                            entries.sept.personsNotHospitalized+entries.oct.personsNotHospitalized+entries.nov.personsNotHospitalized+entries.dec.personsNotHospitalized}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.personsNoinjur+entries.feb.personsNoinjur+entries.mar.personsNoinjur+entries.april.personsNoinjur+ entries.may.personsNoinjur+entries.jun.personsNoinjur+entries.jul.personsNoinjur+entries.aug.personsNoinjur+ entries.sept.personsNoinjur+entries.oct.personsNoinjur+entries.nov.personsNoinjur+entries.dec.personsNoinjur}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.personsFatal+entries.feb.personsFatal+entries.mar.personsFatal+entries.april.personsFatal+ entries.may.personsFatal+entries.jun.personsFatal+entries.jul.personsFatal+entries.aug.personsFatal+ entries.sept.personsFatal+entries.oct.personsFatal+entries.nov.personsFatal+entries.dec.personsFatal+
                            entries.jan.personsGrievious+entries.feb.personsGrievious+entries.mar.personsGrievious+entries.april.personsGrievious+ entries.may.personsGrievious+entries.jun.personsGrievious+entries.jul.personsGrievious+entries.aug.personsGrievious+
                            entries.sept.personsGrievious+entries.oct.personsGrievious+entries.nov.personsGrievious+entries.dec.personsGrievious+ entries.jan.personsSimple+entries.feb.personsSimple+entries.mar.personsSimple+entries.april.personsSimple+
                            entries.may.personsSimple+entries.jun.personsSimple+entries.jul.personsSimple+entries.aug.personsSimple+ entries.sept.personsSimple+entries.oct.personsSimple+entries.nov.personsSimple+entries.dec.personsSimple+ entries.jan.personsNotHospitalized+entries.feb.personsNotHospitalized+entries.mar.personsNotHospitalized+entries.april.personsNotHospitalized+
                            entries.may.personsNotHospitalized+entries.jun.personsNotHospitalized+entries.jul.personsNotHospitalized+entries.aug.personsNotHospitalized+ entries.sept.personsNotHospitalized+entries.oct.personsNotHospitalized+entries.nov.personsNotHospitalized+entries.dec.personsNotHospitalized+
                            entries.jan.personsNoinjur+entries.feb.personsNoinjur+entries.mar.personsNoinjur+entries.april.personsNoinjur+ entries.may.personsNoinjur+entries.jun.personsNoinjur+entries.jul.personsNoinjur+entries.aug.personsNoinjur+ entries.sept.personsNoinjur+entries.oct.personsNoinjur+entries.nov.personsNoinjur+entries.dec.personsNoinjur
                            }}
                        </td>

                    </tr>


                    
                </table>
                </div>
            </div>
            <br>
                <br>

                <div style="overflow: hidden" *ngIf="entries.jan">
                    <div class="row">
                        <div class="col-sm-3 text-left">
                                <input type="button" (click)="printTwo()" value="Print" class="btn btn-success btn-print">
                        </div>
                        <div class="col-sm-3 text-left">
                                <input type="button" (click)="exportCsvTwo()" value="Export csv" class="btn btn-success btn-csv">
                        </div>
                    </div>
                <div style="overflow: hidden" id="tableTwo">     
                <table  class="table table-borderless table-responsive" width="100%">
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  colspan="19" class="class text-center"><b>Number of Persons
                            </b></th>
                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  rowspan="2" class="text-center"><br><br><br>Month</th>
                        <th style=" border: 2px solid black"  colspan="6" class="text-center">Driver <br>(based on type of Accidents)</th>
                        <th style=" border: 2px solid black"  colspan="6" class="text-center">Passenger <br>(based on type of Accidents)</th>
                        <th style=" border: 2px solid black"  colspan="6" class="text-center">Pedestrain <br>(based on type of Accidents)</th>
                    </tr>
                    <tr style=" border: 2px solid black"  >
                       <th class="text-center" style=" border: 2px solid black" >Fatal</th>
                       <th class="text-center" style=" border: 2px solid black" >Grievous<br>Injury</th>
                       <th class="text-center" style=" border: 2px solid black" >Simple<br>Injury<br>(hospitalized) </th>
                       <th class="text-center" style=" border: 2px solid black" >Simple<br>Injury<br>(not hospitalized) </th>
                       <th class="text-center" style=" border: 2px solid black" >Vehicle<br>Damage<br>(No Injury)</th>
                       <th class="text-center" style=" border: 2px solid black" >Total</th>
                       <th class="text-center" style=" border: 2px solid black" >Fatal</th>
                       <th class="text-center" style=" border: 2px solid black" >Grievous<br>Injury</th>
                       <th class="text-center" style=" border: 2px solid black" >Simple<br>Injury<br>(hospitalized) </th>
                       <th class="text-center" style=" border: 2px solid black" >Simple<br>Injury<br>(not hospitalized) </th>
                       <th class="text-center" style=" border: 2px solid black" >Vehicle<br>Damage<br>(No Injury)</th>
                       <th class="text-center" style=" border: 2px solid black" >Total</th>
                       <th class="text-center" style=" border: 2px solid black" >Fatal</th>
                       <th class="text-center" style=" border: 2px solid black" >Grievous<br>Injury</th>
                       <th class="text-center" style=" border: 2px solid black" >Simple<br>Injury<br>(hospitalized) </th>
                       <th class="text-center" style=" border: 2px solid black" >Simple<br>Injury<br>(not hospitalized) </th>
                       <th class="text-center" style=" border: 2px solid black" >Vehicle<br>Damage<br>(No Injury)</th>
                       <th class="text-center" style=" border: 2px solid black" >Total</th>


                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >January</th>
                        <td style=" border: 2px solid black" >{{entries.jan.driver_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.driver_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.driver_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.driver_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.driver_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.driver_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.jan.passenger_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.passenger_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.passenger_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.passenger_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.passenger_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.passenger_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.jan.pedestrain_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.pedestrain_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.pedestrain_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.pedestrain_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.jan.pedestrain_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.pedestrain_total}}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >February</th>
                        <td style=" border: 2px solid black" >{{entries.feb.driver_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.driver_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.driver_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.driver_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.driver_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.feb.driver_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.feb.passenger_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.passenger_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.passenger_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.passenger_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.passenger_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.feb.passenger_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.feb.pedestrain_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.pedestrain_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.pedestrain_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.pedestrain_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.feb.pedestrain_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.feb.pedestrain_total}}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >March</th>
                        <td style=" border: 2px solid black" >{{entries.mar.driver_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.driver_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.driver_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.driver_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.driver_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.mar.driver_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.mar.passenger_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.passenger_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.passenger_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.passenger_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.passenger_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.mar.passenger_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.mar.pedestrain_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.pedestrain_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.pedestrain_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.pedestrain_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.mar.pedestrain_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.mar.pedestrain_total}}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >April</th>
                        <td style=" border: 2px solid black" >{{entries.april.driver_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.driver_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.driver_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.driver_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.driver_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.april.driver_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.april.passenger_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.passenger_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.passenger_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.passenger_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.passenger_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.april.passenger_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.april.pedestrain_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.pedestrain_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.pedestrain_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.pedestrain_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.april.pedestrain_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.april.pedestrain_total}}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >May</th>
                        <td style=" border: 2px solid black" >{{entries.may.driver_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.driver_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.driver_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.driver_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.driver_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.may.driver_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.may.passenger_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.passenger_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.passenger_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.passenger_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.passenger_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.may.passenger_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.may.pedestrain_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.pedestrain_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.pedestrain_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.pedestrain_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.may.pedestrain_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.may.pedestrain_total}}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >June</th>
                        <td style=" border: 2px solid black" >{{entries.jun.driver_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.driver_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.driver_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.driver_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.driver_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.jun.driver_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.jun.passenger_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.passenger_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.passenger_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.passenger_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.passenger_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.jun.passenger_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.jun.pedestrain_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.pedestrain_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.pedestrain_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.pedestrain_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.jun.pedestrain_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.jun.pedestrain_total}}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >July</th>
                        <td style=" border: 2px solid black" >{{entries.jul.driver_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.driver_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.driver_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.driver_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.driver_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.jul.driver_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.jul.passenger_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.passenger_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.passenger_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.passenger_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.passenger_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.jul.passenger_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.jul.pedestrain_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.pedestrain_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.pedestrain_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.pedestrain_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.jul.pedestrain_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.jul.pedestrain_total}}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >August</th>
                        <td style=" border: 2px solid black" >{{entries.aug.driver_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.driver_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.driver_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.driver_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.driver_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.aug.driver_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.aug.passenger_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.passenger_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.passenger_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.passenger_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.passenger_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.aug.passenger_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.aug.pedestrain_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.pedestrain_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.pedestrain_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.pedestrain_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.aug.pedestrain_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.aug.pedestrain_total}}
                        </td>
                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >September</th>
                        <td style=" border: 2px solid black" >{{entries.sept.driver_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.driver_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.driver_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.driver_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.driver_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.sept.driver_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.sept.passenger_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.passenger_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.passenger_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.passenger_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.passenger_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.sept.passenger_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.sept.pedestrain_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.pedestrain_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.pedestrain_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.pedestrain_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.sept.pedestrain_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.sept.pedestrain_total}}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >October</th>
                        <td style=" border: 2px solid black" >{{entries.oct.driver_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.driver_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.driver_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.driver_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.driver_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.oct.driver_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.oct.passenger_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.passenger_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.passenger_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.passenger_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.passenger_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.oct.passenger_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.oct.pedestrain_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.pedestrain_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.pedestrain_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.pedestrain_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.oct.pedestrain_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.oct.pedestrain_total}}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >November</th>
                        <td style=" border: 2px solid black" >{{entries.nov.driver_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.driver_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.driver_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.driver_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.driver_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.nov.driver_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.nov.passenger_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.passenger_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.passenger_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.passenger_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.passenger_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.nov.passenger_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.nov.pedestrain_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.pedestrain_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.pedestrain_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.pedestrain_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.nov.pedestrain_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.nov.pedestrain_total}}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >December</th>
                        <td style=" border: 2px solid black" >{{entries.dec.driver_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.driver_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.driver_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.driver_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.driver_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.dec.driver_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.dec.passenger_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.passenger_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.passenger_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.passenger_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.passenger_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.dec.passenger_total}}
                        </td>
                        <td style=" border: 2px solid black" >{{entries.dec.pedestrain_fatal}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.pedestrain_grievious}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.pedestrain_simple}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.pedestrain_not_hospitalized}}</td>
                        <td style=" border: 2px solid black" >{{entries.dec.pedestrain_noinjur}}</td>
                        <td style=" border: 2px solid black" >
                            {{entries.dec.pedestrain_total}}
                        </td>

                    </tr>
                    <tr style=" border: 2px solid black"  >
                        <th style=" border: 2px solid black"  >Total</th>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.driver_fatal+entries.feb.driver_fatal+entries.mar.driver_fatal+entries.april.driver_fatal+entries.may.driver_fatal+entries.jun.driver_fatal+entries.jul.driver_fatal+entries.aug.driver_fatal+entries.sept.driver_fatal+entries.oct.driver_fatal+entries.nov.driver_fatal+entries.dec.driver_fatal}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.driver_grievious+entries.feb.driver_grievious+entries.mar.driver_grievious+entries.april.driver_grievious+entries.may.driver_grievious+entries.jun.driver_grievious+entries.jul.driver_grievious+entries.aug.driver_grievious+entries.sept.driver_grievious+entries.oct.driver_grievious+entries.nov.driver_grievious+entries.dec.driver_grievious}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.driver_simple+entries.feb.driver_simple+entries.mar.driver_simple+entries.april.driver_simple+entries.may.driver_simple+entries.jun.driver_simple+entries.jul.driver_simple+entries.aug.driver_simple+entries.sept.driver_simple+entries.oct.driver_simple+entries.nov.driver_simple+entries.dec.driver_simple}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.driver_not_hospitalized+entries.feb.driver_not_hospitalized+entries.mar.driver_not_hospitalized+entries.april.driver_not_hospitalized+entries.may.driver_not_hospitalized+entries.jun.driver_not_hospitalized+entries.jul.driver_not_hospitalized+entries.aug.driver_not_hospitalized+entries.sept.driver_not_hospitalized+entries.oct.driver_not_hospitalized+entries.nov.driver_not_hospitalized+entries.dec.driver_not_hospitalized}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.driver_noinjur+entries.feb.driver_noinjur+entries.mar.driver_noinjur+entries.april.driver_noinjur+entries.may.driver_noinjur+entries.jun.driver_noinjur+entries.jul.driver_noinjur+entries.aug.driver_noinjur+entries.sept.driver_noinjur+entries.oct.driver_noinjur+entries.nov.driver_noinjur+entries.dec.driver_noinjur}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.driver_total+entries.feb.driver_total+entries.mar.driver_total+entries.april.driver_total+entries.may.driver_total+entries.jun.driver_total+entries.jul.driver_total+entries.aug.driver_total+entries.sept.driver_total+entries.oct.driver_total+entries.nov.driver_total+entries.dec.driver_total}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.passenger_fatal+entries.feb.passenger_fatal+entries.mar.passenger_fatal+entries.april.passenger_fatal+entries.may.passenger_fatal+entries.jun.passenger_fatal+entries.jul.passenger_fatal+entries.aug.passenger_fatal+entries.sept.passenger_fatal+entries.oct.passenger_fatal+entries.nov.passenger_fatal+entries.dec.passenger_fatal}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.passenger_grievious+entries.feb.passenger_grievious+entries.mar.passenger_grievious+entries.april.passenger_grievious+entries.may.passenger_grievious+entries.jun.passenger_grievious+entries.jul.passenger_grievious+entries.aug.passenger_grievious+entries.sept.passenger_grievious+entries.oct.passenger_grievious+entries.nov.passenger_grievious+entries.dec.passenger_grievious}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.passenger_simple+entries.feb.passenger_simple+entries.mar.passenger_simple+entries.april.passenger_simple+entries.may.passenger_simple+entries.jun.passenger_simple+entries.jul.passenger_simple+entries.aug.passenger_simple+entries.sept.passenger_simple+entries.oct.passenger_simple+entries.nov.passenger_simple+entries.dec.passenger_simple}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.passenger_not_hospitalized+entries.feb.passenger_not_hospitalized+entries.mar.passenger_not_hospitalized+entries.april.passenger_not_hospitalized+entries.may.passenger_not_hospitalized+entries.jun.passenger_not_hospitalized+entries.jul.passenger_not_hospitalized+entries.aug.passenger_not_hospitalized+entries.sept.passenger_not_hospitalized+entries.oct.passenger_not_hospitalized+entries.nov.passenger_not_hospitalized+entries.dec.passenger_not_hospitalized}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.passenger_noinjur+entries.feb.passenger_noinjur+entries.mar.passenger_noinjur+entries.april.passenger_noinjur+entries.may.passenger_noinjur+entries.jun.passenger_noinjur+entries.jul.passenger_noinjur+entries.aug.passenger_noinjur+entries.sept.passenger_noinjur+entries.oct.passenger_noinjur+entries.nov.passenger_noinjur+entries.dec.passenger_noinjur}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.passenger_total+entries.feb.driver_total+entries.mar.driver_total+entries.april.driver_total+entries.may.driver_total+entries.jun.driver_total+entries.jul.driver_total+entries.aug.driver_total+entries.sept.driver_total+entries.oct.driver_total+entries.nov.driver_total+entries.dec.driver_total}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.pedestrain_fatal+entries.feb.pedestrain_fatal+entries.mar.pedestrain_fatal+entries.april.pedestrain_fatal+entries.may.pedestrain_fatal+entries.jun.pedestrain_fatal+entries.jul.pedestrain_fatal+entries.aug.pedestrain_fatal+entries.sept.pedestrain_fatal+entries.oct.pedestrain_fatal+entries.nov.pedestrain_fatal+entries.dec.pedestrain_fatal}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.pedestrain_grievious+entries.feb.pedestrain_grievious+entries.mar.pedestrain_grievious+entries.april.pedestrain_grievious+entries.may.pedestrain_grievious+entries.jun.pedestrain_grievious+entries.jul.pedestrain_grievious+entries.aug.pedestrain_grievious+entries.sept.pedestrain_grievious+entries.oct.pedestrain_grievious+entries.nov.pedestrain_grievious+entries.dec.pedestrain_grievious}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.pedestrain_simple+entries.feb.pedestrain_simple+entries.mar.pedestrain_simple+entries.april.pedestrain_simple+entries.may.pedestrain_simple+entries.jun.pedestrain_simple+entries.jul.pedestrain_simple+entries.aug.pedestrain_simple+entries.sept.pedestrain_simple+entries.oct.pedestrain_simple+entries.nov.pedestrain_simple+entries.dec.pedestrain_simple}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.pedestrain_not_hospitalized+entries.feb.pedestrain_not_hospitalized+entries.mar.pedestrain_not_hospitalized+entries.april.pedestrain_not_hospitalized+entries.may.pedestrain_not_hospitalized+entries.jun.pedestrain_not_hospitalized+entries.jul.pedestrain_not_hospitalized+entries.aug.pedestrain_not_hospitalized+entries.sept.pedestrain_not_hospitalized+entries.oct.pedestrain_not_hospitalized+entries.nov.pedestrain_not_hospitalized+entries.dec.pedestrain_not_hospitalized}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.pedestrain_noinjur+entries.feb.pedestrain_noinjur+entries.mar.pedestrain_noinjur+entries.april.pedestrain_noinjur+entries.may.pedestrain_noinjur+entries.jun.pedestrain_noinjur+entries.jul.pedestrain_noinjur+entries.aug.pedestrain_noinjur+entries.sept.pedestrain_noinjur+entries.oct.pedestrain_noinjur+entries.nov.pedestrain_noinjur+entries.dec.pedestrain_noinjur}}
                        </td>
                        <td style=" border: 2px solid black" >
                            {{entries.jan.driver_total+entries.feb.driver_total+entries.mar.driver_total+entries.april.driver_total+entries.may.driver_total+entries.jun.driver_total+entries.jul.driver_total+entries.aug.driver_total+entries.sept.driver_total+entries.oct.driver_total+entries.nov.driver_total+entries.dec.driver_total}}
                        </td>

                    </tr>



                </table>
                </div>
            </div>
        </div>


    </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>