<div class="row">
    <div class="col-md-12">
        <div class="container-fluid">
            <form (ngSubmit)="onSubmit()" #yourForm="ngForm">
                    <div class="row form-group" *ngIf="local.roleType=='DIST'">
                            <div class="col-sm-4">
                                <label for="inputEmail3" class= "col-form-label">From Date</label>
                                <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
        
                            <div class="col-sm-4">
                                <label for="inputEmail3" class="col-form-label">To Date</label>
                                <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
                           
                            <div class="col-4" >
                                <label class="col-form-label">Select Police Station</label>
                                <select class="form-control" name="stationId" [(ngModel)]="stationId">
                                <option>Choose..</option>
                            
                            <option *ngFor="let stname of allStations" value="{{stname._id}}">{{stname.name}}</option>
                            </select>
                            </div>
        
                        </div>
                        <div class="row form-group" *ngIf="local.roleType!=='DIST'">
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class= "col-form-label">From Date</label>
                                    <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class="col-form-label">To Date</label>
                                    <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                            </div>
        
                        <div class="row form-group">
                        <div class="col-sm mt-4 text-center">
                            <input type="submit" [disabled]="!yourForm.form.valid" value="Submit" class="btn btn-success">
                        </div>
                        </div>
            </form>
            <br>
            <div style="overflow: hidden" *ngIf="entries.StraightRoad">
                <div class="row">
                    <div class="col-sm-3 text-left">
                            <input (click)="printOne()" value="Print" class="btn btn-success">
                    </div>
                    <div class="col-sm-3 text-left">
                            <input (click)="exportCsvOne()" value="Export csv" class="btn btn-success">
                    </div>
                </div>
                <div style="overflow: hidden" id="tableOne">
            <table class="table table-borderless table-responsive" width="100%" *ngIf="entries.StraightRoad">
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" colspan="13" class="class text-center"><b> 6. Accidents Classified According to Road Features</b></th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" rowspan="2" class="text-center"><br><br>Road Features</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Number of Accidents</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Number of Persons <br>(based on type of Accidents)</th>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Straight Road</th>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.total}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.StraightRoad.personsFatal+entries.StraightRoad.personsGrievious+ entries.StraightRoad.personsSimple+entries.StraightRoad.personsNotHospitalized+ entries.StraightRoad.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Curved Road</th>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.total}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.CurvedRoad.personsFatal+entries.CurvedRoad.personsGrievious+ entries.CurvedRoad.personsSimple+entries.CurvedRoad.personsNotHospitalized+ entries.CurvedRoad.personsNoinjur}}
                    </td>


                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Bridge</th>
                    <td style=" border: 2px solid black">{{entries.Bridge.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.total}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.Bridge.personsFatal+entries.Bridge.personsGrievious+ entries.Bridge.personsSimple+entries.Bridge.personsNotHospitalized+ entries.Bridge.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Culvert</th>
                    <td style=" border: 2px solid black">{{entries.Culvert.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.total}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.Culvert.personsFatal+entries.Culvert.personsGrievious+ entries.Culvert.personsSimple+entries.Culvert.personsNotHospitalized+ entries.Culvert.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Pot Holes</th>
                    <td style=" border: 2px solid black">{{entries.PotHoles.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.total}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.PotHoles.personsFatal+entries.PotHoles.personsGrievious+ entries.PotHoles.personsSimple+entries.PotHoles.personsNotHospitalized+ entries.PotHoles.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Steep Grade</th>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.total}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.SteepGrade.personsFatal+entries.SteepGrade.personsGrievious+ entries.SteepGrade.personsSimple+entries.SteepGrade.personsNotHospitalized+ entries.SteepGrade.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Ongoing Road-works / Construction
                    </th>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.total}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.OngoingRoadworksorConstruction.personsFatal+entries.OngoingRoadworksorConstruction.personsGrievious+ entries.OngoingRoadworksorConstruction.personsSimple+entries.OngoingRoadworksorConstruction.personsNotHospitalized+ entries.OngoingRoadworksorConstruction.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Others</th>
                    <td style=" border: 2px solid black">{{entries.Others.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.total}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.Others.personsFatal+entries.Others.personsGrievious+ entries.Others.personsSimple+entries.Others.personsNotHospitalized+ entries.Others.personsNoinjur}}
                    </td>

                </tr>


                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Total</th>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.fatal+entries.CurvedRoad.fatal+entries.Bridge.fatal+entries.Culvert.fatal+entries.PotHoles.fatal+entries.SteepGrade.fatal+entries.OngoingRoadworksorConstruction.fatal+entries.Others.fatal }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.grievious+entries.CurvedRoad.grievious+entries.Bridge.grievious+entries.Culvert.grievious+entries.PotHoles.grievious+entries.SteepGrade.grievious+entries.OngoingRoadworksorConstruction.grievious+entries.Others.grievious }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.minor+entries.CurvedRoad.minor+entries.Bridge.minor+entries.Culvert.minor+entries.PotHoles.minor+entries.SteepGrade.minor+entries.OngoingRoadworksorConstruction.minor+entries.Others.minor }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.not_hospitalized+entries.CurvedRoad.not_hospitalized+entries.Bridge.not_hospitalized+entries.Culvert.not_hospitalized+entries.PotHoles.not_hospitalized+entries.SteepGrade.not_hospitalized+entries.OngoingRoadworksorConstruction.not_hospitalized+entries.Others.not_hospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.noinjur+entries.CurvedRoad.noinjur+entries.Bridge.noinjur+entries.Culvert.noinjur+entries.PotHoles.noinjur+entries.SteepGrade.noinjur+entries.OngoingRoadworksorConstruction.noinjur+entries.Others.noinjur }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.total+entries.CurvedRoad.total+entries.Bridge.total+entries.Culvert.total+entries.PotHoles.total+entries.SteepGrade.total+entries.OngoingRoadworksorConstruction.total+entries.Others.total }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.personsFatal+entries.CurvedRoad.personsFatal+entries.Bridge.personsFatal+entries.Culvert.personsFatal+entries.PotHoles.personsFatal+entries.SteepGrade.personsFatal+entries.OngoingRoadworksorConstruction.personsFatal+entries.Others.personsFatal
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.personsGrievious+entries.CurvedRoad.personsGrievious+entries.Bridge.personsGrievious+entries.Culvert.personsGrievious+entries.PotHoles.personsGrievious+entries.SteepGrade.personsGrievious+entries.OngoingRoadworksorConstruction.personsGrievious+entries.Others.personsGrievious
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.personsSimple+entries.CurvedRoad.personsSimple+entries.Bridge.personsSimple+entries.Culvert.personsSimple+entries.PotHoles.personsSimple+entries.SteepGrade.personsSimple+entries.OngoingRoadworksorConstruction.personsSimple+entries.Others.personsSimple
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.personsNotHospitalized+entries.CurvedRoad.personsNotHospitalized+entries.Bridge.personsNotHospitalized+entries.Culvert.personsNotHospitalized+entries.PotHoles.personsNotHospitalized+entries.SteepGrade.personsNotHospitalized+entries.OngoingRoadworksorConstruction.personsNotHospitalized+entries.Others.personsNotHospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.personsNoinjur+entries.CurvedRoad.personsNoinjur+entries.Bridge.personsNoinjur+entries.Culvert.personsNoinjur+entries.PotHoles.personsNoinjur+entries.SteepGrade.personsNoinjur+entries.OngoingRoadworksorConstruction.personsNoinjur+entries.Others.personsNoinjur
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.personsFatal+entries.CurvedRoad.personsFatal+entries.Bridge.personsFatal+entries.Culvert.personsFatal+entries.PotHoles.personsFatal+entries.SteepGrade.personsFatal+entries.OngoingRoadworksorConstruction.personsFatal+entries.Others.personsFatal
                        + entries.StraightRoad.personsGrievious+entries.CurvedRoad.personsGrievious+entries.Bridge.personsGrievious+entries.Culvert.personsGrievious+entries.PotHoles.personsGrievious+entries.SteepGrade.personsGrievious+entries.OngoingRoadworksorConstruction.personsGrievious+entries.Others.personsGrievious
                        + entries.StraightRoad.personsSimple+entries.CurvedRoad.personsSimple+entries.Bridge.personsSimple+entries.Culvert.personsSimple+entries.PotHoles.personsSimple+entries.SteepGrade.personsSimple+entries.OngoingRoadworksorConstruction.personsSimple+entries.Others.personsSimple
                        + entries.StraightRoad.personsNotHospitalized+entries.CurvedRoad.personsNotHospitalized+entries.Bridge.personsNotHospitalized+entries.Culvert.personsNotHospitalized+entries.PotHoles.personsNotHospitalized+entries.SteepGrade.personsNotHospitalized+entries.OngoingRoadworksorConstruction.personsNotHospitalized+entries.Others.personsNotHospitalized
                        + entries.StraightRoad.personsNoinjur+entries.CurvedRoad.personsNoinjur+entries.Bridge.personsNoinjur+entries.Culvert.personsNoinjur+entries.PotHoles.personsNoinjur+entries.SteepGrade.personsNoinjur+entries.OngoingRoadworksorConstruction.personsNoinjur+entries.Others.personsNoinjur}}
                    </td>








                </tr>



            </table>
            </div>
            </div>
            <br>
            <br>
            <div style="overflow: hidden" *ngIf="entries.StraightRoad">
                <div class="row">
                    <div class="col-sm-3 text-left">
                            <input type="button" (click)="printTwo()" value="Print" class="btn btn-success btn-print">
                    </div>
                    <div class="col-sm-3 text-left">
                            <input type="button" (click)="exportCsvTwo()" value="Export csv" class="btn btn-success btn-csv">
                    </div>
                </div>
            <div style="overflow: hidden" id="tableTwo">  
            <table class="table table-borderless table-responsive" width="100%" *ngIf="entries.StraightRoad">
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" colspan="19" class="class text-center"><b>Number of Persons
            </b></th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" rowspan="2" class="text-center"><br><br>Road Features</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Driver <br>(based on type of Accidents)</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Passenger <br>(based on type of Accidents)</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Pedestrain <br>(based on type of Accidents)</th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>


                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Straight Road</th>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.StraightRoad.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.StraightRoad.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.StraightRoad.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Curved Road</th>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.CurvedRoad.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.CurvedRoad.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.CurvedRoad.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Bridge</th>
                    <td style=" border: 2px solid black">{{entries.Bridge.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Bridge.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Bridge.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Bridge.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Culvert</th>
                    <td style=" border: 2px solid black">{{entries.Culvert.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Culvert.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Culvert.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Culvert.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Pot Holes</th>
                    <td style=" border: 2px solid black">{{entries.PotHoles.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.PotHoles.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.PotHoles.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.PotHoles.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Steep Grade</th>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.SteepGrade.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.SteepGrade.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.SteepGrade.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Ongoing Road-works / Construction
                    </th>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.OngoingRoadworksorConstruction.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Others</th>
                    <td style=" border: 2px solid black">{{entries.Others.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Others.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Total</th>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.driver_fatal+entries.CurvedRoad.driver_fatal+entries.Bridge.driver_fatal+entries.Culvert.driver_fatal+entries.PotHoles.driver_fatal+entries.SteepGrade.driver_fatal+entries.OngoingRoadworksorConstruction.driver_fatal+entries.Others.driver_fatal
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.driver_grievious+entries.CurvedRoad.driver_grievious+entries.Bridge.driver_grievious+entries.Culvert.driver_grievious+entries.PotHoles.driver_grievious+entries.SteepGrade.driver_grievious+entries.OngoingRoadworksorConstruction.driver_grievious+entries.Others.driver_grievious
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.driver_simple+entries.CurvedRoad.driver_simple+entries.Bridge.driver_simple+entries.Culvert.driver_simple+entries.PotHoles.driver_simple+entries.SteepGrade.driver_simple+entries.OngoingRoadworksorConstruction.driver_simple+entries.Others.driver_simple
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.driver_not_hospitalized+entries.CurvedRoad.driver_not_hospitalized+entries.Bridge.driver_not_hospitalized+entries.Culvert.driver_not_hospitalized+entries.PotHoles.driver_not_hospitalized+entries.SteepGrade.driver_not_hospitalized+entries.OngoingRoadworksorConstruction.driver_not_hospitalized+entries.Others.driver_not_hospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.driver_noinjur+entries.CurvedRoad.driver_noinjur+entries.Bridge.driver_noinjur+entries.Culvert.driver_noinjur+entries.PotHoles.driver_noinjur+entries.SteepGrade.driver_noinjur+entries.OngoingRoadworksorConstruction.driver_noinjur+entries.Others.driver_noinjur
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.driver_total+entries.CurvedRoad.driver_total+entries.Bridge.driver_total+entries.Culvert.driver_total+entries.PotHoles.driver_total+entries.SteepGrade.driver_total+entries.OngoingRoadworksorConstruction.driver_total+entries.Others.driver_total
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.passenger_fatal+entries.CurvedRoad.passenger_fatal+entries.Bridge.passenger_fatal+entries.Culvert.passenger_fatal+entries.PotHoles.passenger_fatal+entries.SteepGrade.passenger_fatal+entries.OngoingRoadworksorConstruction.passenger_fatal+entries.Others.passenger_fatal
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.passenger_grievious+entries.CurvedRoad.passenger_grievious+entries.Bridge.passenger_grievious+entries.Culvert.passenger_grievious+entries.PotHoles.passenger_grievious+entries.SteepGrade.passenger_grievious+entries.OngoingRoadworksorConstruction.passenger_grievious+entries.Others.passenger_grievious
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.passenger_simple+entries.CurvedRoad.passenger_simple+entries.Bridge.passenger_simple+entries.Culvert.passenger_simple+entries.PotHoles.passenger_simple+entries.SteepGrade.passenger_simple+entries.OngoingRoadworksorConstruction.passenger_simple+entries.Others.passenger_simple
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.passenger_not_hospitalized+entries.CurvedRoad.passenger_not_hospitalized+entries.Bridge.passenger_not_hospitalized+entries.Culvert.passenger_not_hospitalized+entries.PotHoles.passenger_not_hospitalized+entries.SteepGrade.passenger_not_hospitalized+entries.OngoingRoadworksorConstruction.passenger_not_hospitalized+entries.Others.passenger_not_hospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.passenger_noinjur+entries.CurvedRoad.passenger_noinjur+entries.Bridge.passenger_noinjur+entries.Culvert.passenger_noinjur+entries.PotHoles.passenger_noinjur+entries.SteepGrade.passenger_noinjur+entries.OngoingRoadworksorConstruction.passenger_noinjur+entries.Others.passenger_noinjur
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.passenger_total+entries.CurvedRoad.passenger_total+entries.Bridge.passenger_total+entries.Culvert.passenger_total+entries.PotHoles.passenger_total+entries.SteepGrade.passenger_total+entries.OngoingRoadworksorConstruction.passenger_total+entries.Others.passenger_total
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.pedestrain_fatal+entries.CurvedRoad.pedestrain_fatal+entries.Bridge.pedestrain_fatal+entries.Culvert.pedestrain_fatal+entries.PotHoles.pedestrain_fatal+entries.SteepGrade.pedestrain_fatal+entries.OngoingRoadworksorConstruction.pedestrain_fatal+entries.Others.pedestrain_fatal
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.pedestrain_grievious+entries.CurvedRoad.pedestrain_grievious+entries.Bridge.pedestrain_grievious+entries.Culvert.pedestrain_grievious+entries.PotHoles.pedestrain_grievious+entries.SteepGrade.pedestrain_grievious+entries.OngoingRoadworksorConstruction.pedestrain_grievious+entries.Others.pedestrain_grievious
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.pedestrain_simple+entries.CurvedRoad.pedestrain_simple+entries.Bridge.pedestrain_simple+entries.Culvert.pedestrain_simple+entries.PotHoles.pedestrain_simple+entries.SteepGrade.pedestrain_simple+entries.OngoingRoadworksorConstruction.pedestrain_simple+entries.Others.pedestrain_simple
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.pedestrain_not_hospitalized+entries.CurvedRoad.pedestrain_not_hospitalized+entries.Bridge.pedestrain_not_hospitalized+entries.Culvert.pedestrain_not_hospitalized+entries.PotHoles.pedestrain_not_hospitalized+entries.SteepGrade.pedestrain_not_hospitalized+entries.OngoingRoadworksorConstruction.pedestrain_not_hospitalized+entries.Others.pedestrain_not_hospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.pedestrain_noinjur+entries.CurvedRoad.pedestrain_noinjur+entries.Bridge.pedestrain_noinjur+entries.Culvert.pedestrain_noinjur+entries.PotHoles.pedestrain_noinjur+entries.SteepGrade.pedestrain_noinjur+entries.OngoingRoadworksorConstruction.pedestrain_noinjur+entries.Others.pedestrain_noinjur
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.StraightRoad.pedestrain_total+entries.CurvedRoad.pedestrain_total+entries.Bridge.pedestrain_total+entries.Culvert.pedestrain_total+entries.PotHoles.pedestrain_total+entries.SteepGrade.pedestrain_total+entries.OngoingRoadworksorConstruction.pedestrain_total+entries.Others.pedestrain_total
                        }}
                    </td>


                </tr>


            </table>
            </div>
            </div>
        </div>


    </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>