<br>

<br>
<div class="login-container bg-dark">
    <div class="login-box">
        <div class="container">

            <div class="text-center">
                <img style="max-height: 150px" src="/assets/imgs/logo.png" />
            </div>

            <div class="card col-md-6 mt-3 mx-auto">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        TARA Dashboard
                    </h4>
                  <form  [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
                      <div class="form-group">
                            <label for="mail">Email</label>
                            <input  type="text" formControlName="mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mail.errors }"/>
                            <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
                                <div *ngIf="f.mail.errors.required">Email is required</div>
                                <div *ngIf="f.mail.errors.mail">Enter valid mailId</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input  type="password" formControlName="password" class="form-control" minlength="6" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Min 6 char required</div>
                            </div>
                        </div>


                        <div class="form-group">
                            <button [disabled]="loading" type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>