<div class="row">
    <div class="col-md-12">
        <div class="container-fluid">
            <form (ngSubmit)="onSubmit()" #yourForm="ngForm">
                    <div class="row form-group" *ngIf="local.roleType=='DIST'">
                            <div class="col-sm-4">
                                <label for="inputEmail3" class= "col-form-label">From Date</label>
                                <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
        
                            <div class="col-sm-4">
                                <label for="inputEmail3" class="col-form-label">To Date</label>
                                <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
                           
                            <div class="col-4" >
                                <label class="col-form-label">Select Police Station</label>
                                <select class="form-control" name="stationId" [(ngModel)]="stationId">
                                <option>Choose..</option>
                            
                            <option *ngFor="let stname of allStations" value="{{stname._id}}">{{stname.name}}</option>
                            </select>
                            </div>
        
                        </div>
                        <div class="row form-group" *ngIf="local.roleType!=='DIST'">
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class= "col-form-label">From Date</label>
                                    <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class="col-form-label">To Date</label>
                                    <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                            </div>
        
                        <div class="row form-group">
                        <div class="col-sm mt-4 text-center">
                            <input type="submit" [disabled]="!yourForm.form.valid" value="Submit" class="btn btn-success">
                        </div>
                        </div>
            </form>
            <br>

            <div style="overflow: hidden" *ngIf="entries.ResidentialArea">
                <div class="row">
                    <div class="col-sm-3 text-left">
                            <input (click)="printOne()" value="Print" class="btn btn-success">
                    </div>
                    <div class="col-sm-3 text-left">
                            <input (click)="exportCsvOne()" value="Export csv" class="btn btn-success">
                    </div>
                </div>
                <div style="overflow: hidden" id="tableOne">
            <table class="table table-borderless table-responsive" width="100%" *ngIf="entries.ResidentialArea">
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" colspan="13" class="class text-center"><b> 5. Accidents Classified According to Road Environment</b></th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" rowspan="2" class="text-center"><br><br>Accident Spot</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Number of Accidents</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Number of Persons <br>(based on type of Accidents)</th>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Residential Area</th>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.total}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.personsFatal+entries.ResidentialArea.personsGrievious+ entries.ResidentialArea.personsSimple+entries.ResidentialArea.personsNotHospitalized+ entries.ResidentialArea.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Institutional Area</th>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.total}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.InstitutionalArea.personsFatal+entries.InstitutionalArea.personsGrievious+ entries.InstitutionalArea.personsSimple+entries.InstitutionalArea.personsNotHospitalized+ entries.InstitutionalArea.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Market / Commercial Area</th>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.total}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.MarketcommercialArea.personsFatal+entries.MarketcommercialArea.personsGrievious+ entries.MarketcommercialArea.personsSimple+entries.MarketcommercialArea.personsNotHospitalized+ entries.MarketcommercialArea.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Open Area</th>
                    <td style=" border: 2px solid black">{{entries.Open.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.total}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.Open.personsFatal+entries.Open.personsGrievious+ entries.Open.personsSimple+entries.Open.personsNotHospitalized+ entries.Open.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Others</th>
                    <td style=" border: 2px solid black">{{entries.Others.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.total}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.Others.personsFatal+entries.Others.personsGrievious+ entries.Others.personsSimple+entries.Others.personsNotHospitalized+ entries.Others.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Total</th>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.fatal+entries.InstitutionalArea.fatal+ entries.MarketcommercialArea.fatal+entries.Open.fatal+ entries.Others.fatal }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.grievious+entries.InstitutionalArea.grievious+ entries.MarketcommercialArea.grievious+entries.Open.grievious+ entries.Others.grievious }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.minor+entries.InstitutionalArea.minor+ entries.MarketcommercialArea.minor+entries.Open.minor+ entries.Others.minor }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.not_hospitalized+entries.InstitutionalArea.not_hospitalized+ entries.MarketcommercialArea.not_hospitalized+entries.Open.not_hospitalized+ entries.Others.not_hospitalized }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.noinjur+entries.InstitutionalArea.noinjur+ entries.MarketcommercialArea.noinjur+entries.Open.noinjur+ entries.Others.noinjur }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.total+entries.InstitutionalArea.total+ entries.MarketcommercialArea.total+entries.Open.total+ entries.Others.total }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.personsFatal+entries.InstitutionalArea.personsFatal+ entries.MarketcommercialArea.personsFatal+entries.Open.personsFatal+ entries.Others.personsFatal }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.personsGrievious+entries.InstitutionalArea.personsGrievious+ entries.MarketcommercialArea.personsGrievious+entries.Open.personsGrievious+ entries.Others.personsGrievious }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.personsSimple+entries.InstitutionalArea.personsSimple+ entries.MarketcommercialArea.personsSimple+entries.Open.personsSimple+ entries.Others.personsSimple }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.personsNotHospitalized+entries.InstitutionalArea.personsNotHospitalized+ entries.MarketcommercialArea.personsNotHospitalized+entries.Open.personsNotHospitalized+ entries.Others.personsNotHospitalized }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.personsNoinjur+entries.InstitutionalArea.personsNoinjur+ entries.MarketcommercialArea.personsNoinjur+entries.Open.personsNoinjur+ entries.Others.personsNoinjur }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.personsFatal+entries.InstitutionalArea.personsFatal+ entries.MarketcommercialArea.personsFatal+entries.Open.personsFatal+ entries.Others.personsFatal + entries.ResidentialArea.personsGrievious+entries.InstitutionalArea.personsGrievious+
                        entries.MarketcommercialArea.personsGrievious+entries.Open.personsGrievious+ entries.Others.personsGrievious + entries.ResidentialArea.personsSimple+entries.InstitutionalArea.personsSimple+ entries.MarketcommercialArea.personsSimple+entries.Open.personsSimple+
                        entries.Others.personsSimple + entries.ResidentialArea.personsNotHospitalized+entries.InstitutionalArea.personsNotHospitalized+ entries.MarketcommercialArea.personsNotHospitalized+entries.Open.personsNotHospitalized+ entries.Others.personsNotHospitalized
                        + entries.ResidentialArea.personsNoinjur+entries.InstitutionalArea.personsNoinjur+ entries.MarketcommercialArea.personsNoinjur+entries.Open.personsNoinjur+ entries.Others.personsNoinjur }}
                    </td>

                </tr>

            </table>
            </div>
            </div>
            <br>
            <br>
            <div style="overflow: hidden" *ngIf="entries.ResidentialArea">
                <div class="row">
                    <div class="col-sm-3 text-left">
                            <input type="button" (click)="printTwo()" value="Print" class="btn btn-success btn-print">
                    </div>
                    <div class="col-sm-3 text-left">
                            <input type="button" (click)="exportCsvTwo()" value="Export csv" class="btn btn-success btn-csv">
                    </div>
                </div>
            <div style="overflow: hidden" id="tableTwo">   
            <table class="table table-borderless table-responsive" width="100%" *ngIf="entries.ResidentialArea">
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" colspan="19" class="class text-center"><b>Number of Persons
                    </b></th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" rowspan="2" class="text-center"><br><br>Accident Spot</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Driver <br>(based on type of Accidents)</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Passenger <br>(based on type of Accidents)</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Pedestrain <br>(based on type of Accidents)</th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>


                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Residential Area</th>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.ResidentialArea.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.ResidentialArea.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.ResidentialArea.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Institutional Area</th>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.InstitutionalArea.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Market / Commercial Area</th>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.MarketcommercialArea.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Open Area</th>
                    <td style=" border: 2px solid black">{{entries.Open.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Open.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Open.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Open.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Others</th>
                    <td style=" border: 2px solid black">{{entries.Others.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Others.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_total}}</td>


                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Total</th>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.driver_fatal+entries.InstitutionalArea.driver_fatal+ entries.MarketcommercialArea.driver_fatal+entries.Open.driver_fatal+ entries.Others.driver_fatal }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.driver_grievious+entries.InstitutionalArea.driver_grievious+ entries.MarketcommercialArea.driver_grievious+entries.Open.driver_grievious+ entries.Others.driver_grievious }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.driver_simple+entries.InstitutionalArea.driver_simple+ entries.MarketcommercialArea.driver_simple+entries.Open.driver_simple+ entries.Others.driver_simple }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.driver_not_hospitalized+entries.InstitutionalArea.driver_not_hospitalized+ entries.MarketcommercialArea.driver_not_hospitalized+entries.Open.driver_not_hospitalized+ entries.Others.driver_not_hospitalized }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.driver_noinjur+entries.InstitutionalArea.driver_noinjur+ entries.MarketcommercialArea.driver_noinjur+entries.Open.driver_noinjur+ entries.Others.driver_noinjur }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.driver_total+entries.InstitutionalArea.driver_total+ entries.MarketcommercialArea.driver_total+entries.Open.driver_total+ entries.Others.driver_total }}
                    </td>


                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.passenger_fatal+entries.InstitutionalArea.passenger_fatal+ entries.MarketcommercialArea.passenger_fatal+entries.Open.passenger_fatal+ entries.Others.passenger_fatal }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.passenger_grievious+entries.InstitutionalArea.passenger_grievious+ entries.MarketcommercialArea.passenger_grievious+entries.Open.passenger_grievious+ entries.Others.passenger_grievious }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.passenger_simple+entries.InstitutionalArea.passenger_simple+ entries.MarketcommercialArea.passenger_simple+entries.Open.passenger_simple+ entries.Others.passenger_simple }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.passenger_not_hospitalized+entries.InstitutionalArea.passenger_not_hospitalized+ entries.MarketcommercialArea.passenger_not_hospitalized+entries.Open.passenger_not_hospitalized+ entries.Others.passenger_not_hospitalized }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.passenger_noinjur+entries.InstitutionalArea.passenger_noinjur+ entries.MarketcommercialArea.passenger_noinjur+entries.Open.passenger_noinjur+ entries.Others.passenger_noinjur }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.passenger_total+entries.InstitutionalArea.passenger_total+ entries.MarketcommercialArea.passenger_total+entries.Open.passenger_total+ entries.Others.passenger_total }}
                    </td>


                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.pedestrain_fatal+entries.InstitutionalArea.pedestrain_fatal+ entries.MarketcommercialArea.pedestrain_fatal+entries.Open.pedestrain_fatal+ entries.Others.pedestrain_fatal }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.pedestrain_grievious+entries.InstitutionalArea.pedestrain_grievious+ entries.MarketcommercialArea.pedestrain_grievious+entries.Open.pedestrain_grievious+ entries.Others.pedestrain_grievious }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.pedestrain_simple+entries.InstitutionalArea.pedestrain_simple+ entries.MarketcommercialArea.pedestrain_simple+entries.Open.pedestrain_simple+ entries.Others.pedestrain_simple }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.pedestrain_not_hospitalized+entries.InstitutionalArea.pedestrain_not_hospitalized+ entries.MarketcommercialArea.pedestrain_not_hospitalized+entries.Open.pedestrain_not_hospitalized+ entries.Others.pedestrain_not_hospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.pedestrain_noinjur+entries.InstitutionalArea.pedestrain_noinjur+ entries.MarketcommercialArea.pedestrain_noinjur+entries.Open.pedestrain_noinjur+ entries.Others.pedestrain_noinjur }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ResidentialArea.pedestrain_total+entries.InstitutionalArea.pedestrain_total+ entries.MarketcommercialArea.pedestrain_total+entries.Open.pedestrain_total+ entries.Others.pedestrain_total }}
                    </td>

                </tr>


            </table>

            </div>
            </div>
        









        </div>


    </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>