<!-- <div class="row">
    <div class="col-md-12">
        <div class="container-fluid">
            <form (ngSubmit)="onSubmit()" #yourForm="ngForm">
                    <div class="row form-group" *ngIf="local.roleType=='Admin'">
                            <div class="col-sm-4">
                                <label for="inputEmail3" class= "col-form-label">From Date</label>
                                <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
        
                            <div class="col-sm-4">
                                <label for="inputEmail3" class="col-form-label">To Date</label>
                                <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
                           
                            <div class="col-4" >
                                <label class="col-form-label">Select Police Station</label>
                                <select class="form-control" name="stationId" [(ngModel)]="stationId">
                                <option>Choose..</option>
                            
                            <option *ngFor="let stname of allStations" value="{{stname._id}}">{{stname.name}}</option>
                            </select>
                            </div>
        
                        </div>
                        <div class="row form-group" *ngIf="local.roleType!=='Admin'">
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class= "col-form-label">From Date</label>
                                    <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class="col-form-label">To Date</label>
                                    <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                            </div>
        
                        <div class="row form-group">
                        <div class="col-sm mt-4 text-center">
                            <input type="submit" [disabled]="!yourForm.form.valid" value="Submit" class="btn btn-success">
                        </div>
                        </div>
            </form>
            <br>
            <table class="table table-borderless table-responsive" width="100%">
                <tr>
                    <th colspan="13" class="class text-center"><b> 11. Accidents Classified According to Age of Impacting
              Vehicles</b>
                    </th>
                </tr>
                <tr>
                    <th rowspan="2" class="text-center"><br><br>Age of Vehicle</th>
                    <th colspan="6" class="text-center">Number of Accidents</th>
                    <th colspan="6" class="text-center">Number of Persons <br>(based on type of Accidents)</th>

                </tr>
                <tr>
                    <th class="text-center">Fatal</th>
                    <th class="text-center">Grievous<br>Injury</th>
                    <th class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Fatal</th>
                    <th class="text-center">Grievous<br>Injury</th>
                    <th class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th class="text-center">Total</th>

                </tr>
                <tr>
                    <th>Less than 5 years</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>5 to 10 years</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>10.1 – 15 years</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>Greater than 15 years</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>Age Not Known</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>Total</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
            </table>
            <br>
            <br>
            <table class="table table-borderless table-responsive" width="100%">
                <tr>
                    <th colspan="19" class="class text-center"><b>Number of Persons
            </b></th>
                </tr>
                <tr>
                    <th rowspan="2" class="text-center"><br><br>Age of Vehicle</th>
                    <th colspan="6" class="text-center">Driver <br>(based on type of Accidents)</th>
                    <th colspan="6" class="text-center">Passenger <br>(based on type of Accidents)</th>
                    <th colspan="6" class="text-center">Pedestrain <br>(based on type of Accidents)/th>
                </tr>
                <tr>
                    <th class="text-center">Fatal</th>
                    <th class="text-center">Grievous<br>Injury</th>
                    <th class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Fatal</th>
                    <th class="text-center">Grievous<br>Injury</th>
                    <th class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Fatal</th>
                    <th class="text-center">Grievous<br>Injury</th>
                    <th class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th class="text-center">Total</th>


                </tr>
                <tr>
                    <th>Less than 5 years</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>5 to 10 years</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>10.1 – 15 years</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>Greater than 15 years</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>Age Not Known</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>Total</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
            </table>











        </div>


    </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->

<div class="row" style="border: 2px solid black;margin-top:2rem">
        <div class="col-md-6 offset-md-3 text-center" >
            <h1>Under construction</h1>
        </div>
    </div>