<div class="row">
    <div class="col-md-12">
        <div class="container-fluid">
            <form (ngSubmit)="onSubmit()" #yourForm="ngForm">
                    <div class="row form-group" *ngIf="local.roleType=='DIST'">
                            <div class="col-sm-4">
                                <label for="inputEmail3" class= "col-form-label">From Date</label>
                                <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
        
                            <div class="col-sm-4">
                                <label for="inputEmail3" class="col-form-label">To Date</label>
                                <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
                           
                            <div class="col-4" >
                                <label class="col-form-label">Select Police Station</label>
                                <select class="form-control" name="stationId" [(ngModel)]="stationId">
                                <option>Choose..</option>
                            
                            <option *ngFor="let stname of allStations" value="{{stname._id}}">{{stname.name}}</option>
                            </select>
                            </div>
        
                        </div>
                        <div class="row form-group" *ngIf="local.roleType!=='DIST'">
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class= "col-form-label">From Date</label>
                                    <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class="col-form-label">To Date</label>
                                    <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                            </div>
        
                        <div class="row form-group">
                        <div class="col-sm mt-4 text-center">
                            <input type="submit" [disabled]="!yourForm.form.valid" value="Submit" class="btn btn-success">
                        </div>
                        </div>
            </form>
            <br>
            <div style="overflow: hidden" *ngIf="entries.Cloudy">
                <div class="row">
                    <div class="col-sm-3 text-left">
                            <input (click)="printOne()" value="Print" class="btn btn-success">
                    </div>
                    <div class="col-sm-3 text-left">
                            <input (click)="exportCsvOne()" value="Export csv" class="btn btn-success">
                    </div>
                </div>
                <div style="overflow: hidden" id="tableOne">
            <table class="table table-borderless table-responsive" width="100%" *ngIf="entries.Cloudy">
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" colspan="13" class="class text-center"><b>3. Accidents Classified According to Weather Conditions</b></th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" rowspan="2" class="text-center"><br><br>Weather<br> Condition</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Number of Accidents</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Number of Persons <br>(based on type of Accidents)</th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Fine & Clear</th>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.total}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.personsFatal+ entries.Fineandclear.personsGrievious+ entries.Fineandclear.personsSimple+ entries.Fineandclear.personsNotHospitalized+ entries.Fineandclear.personsNoinjur }}
                    </td>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black"> Rainy </th>
                    <td style=" border: 2px solid black">{{entries.Rainy.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.total}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.Rainy.personsFatal+ entries.Rainy.personsGrievious+ entries.Rainy.personsSimple+ entries.Rainy.personsNotHospitalized+ entries.Rainy.personsNoinjur }}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Fog</th>
                    <td style=" border: 2px solid black">{{entries.Fog.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.total}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.Fog.personsFatal+ entries.Fog.personsGrievious+ entries.Fog.personsSimple+ entries.Fog.personsNotHospitalized+ entries.Fog.personsNoinjur }}
                    </td>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Cloudy</th>
                    <td style=" border: 2px solid black">{{entries.Cloudy.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.total}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.Cloudy.personsFatal+ entries.Cloudy.personsGrievious+ entries.Cloudy.personsSimple+ entries.Cloudy.personsNotHospitalized+ entries.Cloudy.personsNoinjur }}
                    </td>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Hail Storm</th>
                    <td style=" border: 2px solid black">{{entries.HailStorm.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.total}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.HailStorm.personsFatal+ entries.HailStorm.personsGrievious+ entries.HailStorm.personsSimple+ entries.HailStorm.personsNotHospitalized+ entries.HailStorm.personsNoinjur }}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Dust Storm</th>
                    <td style=" border: 2px solid black">{{entries.DustStorm.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.total}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.DustStorm.personsFatal+ entries.DustStorm.personsGrievious+ entries.DustStorm.personsSimple+ entries.DustStorm.personsNotHospitalized+ entries.DustStorm.personsNoinjur }}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Others</th>
                    <td style=" border: 2px solid black">{{entries.Others.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.total}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.Others.personsFatal+ entries.Others.personsGrievious+ entries.Others.personsSimple+ entries.Others.personsNotHospitalized+ entries.Others.personsNoinjur }}
                    </td>

                </tr>

                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Total</th>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.fatal+ entries.Rainy.fatal+entries.Fog.fatal+ entries.Cloudy.fatal+ entries.HailStorm.fatal+ entries.DustStorm.fatal+entries.Others.fatal }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.grievious+ entries.Rainy.grievious+entries.Fog.grievious+ entries.Cloudy.grievious+ entries.HailStorm.grievious+ entries.DustStorm.grievious+entries.Others.grievious }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.minor+ entries.Rainy.minor+entries.Fog.minor+ entries.Cloudy.minor+ entries.HailStorm.minor+ entries.DustStorm.minor+entries.Others.minor }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.not_hospitalized+ entries.Rainy.not_hospitalized+entries.Fog.not_hospitalized+ entries.Cloudy.not_hospitalized+ entries.HailStorm.not_hospitalized+ entries.DustStorm.not_hospitalized+entries.Others.not_hospitalized }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.noinjur+ entries.Rainy.noinjur+entries.Fog.noinjur+ entries.Cloudy.noinjur+ entries.HailStorm.noinjur+ entries.DustStorm.noinjur+entries.Others.noinjur }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.total+ entries.Rainy.total+entries.Fog.total+ entries.Cloudy.total+ entries.HailStorm.total+ entries.DustStorm.total+entries.Others.total }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.personsFatal+ entries.Rainy.personsFatal+entries.Fog.personsFatal+ entries.Cloudy.personsFatal+ entries.HailStorm.personsFatal+ entries.DustStorm.personsFatal+entries.Others.personsFatal }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.personsGrievious+ entries.Rainy.personsGrievious+entries.Fog.personsGrievious+ entries.Cloudy.personsGrievious+ entries.HailStorm.personsGrievious+ entries.DustStorm.personsGrievious+entries.Others.personsGrievious }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.personsSimple+ entries.Rainy.personsSimple+entries.Fog.personsSimple+ entries.Cloudy.personsSimple+ entries.HailStorm.personsSimple+ entries.DustStorm.personsSimple+entries.Others.personsSimple }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.personsNotHospitalized+ entries.Rainy.personsNotHospitalized+entries.Fog.personsNotHospitalized+ entries.Cloudy.personsNotHospitalized+ entries.HailStorm.personsNotHospitalized+ entries.DustStorm.personsNotHospitalized+entries.Others.personsNotHospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.personsNoinjur+ entries.Rainy.personsNoinjur+entries.Fog.personsNoinjur+ entries.Cloudy.personsNoinjur+ entries.HailStorm.personsNoinjur+ entries.DustStorm.personsNoinjur+entries.Others.personsNoinjur }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.personsFatal+ entries.Fineandclear.personsGrievious+ entries.Fineandclear.personsSimple+ entries.Fineandclear.personsNotHospitalized+ entries.Fineandclear.personsNoinjur+ entries.Rainy.personsFatal+ entries.Rainy.personsGrievious+
                        entries.Rainy.personsSimple+ entries.Rainy.personsNotHospitalized+ entries.Rainy.personsNoinjur+ entries.Fog.personsFatal+ entries.Fog.personsGrievious+ entries.Fog.personsSimple+ entries.Fog.personsNotHospitalized+ entries.Fog.personsNoinjur+
                        entries.Cloudy.personsFatal+ entries.Cloudy.personsGrievious+ entries.Cloudy.personsSimple+ entries.Cloudy.personsNotHospitalized+ entries.Cloudy.personsNoinjur+ entries.HailStorm.personsFatal+ entries.HailStorm.personsGrievious+
                        entries.HailStorm.personsSimple+ entries.HailStorm.personsNotHospitalized+ entries.HailStorm.personsNoinjur+ entries.DustStorm.personsFatal+ entries.DustStorm.personsGrievious+ entries.DustStorm.personsSimple+ entries.DustStorm.personsNotHospitalized+
                        entries.DustStorm.personsNoinjur+entries.Others.personsFatal+ entries.Others.personsGrievious+ entries.Others.personsSimple+ entries.Others.personsNotHospitalized+ entries.Others.personsNoinjur }}
                    </td>

                </tr>
            </table>
            </div>
            </div>
            <br>
            <br>
            <div style="overflow: hidden" *ngIf="entries.Cloudy">
                <div class="row">
                    <div class="col-sm-3 text-left">
                            <input type="button" (click)="printTwo()" value="Print" class="btn btn-success btn-print">
                    </div>
                    <div class="col-sm-3 text-left">
                            <input type="button" (click)="exportCsvTwo()" value="Export csv" class="btn btn-success btn-csv">
                    </div>
                </div>
            <div style="overflow: hidden" id="tableTwo">  
            <table class="table table-borderless table-responsive" width="100%" *ngIf="entries.Cloudy">
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" colspan="19" class="class text-center"><b>Number of Persons</b></th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" rowspan="2" class="text-center"><br><br>Weather<br> Condition</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Driver <br>(based on type of Accidents)</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Passenger <br>(based on type of Accidents)</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Pedestrain <br>(based on type of Accidents)</th>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>


                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Fine & Clear</th>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Fineandclear.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Fineandclear.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Fineandclear.pedestrain_total}}</td>


                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Rainy</th>
                    <td style=" border: 2px solid black">{{entries.Rainy.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Rainy.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Rainy.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Rainy.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Foggy/ Misty</th>
                    <td style=" border: 2px solid black">{{entries.Fog.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Fog.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Fog.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Fog.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Cloudy</th>
                    <td style=" border: 2px solid black">{{entries.Cloudy.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Cloudy.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Cloudy.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Cloudy.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Hail Storm</th>
                    <td style=" border: 2px solid black">{{entries.HailStorm.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.HailStorm.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.HailStorm.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.HailStorm.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Dust Storm</th>
                    <td style=" border: 2px solid black">{{entries.DustStorm.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.DustStorm.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.DustStorm.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.DustStorm.pedestrain_total}}</td>

                </tr>

                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Others</th>
                    <td style=" border: 2px solid black">{{entries.Others.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Others.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_total}}</td>

                </tr>



                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Total</th>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.driver_fatal+entries.Fog.driver_fatal+entries.Rainy.driver_fatal+entries.Cloudy.driver_fatal+entries.HailStorm.driver_fatal+entries.DustStorm.driver_fatal+entries.Others.driver_fatal}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.driver_grievious+entries.Fog.driver_grievious+entries.Rainy.driver_grievious+entries.Cloudy.driver_grievious+entries.HailStorm.driver_grievious+entries.DustStorm.driver_grievious+entries.Others.driver_grievious}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.driver_simple+entries.Fog.driver_simple+entries.Rainy.driver_simple+entries.Cloudy.driver_simple+entries.HailStorm.driver_simple+entries.DustStorm.driver_simple+entries.Others.driver_simple}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.driver_not_hospitalized+entries.Fog.driver_not_hospitalized+entries.Rainy.driver_not_hospitalized+entries.Cloudy.driver_not_hospitalized+entries.HailStorm.driver_not_hospitalized+entries.DustStorm.driver_not_hospitalized+entries.Others.driver_not_hospitalized}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.driver_noinjur+entries.Fog.driver_noinjur+entries.Rainy.driver_noinjur+entries.Cloudy.driver_noinjur+entries.HailStorm.driver_noinjur+entries.DustStorm.driver_noinjur+entries.Others.driver_noinjur}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.driver_total+entries.Fog.driver_total+entries.Rainy.driver_total+entries.Cloudy.driver_total+entries.HailStorm.driver_total+entries.DustStorm.driver_total+entries.Others.driver_total}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.passenger_fatal+entries.Fog.passenger_fatal+entries.Rainy.passenger_fatal+entries.Cloudy.passenger_fatal+entries.HailStorm.passenger_fatal+entries.DustStorm.passenger_fatal+entries.Others.passenger_fatal}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.passenger_grievious+entries.Fog.passenger_grievious+entries.Rainy.passenger_grievious+entries.Cloudy.passenger_grievious+entries.HailStorm.passenger_grievious+entries.DustStorm.passenger_grievious+entries.Others.passenger_grievious}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.passenger_simple+entries.Fog.passenger_simple+entries.Rainy.passenger_simple+entries.Cloudy.passenger_simple+entries.HailStorm.passenger_simple+entries.DustStorm.passenger_simple+entries.Others.passenger_simple}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.passenger_not_hospitalized+entries.Fog.passenger_not_hospitalized+entries.Rainy.passenger_not_hospitalized+entries.Cloudy.passenger_not_hospitalized+entries.HailStorm.passenger_not_hospitalized+entries.DustStorm.passenger_not_hospitalized+entries.Others.passenger_not_hospitalized}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.passenger_noinjur+entries.Fog.passenger_noinjur+entries.Rainy.passenger_noinjur+entries.Cloudy.passenger_noinjur+entries.HailStorm.passenger_noinjur+entries.DustStorm.passenger_noinjur+entries.Others.passenger_noinjur}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.passenger_total+entries.Fog.passenger_total+entries.Rainy.passenger_total+entries.Cloudy.passenger_total+entries.HailStorm.passenger_total+entries.DustStorm.passenger_total+entries.Others.passenger_total}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.pedestrain_fatal+entries.Fog.pedestrain_fatal+entries.Rainy.pedestrain_fatal+entries.Cloudy.pedestrain_fatal+entries.HailStorm.pedestrain_fatal+entries.DustStorm.pedestrain_fatal+entries.Others.pedestrain_fatal}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.pedestrain_grievious+entries.Fog.pedestrain_grievious+entries.Rainy.pedestrain_grievious+entries.Cloudy.pedestrain_grievious+entries.HailStorm.pedestrain_grievious+entries.DustStorm.pedestrain_grievious+entries.Others.pedestrain_grievious}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.pedestrain_simple+entries.Fog.pedestrain_simple+entries.Rainy.pedestrain_simple+entries.Cloudy.pedestrain_simple+entries.HailStorm.pedestrain_simple+entries.DustStorm.pedestrain_simple+entries.Others.pedestrain_simple}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.pedestrain_not_hospitalized+entries.Fog.pedestrain_not_hospitalized+entries.Rainy.pedestrain_not_hospitalized+entries.Cloudy.pedestrain_not_hospitalized+entries.HailStorm.pedestrain_not_hospitalized+entries.DustStorm.pedestrain_not_hospitalized++entries.Others.pedestrain_not_hospitalized}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.pedestrain_noinjur+entries.Fog.pedestrain_noinjur+entries.Rainy.pedestrain_noinjur+entries.Cloudy.pedestrain_noinjur+entries.HailStorm.pedestrain_noinjur+entries.DustStorm.pedestrain_noinjur+entries.Others.pedestrain_noinjur}}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.Fineandclear.pedestrain_total+entries.Fog.pedestrain_total+entries.Rainy.pedestrain_total+entries.Cloudy.pedestrain_total+entries.HailStorm.pedestrain_total+entries.DustStorm.pedestrain_total+entries.Others.pedestrain_total}}
                    </td>

                </tr>
            </table>
            </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>