<div class="row">
    <div class="col-md-12">
        <div class="container-fluid">
            <form (ngSubmit)="onSubmit()" #yourForm="ngForm">
                    <div class="row form-group" *ngIf="local.roleType=='DIST'">
                            <div class="col-sm-4">
                                <label for="inputEmail3" class= "col-form-label">From Date</label>
                                <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
        
                            <div class="col-sm-4">
                                <label for="inputEmail3" class="col-form-label">To Date</label>
                                <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
                           
                            <div class="col-4" >
                                <label class="col-form-label">Select Police Station</label>
                                <select class="form-control" name="stationId" [(ngModel)]="stationId">
                                <option>Choose..</option>
                            
                            <option *ngFor="let stname of allStations" value="{{stname._id}}">{{stname.name}}</option>
                            </select>
                            </div>
        
                        </div>
                        <div class="row form-group" *ngIf="local.roleType!=='DIST'">
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class= "col-form-label">From Date</label>
                                    <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class="col-form-label">To Date</label>
                                    <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                            </div>
        
                        <div class="row form-group">
                        <div class="col-sm mt-4 text-center">
                            <input type="submit" [disabled]="!yourForm.form.valid" value="Submit" class="btn btn-success">
                        </div>
                        </div>
            </form>
            <br>
            <div style="overflow: hidden" *ngIf="entries.ExpressHighway">
                <div class="row">
                    <div class="col-sm-3 text-left">
                            <input (click)="printOne()" value="Print" class="btn btn-success">
                    </div>
                    <div class="col-sm-3 text-left">
                            <input (click)="exportCsvOne()" value="Export csv" class="btn btn-success">
                    </div>
                </div>
                <div style="overflow: hidden" id="tableOne">
            <table class="table table-borderless table-responsive" width="100%" *ngIf="entries.ExpressHighway">
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" colspan="13" class="class text-center"><b> 4. Accidents According to the Classification of Road</b></th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" rowspan="2" class="text-center"><br><br>Classification of <br>Road</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Number of Accidents</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Number of Persons <br>(based on type of Accidents)</th>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Expressways</th>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.total}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.personsFatal+entries.ExpressHighway.personsGrievious+ entries.ExpressHighway.personsSimple+entries.ExpressHighway.personsNotHospitalized+ entries.ExpressHighway.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">National Highway</th>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.total}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.NationalHighway.personsFatal+entries.NationalHighway.personsGrievious+ entries.NationalHighway.personsSimple+entries.NationalHighway.personsNotHospitalized+ entries.NationalHighway.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">State Highway</th>
                    <td style=" border: 2px solid black">{{entries.StateHighway.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.total}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.StateHighway.personsFatal+entries.StateHighway.personsGrievious+ entries.StateHighway.personsSimple+entries.StateHighway.personsNotHospitalized+ entries.StateHighway.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Corporation Road</th>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.total}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.CorporationRoad.personsFatal+entries.CorporationRoad.personsGrievious+ entries.CorporationRoad.personsSimple+entries.CorporationRoad.personsNotHospitalized+ entries.CorporationRoad.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Village Road</th>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.total}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.VillageRoad.personsFatal+entries.VillageRoad.personsGrievious+ entries.VillageRoad.personsSimple+entries.VillageRoad.personsNotHospitalized+ entries.VillageRoad.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Panchayat Road</th>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.total}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.PanchayatRoad.personsFatal+entries.PanchayatRoad.personsGrievious+ entries.PanchayatRoad.personsSimple+entries.PanchayatRoad.personsNotHospitalized+ entries.PanchayatRoad.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Others</th>
                    <td style=" border: 2px solid black">{{entries.Others.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.total}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.Others.personsFatal+entries.Others.personsGrievious+ entries.Others.personsSimple+entries.Others.personsNotHospitalized+ entries.Others.personsNoinjur}}
                    </td>

                </tr>

                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Total</th>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.fatal+entries.NationalHighway.fatal+ entries.StateHighway.fatal+entries.PanchayatRoad.fatal+ entries.CorporationRoad.fatal+entries.VillageRoad.fatal+ entries.Others.fatal }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.grievious+entries.NationalHighway.grievious+ entries.StateHighway.grievious+entries.PanchayatRoad.grievious+ entries.CorporationRoad.grievious+entries.VillageRoad.grievious+ entries.Others.grievious }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.minor+entries.NationalHighway.minor+ entries.StateHighway.minor+entries.PanchayatRoad.minor+ entries.CorporationRoad.minor+entries.VillageRoad.minor+ entries.Others.minor }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.not_hospitalized+entries.NationalHighway.not_hospitalized+ entries.StateHighway.not_hospitalized+entries.PanchayatRoad.not_hospitalized+ entries.CorporationRoad.not_hospitalized+entries.VillageRoad.not_hospitalized+ entries.Others.not_hospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.noinjur+entries.NationalHighway.noinjur+ entries.StateHighway.noinjur+entries.PanchayatRoad.noinjur+ entries.CorporationRoad.noinjur+entries.VillageRoad.noinjur+ entries.Others.noinjur }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.total+entries.NationalHighway.total+ entries.StateHighway.total+entries.PanchayatRoad.total+ entries.CorporationRoad.total+entries.VillageRoad.total+ entries.Others.total }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.personsFatal+entries.NationalHighway.personsFatal+ entries.StateHighway.personsFatal+entries.PanchayatRoad.personsFatal+ entries.CorporationRoad.personsFatal+entries.VillageRoad.personsFatal+ entries.Others.personsFatal }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.personsGrievious+entries.NationalHighway.personsGrievious+ entries.StateHighway.personsGrievious+entries.PanchayatRoad.personsGrievious+ entries.CorporationRoad.personsGrievious+entries.VillageRoad.personsGrievious+ entries.Others.personsGrievious
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.personsSimple+entries.NationalHighway.personsSimple+ entries.StateHighway.personsSimple+entries.PanchayatRoad.personsSimple+ entries.CorporationRoad.personsSimple+entries.VillageRoad.personsSimple+ entries.Others.personsSimple
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.personsNotHospitalized+entries.NationalHighway.personsNotHospitalized+ entries.StateHighway.personsNotHospitalized+entries.PanchayatRoad.personsNotHospitalized+ entries.CorporationRoad.personsNotHospitalized+entries.VillageRoad.personsNotHospitalized+
                        entries.Others.personsNotHospitalized }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.personsNoinjur+entries.NationalHighway.personsNoinjur+ entries.StateHighway.personsNoinjur+entries.PanchayatRoad.personsNoinjur+ entries.CorporationRoad.personsNoinjur+entries.VillageRoad.personsNoinjur+ entries.Others.personsNoinjur
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.personsFatal+entries.NationalHighway.personsFatal+ entries.StateHighway.personsFatal+entries.PanchayatRoad.personsFatal+ entries.CorporationRoad.personsFatal+entries.VillageRoad.personsFatal+ entries.Others.personsFatal + entries.ExpressHighway.personsGrievious+entries.NationalHighway.personsGrievious+
                        entries.StateHighway.personsGrievious+entries.PanchayatRoad.personsGrievious+ entries.CorporationRoad.personsGrievious+entries.VillageRoad.personsGrievious+ entries.Others.personsGrievious + entries.ExpressHighway.personsSimple+entries.NationalHighway.personsSimple+
                        entries.StateHighway.personsSimple+entries.PanchayatRoad.personsSimple+ entries.CorporationRoad.personsSimple+entries.VillageRoad.personsSimple+ entries.Others.personsSimple + entries.ExpressHighway.personsNotHospitalized+entries.NationalHighway.personsNotHospitalized+
                        entries.StateHighway.personsNotHospitalized+entries.PanchayatRoad.personsNotHospitalized+ entries.CorporationRoad.personsNotHospitalized+entries.VillageRoad.personsNotHospitalized+ entries.Others.personsNotHospitalized + entries.ExpressHighway.personsNoinjur+entries.NationalHighway.personsNoinjur+
                        entries.StateHighway.personsNoinjur+entries.PanchayatRoad.personsNoinjur+ entries.CorporationRoad.personsNoinjur+entries.VillageRoad.personsNoinjur+ entries.Others.personsNoinjur }}
                    </td>
                </tr>
            </table>
            </div>
            </div>
            <br>
            <br>
            <div style="overflow: hidden" *ngIf="entries.ExpressHighway">
                <div class="row">
                    <div class="col-sm-3 text-left">
                            <input type="button" (click)="printTwo()" value="Print" class="btn btn-success btn-print">
                    </div>
                    <div class="col-sm-3 text-left">
                            <input type="button" (click)="exportCsvTwo()" value="Export csv" class="btn btn-success btn-csv">
                    </div>
                </div>
            <div style="overflow: hidden" id="tableTwo"> 
            <table class="table table-borderless table-responsive" width="100%" *ngIf="entries.ExpressHighway">
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" colspan="19" class="class text-center"><b>Number of Persons
            </b></th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" rowspan="2" class="text-center"><br><br>Classification of <br>Road</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Driver <br>(based on type of Accidents)</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Passenger <br>(based on type of Accidents)</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Pedestrain <br>(based on type of Accidents)</th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>


                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Expressways</th>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.ExpressHighway.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.ExpressHighway.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.ExpressHighway.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">National Highway</th>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.NationalHighway.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.NationalHighway.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.NationalHighway.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">State Highway</th>
                    <td style=" border: 2px solid black">{{entries.StateHighway.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.StateHighway.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.StateHighway.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.StateHighway.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Corporation Road</th>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.CorporationRoad.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.CorporationRoad.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.CorporationRoad.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Village Road</th>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.VillageRoad.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.VillageRoad.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.VillageRoad.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Panchayat Road</th>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.PanchayatRoad.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Other</th>
                    <td style=" border: 2px solid black">{{entries.Others.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Others.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Total</th>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.driver_fatal+entries.NationalHighway.driver_fatal+ entries.StateHighway.driver_fatal+entries.PanchayatRoad.driver_fatal+ entries.CorporationRoad.driver_fatal+entries.VillageRoad.driver_fatal+ entries.Others.driver_fatal }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.driver_grievious+entries.NationalHighway.driver_grievious+ entries.StateHighway.driver_grievious+entries.PanchayatRoad.driver_grievious+ entries.CorporationRoad.driver_grievious+entries.VillageRoad.driver_grievious+ entries.Others.driver_grievious
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.driver_simple+entries.NationalHighway.driver_simple+ entries.StateHighway.driver_simple+entries.PanchayatRoad.driver_simple+ entries.CorporationRoad.driver_simple+entries.VillageRoad.driver_simple+ entries.Others.driver_simple
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.driver_not_hospitalized+entries.NationalHighway.driver_not_hospitalized+ entries.StateHighway.driver_not_hospitalized+entries.PanchayatRoad.driver_not_hospitalized+ entries.CorporationRoad.driver_not_hospitalized+entries.VillageRoad.driver_not_hospitalized+
                        entries.Others.driver_not_hospitalized }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.driver_noinjur+entries.NationalHighway.driver_noinjur+ entries.StateHighway.driver_noinjur+entries.PanchayatRoad.driver_noinjur+ entries.CorporationRoad.driver_noinjur+entries.VillageRoad.driver_noinjur+ entries.Others.driver_noinjur
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.driver_total+entries.NationalHighway.driver_total+ entries.StateHighway.driver_total+entries.PanchayatRoad.driver_total+ entries.CorporationRoad.driver_total+entries.VillageRoad.driver_total+ entries.Others.driver_total }}
                    </td>


                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.passenger_fatal+entries.NationalHighway.passenger_fatal+ entries.StateHighway.passenger_fatal+entries.PanchayatRoad.passenger_fatal+ entries.CorporationRoad.passenger_fatal+entries.VillageRoad.passenger_fatal+ entries.Others.passenger_fatal
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.passenger_grievious+entries.NationalHighway.passenger_grievious+ entries.StateHighway.passenger_grievious+entries.PanchayatRoad.passenger_grievious+ entries.CorporationRoad.passenger_grievious+entries.VillageRoad.passenger_grievious+
                        entries.Others.passenger_grievious }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.passenger_simple+entries.NationalHighway.passenger_simple+ entries.StateHighway.passenger_simple+entries.PanchayatRoad.passenger_simple+ entries.CorporationRoad.passenger_simple+entries.VillageRoad.passenger_simple+ entries.Others.passenger_simple
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.passenger_not_hospitalized+entries.NationalHighway.passenger_not_hospitalized+ entries.StateHighway.passenger_not_hospitalized+entries.PanchayatRoad.passenger_not_hospitalized+ entries.CorporationRoad.passenger_not_hospitalized+entries.VillageRoad.passenger_not_hospitalized+
                        entries.Others.passenger_not_hospitalized }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.passenger_noinjur+entries.NationalHighway.passenger_noinjur+ entries.StateHighway.passenger_noinjur+entries.PanchayatRoad.passenger_noinjur+ entries.CorporationRoad.passenger_noinjur+entries.VillageRoad.passenger_noinjur+ entries.Others.passenger_noinjur
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.passenger_total+entries.NationalHighway.passenger_total+ entries.StateHighway.passenger_total+entries.PanchayatRoad.passenger_total+ entries.CorporationRoad.passenger_total+entries.VillageRoad.passenger_total+ entries.Others.passenger_total
                        }}
                    </td>

                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.pedestrain_fatal+entries.NationalHighway.pedestrain_fatal+ entries.StateHighway.pedestrain_fatal+entries.PanchayatRoad.pedestrain_fatal+ entries.CorporationRoad.pedestrain_fatal+entries.VillageRoad.pedestrain_fatal+ entries.Others.pedestrain_fatal
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.pedestrain_grievious+entries.NationalHighway.pedestrain_grievious+ entries.StateHighway.pedestrain_grievious+entries.PanchayatRoad.pedestrain_grievious+ entries.CorporationRoad.pedestrain_grievious+entries.VillageRoad.pedestrain_grievious+
                        entries.Others.pedestrain_grievious }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.pedestrain_simple+entries.NationalHighway.pedestrain_simple+ entries.StateHighway.pedestrain_simple+entries.PanchayatRoad.pedestrain_simple+ entries.CorporationRoad.pedestrain_simple+entries.VillageRoad.pedestrain_simple+ entries.Others.pedestrain_simple
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.pedestrain_not_hospitalized+entries.NationalHighway.pedestrain_not_hospitalized+ entries.StateHighway.pedestrain_not_hospitalized+entries.PanchayatRoad.pedestrain_not_hospitalized+ entries.CorporationRoad.pedestrain_not_hospitalized+entries.VillageRoad.pedestrain_not_hospitalized+
                        entries.Others.pedestrain_not_hospitalized }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.pedestrain_noinjur+entries.NationalHighway.pedestrain_noinjur+ entries.StateHighway.pedestrain_noinjur+entries.PanchayatRoad.pedestrain_noinjur+ entries.CorporationRoad.pedestrain_noinjur+entries.VillageRoad.pedestrain_noinjur+
                        entries.Others.pedestrain_noinjur }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{entries.ExpressHighway.pedestrain_total+entries.NationalHighway.pedestrain_total+ entries.StateHighway.pedestrain_total+entries.PanchayatRoad.pedestrain_total+ entries.CorporationRoad.pedestrain_total+entries.VillageRoad.pedestrain_total+ entries.Others.pedestrain_total
                        }}
                    </td>

                </tr>
            </table>
            </div>
            </div>












        </div>


    </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>