<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h2> Dharmapuri TARA Accidents(1-5)</h2>
           <table class="table table-bordered table-hover">
               <thead>
                   <tr class="table-info">
                       <th class="WidthTableNumber text-center">Particulars(Examples)</th>
                       <th class="WidthTable text-center">Date1</th>
                       <th class="WidthTable text-center">Date2</th>
                       <th class="WidthTable text-center">Date3</th>
                       <th class="WidthTable text-center">Date4</th>
                       <th class="WidthTable text-center">Date5</th>
                   </tr>
               </thead>
               <tbody>
                   <tr>
                       <th>Total RTA</th>
                       <th>10</th>
                       <td>20</td>
                       <td>30</td>
                       <td>40</td>
                       <td>50</td>
                   </tr>
                   <tr>
                      <th class="pl-2">Fatal</th>
                      <th>10</th>
                      <td>20</td>
                      <td>30</td>
                      <td>40</td>
                      <td>50</td>
                  </tr>
                  <tr>
                      <th class="pl-2">Grevious Injury</th>
                      <th>10</th>
                      <td>20</td>
                      <td>30</td>
                      <td>40</td>
                      <td>50</td>
                  </tr>
                  <tr>
                      <th class="pl-2">Simple Injury(Hospitalized)</th>
                      <th>10</th>
                      <td>20</td>
                      <td>30</td>
                      <td>40</td>
                      <td>50</td>
                  </tr>
                  <tr>
                      <th class="pl-2">Simple Injury(Non-Hospitalized)</th>
                      <th>10</th>
                      <td>20</td>
                      <td>30</td>
                      <td>40</td>
                      <td>50</td>
                  </tr>
                  <tr>
                      <th class="ml-2">No Injury(Vehicle damage only)</th>
                      <th>10</th>
                      <td>20</td>
                      <td>30</td>
                      <td>40</td>
                      <td>50</td>
                  </tr>
                  <tr>
                      <th class="ml-2">Number of Drivers Injuried</th>
                      <th>10</th>
                      <td>20</td>
                      <td>30</td>
                      <td>40</td>
                      <td>50</td>
                  </tr>
                  <tr>
                      <th class="ml-2">Number of Drivers Killed</th>
                      <th>10</th>
                      <td>20</td>
                      <td>30</td>
                      <td>40</td>
                      <td>50</td>
                  </tr>
                  <tr>
                      <th class="ml-2">Number of Passangers Injuried</th>
                      <th>10</th>
                      <td>20</td>
                      <td>30</td>
                      <td>40</td>
                      <td>50</td>
                  </tr>
                  <tr>
                      <th class="ml-2">Number of Passangers Killed</th>
                      <th>10</th>
                      <td>20</td>
                      <td>30</td>
                      <td>40</td>
                      <td>50</td>
                  </tr>
                  <tr>
                      <th class="ml-2">Number of Pedestrain Injuried</th>
                      <th>10</th>
                      <td>20</td>
                      <td>30</td>
                      <td>40</td>
                      <td>50</td>
                  </tr>
                  <tr>
                      <th class="ml-2">Number of Pedestrain Killed</th>
                      <th>10</th>
                      <td>20</td>
                      <td>30</td>
                      <td>40</td>
                      <td>50</td>
                  </tr>
                  <tr>
                      <th class="ml-2">Number of Animals Injuried</th>
                      <th>10</th>
                      <td>20</td>
                      <td>30</td>
                      <td>40</td>
                      <td>50</td>
                  </tr>
                  <tr>
                      <th class="ml-2">Number of Animals Killed</th>
                      <th>10</th>
                      <td>20</td>
                      <td>30</td>
                      <td>40</td>
                      <td>50</td>
                  </tr>
               </tbody>
           </table>
        </div>
     </div>
  <div class="row">
    <div class="col-md-6 text-center">
        <div id="multiAxes" style="height: 370px; width: 100%;"></div>
    </div>
    <div class="col-md-6 text-center">
        <div id="singleAxes" style="height: 370px; width: 100%;"></div>
    </div>
  </div>
  <div class="row">
     <div class="col-md-12">
       <h2> Dharmapuri TARA Reported(1-5)</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-info">
                    <th class="WidthTableNumber text-center">S.no</th>
                    <th class="WidthTable text-center">Station Name</th>
                    <th class="WidthTable text-center">Total Cases</th>
                    <th class="WidthTable text-center">Date1</th>
                    <th class="WidthTable text-center">Date2</th>
                    <th class="WidthTable text-center">Date3</th>
                    <th class="WidthTable text-center">Date4</th>
                    <th class="WidthTable text-center">Date4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-center">1</th>
                    <th class="text-center">Station1</th>
                    <td class="text-center">5</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                </tr>
                <tr>
                    <th class="text-center">2</th>
                    <th class="text-center">Station2</th>
                    <td class="text-center">5</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                </tr>
                <tr>
                    <th class="text-center">3 </th>
                    <th class="text-center">Station2</th>
                    <td class="text-center">5</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                </tr>
                <tr>
                    <th class="text-center">4</th>
                    <th class="text-center">Station4</th>
                    <td class="text-center">5</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                </tr>
                <tr>
                    <th class="text-center">5</th>
                    <th class="text-center">Station5</th>
                    <td class="text-center">5</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                    <td class="text-center">1</td>
                </tr>
            </tbody>
        </table>
     </div>
  </div>

  <div class="row">
      <div class="col-md-12">
        <h2> Dharmapuri TARA NIL Entries(1-5)</h2>
         <table class="table table-bordered table-hover">
             <thead>
                 <tr class="table-info">
                     <th class="WidthTableNumber text-center">S.no</th>
                     <th class="WidthTable text-center">Station Name</th>
                     <th class="WidthTable text-center">Total Cases</th>
                     <th class="WidthTable text-center">Date1</th>
                     <th class="WidthTable text-center">Date2</th>
                     <th class="WidthTable text-center">Date3</th>
                     <th class="WidthTable text-center">Date4</th>
                     <th class="WidthTable text-center">Date5</th>
                 </tr>
             </thead>
             <tbody>
                 <tr>
                     <th class="text-center">1</th>
                     <th class="text-center">Station1</th>
                     <td class="text-center">0</td>
                     <td class="text-center">0</td>
                     <td class="text-center">0</td>
                     <td class="text-center">0</td>
                     <td class="text-center">0</td>
                     <td class="text-center">0</td>
                 </tr>
                 
             </tbody>
         </table>
      </div>
   </div>
</div>