<div class="row">
    <div class="col-md-12">
        <div class="container-fluid">
            <form (ngSubmit)="onSubmit()" #yourForm="ngForm">
                    <div class="row form-group" *ngIf="local.roleType=='DIST'">
                            <div class="col-sm-4">
                                <label for="inputEmail3" class= "col-form-label">From Date</label>
                                <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
        
                            <div class="col-sm-4">
                                <label for="inputEmail3" class="col-form-label">To Date</label>
                                <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
                           
                            <div class="col-4" >
                                <label class="col-form-label">Select Police Station</label>
                                <select class="form-control" name="stationId" [(ngModel)]="stationId">
                                <option>Choose..</option>
                            
                            <option *ngFor="let stname of allStations" value="{{stname._id}}">{{stname.name}}</option>
                            </select>
                            </div>
        
                        </div>
                        <div class="row form-group" *ngIf="local.roleType!=='DIST'">
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class= "col-form-label">From Date</label>
                                    <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class="col-form-label">To Date</label>
                                    <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                            </div>
        
                        <div class="row form-group">
                        <div class="col-sm mt-4 text-center">
                            <input type="submit" [disabled]="!yourForm.form.valid" value="Submit" class="btn btn-success">
                        </div>
                        </div>
            </form>
            <br>

            <div style="overflow: hidden" *ngIf="entries.Trafficsignals">
                <div class="row">
                    <div class="col-sm-3 text-left">
                            <input (click)="printOne()" value="Print" class="btn btn-success">
                    </div>
                    <div class="col-sm-3 text-left">
                            <input (click)="exportCsvOne()" value="Export csv" class="btn btn-success">
                    </div>
                </div>
                <div style="overflow: hidden" id="tableOne">
            <table class="table table-borderless table-responsive" width="100%" *ngIf="entries.Trafficsignals">
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" colspan="13" class="class text-center"><b> 8. Accidents Classified According to Traffic Control at
                        Junction</b></th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" rowspan="2" class="text-center"><br><br>Traffic Control</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Number of Accidents</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Number of Persons <br>(based on type of Accidents)</th>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Traffic light Signal</th>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.total}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.Trafficsignals.personsFatal+entries.Trafficsignals.personsGrievious+ entries.Trafficsignals.personsSimple+entries.Trafficsignals.personsNotHospitalized+ entries.Trafficsignals.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Police Controlled</th>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.total}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.ManualPoliceControl.personsFatal+entries.ManualPoliceControl.personsGrievious+ entries.ManualPoliceControl.personsSimple+entries.ManualPoliceControl.personsNotHospitalized+ entries.ManualPoliceControl.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Stop Sign</th>
                    <td style=" border: 2px solid black">{{entries.Stopsign.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.total}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.Stopsign.personsFatal+entries.Stopsign.personsGrievious+ entries.Stopsign.personsSimple+entries.Stopsign.personsNotHospitalized+ entries.Stopsign.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Flashing Signal/Blinker</th>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.total}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.FlashingsignalBlinker.personsFatal+entries.FlashingsignalBlinker.personsGrievious+ entries.FlashingsignalBlinker.personsSimple+entries.FlashingsignalBlinker.personsNotHospitalized+ entries.FlashingsignalBlinker.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Uncontrolled</th>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.total}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.Uncontrolled.personsFatal+entries.Uncontrolled.personsGrievious+ entries.Uncontrolled.personsSimple+entries.Uncontrolled.personsNotHospitalized+ entries.Uncontrolled.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Give way sign</th>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.total}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.Givewaysign.personsFatal+entries.Givewaysign.personsGrievious+ entries.Givewaysign.personsSimple+entries.Givewaysign.personsNotHospitalized+ entries.Givewaysign.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Others</th>
                    <td style=" border: 2px solid black">{{entries.Others.fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.minor}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.total}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsFatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsGrievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsSimple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.personsNoinjur}}</td>
                    <td style=" border: 2px solid black">
                        {{entries.Others.personsFatal+entries.Others.personsGrievious+ entries.Others.personsSimple+entries.Others.personsNotHospitalized+ entries.Others.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Total</th>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.fatal+entries.ManualPoliceControl.fatal+entries.Stopsign.fatal+entries.FlashingsignalBlinker.fatal+entries.Uncontrolled.fatal+entries.Givewaysign.fatal+entries.Others.fatal }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.grievious+entries.ManualPoliceControl.grievious+entries.Stopsign.grievious+entries.FlashingsignalBlinker.grievious+entries.Uncontrolled.grievious+entries.Givewaysign.grievious+entries.Others.grievious }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.minor+entries.ManualPoliceControl.minor+entries.Stopsign.minor+entries.FlashingsignalBlinker.minor+entries.Uncontrolled.minor+entries.Givewaysign.minor+entries.Others.minor }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.not_hospitalized+entries.ManualPoliceControl.not_hospitalized+entries.Stopsign.not_hospitalized+entries.FlashingsignalBlinker.not_hospitalized+entries.Uncontrolled.not_hospitalized+entries.Givewaysign.not_hospitalized+entries.Others.not_hospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.noinjur+entries.ManualPoliceControl.noinjur+entries.Stopsign.noinjur+entries.FlashingsignalBlinker.noinjur+entries.Uncontrolled.noinjur+entries.Givewaysign.noinjur+entries.Others.noinjur }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.total+entries.ManualPoliceControl.total+entries.Stopsign.total+entries.FlashingsignalBlinker.total+entries.Uncontrolled.total+entries.Givewaysign.total+entries.Others.total }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.personsFatal+entries.ManualPoliceControl.personsFatal+entries.Stopsign.personsFatal+entries.FlashingsignalBlinker.personsFatal+entries.Uncontrolled.personsFatal+entries.Givewaysign.personsFatal+entries.Others.personsFatal }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.personsGrievious+entries.ManualPoliceControl.personsGrievious+entries.Stopsign.personsGrievious+entries.FlashingsignalBlinker.personsGrievious+entries.Uncontrolled.personsGrievious+entries.Givewaysign.personsGrievious+entries.Others.personsGrievious
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.personsSimple+entries.ManualPoliceControl.personsSimple+entries.Stopsign.personsSimple+entries.FlashingsignalBlinker.personsSimple+entries.Uncontrolled.personsSimple+entries.Givewaysign.personsSimple+entries.Others.personsSimple
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.personsNotHospitalized+entries.ManualPoliceControl.personsNotHospitalized+entries.Stopsign.personsNotHospitalized+entries.FlashingsignalBlinker.personsNotHospitalized+entries.Uncontrolled.personsNotHospitalized+entries.Givewaysign.personsNotHospitalized+entries.Others.personsNotHospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.personsNoinjur+entries.ManualPoliceControl.personsNoinjur+entries.Stopsign.personsNoinjur+entries.FlashingsignalBlinker.personsNoinjur+entries.Uncontrolled.personsNoinjur+entries.Givewaysign.personsNoinjur+entries.Others.personsNoinjur
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.personsFatal+entries.ManualPoliceControl.personsFatal+entries.Stopsign.personsFatal+entries.FlashingsignalBlinker.personsFatal+entries.Uncontrolled.personsFatal+entries.Givewaysign.personsFatal+entries.Others.personsFatal + entries.Trafficsignals.personsGrievious+entries.ManualPoliceControl.personsGrievious+entries.Stopsign.personsGrievious+entries.FlashingsignalBlinker.personsGrievious+entries.Uncontrolled.personsGrievious+entries.Givewaysign.personsGrievious+entries.Others.personsGrievious
                        + entries.Trafficsignals.personsSimple+entries.ManualPoliceControl.personsSimple+entries.Stopsign.personsSimple+entries.FlashingsignalBlinker.personsSimple+entries.Uncontrolled.personsSimple+entries.Givewaysign.personsSimple+entries.Others.personsSimple
                        + entries.Trafficsignals.personsNotHospitalized+entries.ManualPoliceControl.personsNotHospitalized+entries.Stopsign.personsNotHospitalized+entries.FlashingsignalBlinker.personsNotHospitalized+entries.Uncontrolled.personsNotHospitalized+entries.Givewaysign.personsNotHospitalized+entries.Others.personsNotHospitalized
                        + entries.Trafficsignals.personsNoinjur+entries.ManualPoliceControl.personsNoinjur+entries.Stopsign.personsNoinjur+entries.FlashingsignalBlinker.personsNoinjur+entries.Uncontrolled.personsNoinjur+entries.Givewaysign.personsNoinjur+entries.Others.personsNoinjur}}
                    </td>


                </tr>
            </table>
            </div>
            </div>
            <br>
            <br>
            <div style="overflow: hidden" *ngIf="entries.Trafficsignals">
                <div class="row">
                    <div class="col-sm-3 text-left">
                            <input type="button" (click)="printTwo()" value="Print" class="btn btn-success btn-print">
                    </div>
                    <div class="col-sm-3 text-left">
                            <input type="button" (click)="exportCsvTwo()" value="Export csv" class="btn btn-success btn-csv">
                    </div>
                </div>
            <div style="overflow: hidden" id="tableTwo">   
            <table class="table table-borderless table-responsive" width="100%" *ngIf="entries.Trafficsignals">
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" colspan="19" class="class text-center"><b>Number of Persons
                    </b></th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" rowspan="2" class="text-center"><br><br>Traffic Control</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Driver <br>(based on type of Accidents)</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Passenger <br>(based on type of Accidents)</th>
                    <th style=" border: 2px solid black" colspan="6" class="text-center">Pedestrain <br>(based on type of Accidents)</th>
                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>
                    <th style=" border: 2px solid black" class="text-center">Fatal</th>
                    <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black" class="text-center">Total</th>


                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Traffic light Signal</th>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Trafficsignals.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Trafficsignals.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Trafficsignals.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Police Controlled</th>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.ManualPoliceControl.pedestrain_total}}</td>


                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Stop Sign</th>
                    <td style=" border: 2px solid black">{{entries.Stopsign.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Stopsign.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Stopsign.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Stopsign.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Flashing Signal/Blinker</th>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.FlashingsignalBlinker.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Uncontrolled</th>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Uncontrolled.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Uncontrolled.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Uncontrolled.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Give way sign</th>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Givewaysign.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Givewaysign.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Givewaysign.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Others</th>
                    <td style=" border: 2px solid black">{{entries.Others.driver_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.driver_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Others.passenger_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.passenger_total}}</td>

                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black">{{entries.Others.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black">
                    <th style=" border: 2px solid black">Total</th>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.driver_fatal+entries.ManualPoliceControl.driver_fatal+entries.Stopsign.driver_fatal+entries.FlashingsignalBlinker.driver_fatal+entries.Uncontrolled.driver_fatal+entries.Givewaysign.driver_fatal+entries.Others.driver_fatal }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.driver_grievious+entries.ManualPoliceControl.driver_grievious+entries.Stopsign.driver_grievious+entries.FlashingsignalBlinker.driver_grievious+entries.Uncontrolled.driver_grievious+entries.Givewaysign.driver_grievious+entries.Others.driver_grievious
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.driver_simple+entries.ManualPoliceControl.driver_simple+entries.Stopsign.driver_simple+entries.FlashingsignalBlinker.driver_simple+entries.Uncontrolled.driver_simple+entries.Givewaysign.driver_simple+entries.Others.driver_simple
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.driver_not_hospitalized+entries.ManualPoliceControl.driver_not_hospitalized+entries.Stopsign.driver_not_hospitalized+entries.FlashingsignalBlinker.driver_not_hospitalized+entries.Uncontrolled.driver_not_hospitalized+entries.Givewaysign.driver_not_hospitalized+entries.Others.driver_not_hospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.driver_noinjur+entries.ManualPoliceControl.driver_noinjur+entries.Stopsign.driver_noinjur+entries.FlashingsignalBlinker.driver_noinjur+entries.Uncontrolled.driver_noinjur+entries.Givewaysign.driver_noinjur+entries.Others.driver_noinjur
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.driver_total+entries.ManualPoliceControl.driver_total+entries.Stopsign.driver_total+entries.FlashingsignalBlinker.driver_total+entries.Uncontrolled.driver_total+entries.Givewaysign.driver_total+entries.Others.driver_total }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.passenger_fatal+entries.ManualPoliceControl.passenger_fatal+entries.Stopsign.passenger_fatal+entries.FlashingsignalBlinker.passenger_fatal+entries.Uncontrolled.passenger_fatal+entries.Givewaysign.passenger_fatal+entries.Others.passenger_fatal
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.passenger_grievious+entries.ManualPoliceControl.passenger_grievious+entries.Stopsign.passenger_grievious+entries.FlashingsignalBlinker.passenger_grievious+entries.Uncontrolled.passenger_grievious+entries.Givewaysign.passenger_grievious+entries.Others.passenger_grievious
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.passenger_simple+entries.ManualPoliceControl.passenger_simple+entries.Stopsign.passenger_simple+entries.FlashingsignalBlinker.passenger_simple+entries.Uncontrolled.passenger_simple+entries.Givewaysign.passenger_simple+entries.Others.passenger_simple
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.passenger_not_hospitalized+entries.ManualPoliceControl.passenger_not_hospitalized+entries.Stopsign.passenger_not_hospitalized+entries.FlashingsignalBlinker.passenger_not_hospitalized+entries.Uncontrolled.passenger_not_hospitalized+entries.Givewaysign.passenger_not_hospitalized+entries.Others.passenger_not_hospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.passenger_noinjur+entries.ManualPoliceControl.passenger_noinjur+entries.Stopsign.passenger_noinjur+entries.FlashingsignalBlinker.passenger_noinjur+entries.Uncontrolled.passenger_noinjur+entries.Givewaysign.passenger_noinjur+entries.Others.passenger_noinjur
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.passenger_total+entries.ManualPoliceControl.passenger_total+entries.Stopsign.passenger_total+entries.FlashingsignalBlinker.passenger_total+entries.Uncontrolled.passenger_total+entries.Givewaysign.passenger_total+entries.Others.passenger_total
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.pedestrain_fatal+entries.ManualPoliceControl.pedestrain_fatal+entries.Stopsign.pedestrain_fatal+entries.FlashingsignalBlinker.pedestrain_fatal+entries.Uncontrolled.pedestrain_fatal+entries.Givewaysign.pedestrain_fatal+entries.Others.pedestrain_fatal
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.pedestrain_grievious+entries.ManualPoliceControl.pedestrain_grievious+entries.Stopsign.pedestrain_grievious+entries.FlashingsignalBlinker.pedestrain_grievious+entries.Uncontrolled.pedestrain_grievious+entries.Givewaysign.pedestrain_grievious+entries.Others.pedestrain_grievious
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.pedestrain_simple+entries.ManualPoliceControl.pedestrain_simple+entries.Stopsign.pedestrain_simple+entries.FlashingsignalBlinker.pedestrain_simple+entries.Uncontrolled.pedestrain_simple+entries.Givewaysign.pedestrain_simple+entries.Others.pedestrain_simple
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.pedestrain_not_hospitalized+entries.ManualPoliceControl.pedestrain_not_hospitalized+entries.Stopsign.pedestrain_not_hospitalized+entries.FlashingsignalBlinker.pedestrain_not_hospitalized+entries.Uncontrolled.pedestrain_not_hospitalized+entries.Givewaysign.pedestrain_not_hospitalized+entries.Others.pedestrain_not_hospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.pedestrain_noinjur+entries.ManualPoliceControl.pedestrain_noinjur+entries.Stopsign.pedestrain_noinjur+entries.FlashingsignalBlinker.pedestrain_noinjur+entries.Uncontrolled.pedestrain_noinjur+entries.Givewaysign.pedestrain_noinjur+entries.Others.pedestrain_noinjur
                        }}
                    </td>
                    <td style=" border: 2px solid black">
                        {{ entries.Trafficsignals.pedestrain_total+entries.ManualPoliceControl.pedestrain_total+entries.Stopsign.pedestrain_total+entries.FlashingsignalBlinker.pedestrain_total+entries.Uncontrolled.pedestrain_total+entries.Givewaysign.pedestrain_total+entries.Others.pedestrain_total
                        }}
                    </td>


                </tr>
            </table>
            </div>
            </div>












        </div>


    </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>