<div class="container">
    <br>
    <div class="card-header text-center">
        <i class="fa fa-dashboard fa-lg"></i> Dashboard
    </div>
    <div class="colorBack">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>



                    <div class="form-group">
                        <label for="name">User Name</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="station.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                        <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                            <div *ngIf="name.errors.required">User Name is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="designation">Designation</label>
                        <input type="text" class="form-control" name="designation" [(ngModel)]="station.data.designation" #designation="ngModel" [ngClass]="{ 'is-invalid': f.submitted && designation.invalid }" required />
                        <div *ngIf="f.submitted && designation.invalid" class="invalid-feedback">
                            <div *ngIf="designation.errors.required">Police Designation is required</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="mail">User Email</label>
                        <input type="text" class="form-control" name="mail" [(ngModel)]="station.mail" #mail="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mail.invalid }" required/>
                        <div *ngIf="f.submitted && mail.invalid" class="invalid-feedback">
                            <div *ngIf="mail.errors.required">User Email is required</div>
                            <div *ngIf="mail.errors.mail">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phNumber">Phone Number</label>
                        <input type="number" class="form-control" name="phNumber" [(ngModel)]="station.phNumber" #phNumber="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phNumber.invalid }" required />
                        <div *ngIf="f.submitted && phNumber.invalid" class="invalid-feedback">
                            <div *ngIf="phNumber.errors.required">Phone Number is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="table-info">
                        <th class="WidthTableNumber text-center">S.no</th>
                        <th class="WidthTable text-center">User Name</th>
                        <th class="WidthTable text-center">User Email</th>
                        <!-- <th scope="col">Phone Number</th> -->
                    </tr>
                </thead>
                <tbody *ngFor="let users of allUsers; let i = index">
                    <tr>
                        <th class="text-center">{{i+1}}</th>
                        <td class="text-center">{{users.name}}</td>
                        <td class="text-center">{{users.mail}}</td>
                        <!-- <td>{{users.phNumber}}</td> -->
                        <!-- <td>{{station.data.district}}</td>
                            <td>{{station.data.city}}</td>
                            <td>{{station.data.latitute}}</td>
                            <td>{{station.data.longitude}}</td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>