<!-- <app-home>
</app-home>
<div class="row">
    <div class="col-lg-4 col-xs-12 col-sm-12 col-md-4 col-xl-3">
        <app-sidebar-station *ngIf="user.type==='Admin'"></app-sidebar-station>
        <app-sidebar-user *ngIf="user.type==='Station'"></app-sidebar-user>
    </div>
    <div class="col-lg-8 col-xs-12 col-sm-12 col-md-8 col-xl-9">

    </div>
</div>
<router-outlet>
</router-outlet> -->
<router-outlet></router-outlet>

