<div class="container">
  <br>
  <div class="card-header text-center">
      <i class="fa fa-plus-circle"></i> Deactive Station
  </div>
  <div class="colorBack">
      <br>
      <div class="table-responsive">
          <table class="table table-bordered table-hover">
              <thead>
                  <tr class="table-info">
                      <th class="WidthTableNumber text-center">S.no</th>
                      <th class="WidthTable text-center">User Name</th>
                      <th class="WidthTable text-center">Deactive/Active</th>
                  </tr>
              </thead>
              <tbody *ngFor="let station of allStations; let i = index">
                  <tr>
                      <th class="text-center">{{i+1}}</th>
                      <td class="text-center">{{station.name}}</td>
                      <td class="text-center"><label class="switch">
                       <input type="checkbox" (change)="clickme($event,i,station)" [(ngModel)]="station.active">
                                  <span class="slider round"></span>
                              </label></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>