<div class="row">
    <div class="col-md-12">
        <div class="container-fluid">
            <form (ngSubmit)="onSubmit()" #yourForm="ngForm">
                    <div class="row form-group" *ngIf="local.roleType=='DIST'">
                            <div class="col-sm-4">
                                <label for="inputEmail3" class= "col-form-label">From Date</label>
                                <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
        
                            <div class="col-sm-4">
                                <label for="inputEmail3" class="col-form-label">To Date</label>
                                <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
                           
                            <div class="col-4" >
                                <label class="col-form-label">Select Police Station</label>
                                <select class="form-control" name="stationId" [(ngModel)]="stationId">
                                <option>Choose..</option>
                            
                            <option *ngFor="let stname of allStations" value="{{stname._id}}">{{stname.name}}</option>
                            </select>
                            </div>
        
                        </div>
                        <div class="row form-group" *ngIf="local.roleType!=='DIST'">
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class= "col-form-label">From Date</label>
                                    <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class="col-form-label">To Date</label>
                                    <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                            </div>
        
                        <div class="row form-group">
                        <div class="col-sm mt-4 text-center">
                            <input type="submit" [disabled]="!yourForm.form.valid" value="Submit" class="btn btn-success">
                        </div>
                        </div>
            </form>
            <br>

            <div class="col-md-10 offset-md-1">
                    <div style="overflow: hidden" *ngIf="entries.ValidPremanentLicense">
                            <div class="row">
                                <div class="col-sm-3 text-left">
                                        <input (click)="printOne()" value="Print" class="btn btn-success">
                                </div>
                                <div class="col-sm-3 text-left">
                                        <input (click)="exportCsvOne()" value="Export csv" class="btn btn-success">
                                </div>
                            </div>
                            <div style="overflow: hidden" id="tableOne">
                <table class="table table-borderless table-responsive" width="100%" *ngIf="entries.ValidPremanentLicense">
                    <tr style=" border: 2px solid black">
                        <th style=" border: 2px solid black" colspan="7" class="class text-center"><b> 16. Accidents Classified According to License of Drivers</b></th>
                    </tr>
                    <tr style=" border: 2px solid black">
                        <th style=" border: 2px solid black" rowspan="2" class="text-center"><br><br>Type of License</th>
                        <th style=" border: 2px solid black" colspan="6" class="text-center">Number of Accidents</th>

                    </tr>
                    <tr style=" border: 2px solid black">
                        <th style=" border: 2px solid black" class="text-center">Fatal</th>
                        <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                        <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                        <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                        <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                        <th style=" border: 2px solid black" class="text-center">Total</th>


                    </tr>
                    <tr style=" border: 2px solid black">
                        <th style=" border: 2px solid black">Valid Permanent License</th>
                        <td style=" border: 2px solid black">{{entries.ValidPremanentLicense.fatal}}</td>
                        <td style=" border: 2px solid black">{{entries.ValidPremanentLicense.grievious}}</td>
                        <td style=" border: 2px solid black">{{entries.ValidPremanentLicense.minor}}</td>
                        <td style=" border: 2px solid black">{{entries.ValidPremanentLicense.not_hospitalized}}</td>
                        <td style=" border: 2px solid black">{{entries.ValidPremanentLicense.noinjur}}</td>
                        <td style=" border: 2px solid black">{{entries.ValidPremanentLicense.total}}</td>


                    </tr>
                    <tr style=" border: 2px solid black">
                        <th style=" border: 2px solid black">Learner License</th>
                        <td style=" border: 2px solid black">{{entries.LearnerLicense.fatal}}</td>
                        <td style=" border: 2px solid black">{{entries.LearnerLicense.grievious}}</td>
                        <td style=" border: 2px solid black">{{entries.LearnerLicense.minor}}</td>
                        <td style=" border: 2px solid black">{{entries.LearnerLicense.not_hospitalized}}</td>
                        <td style=" border: 2px solid black">{{entries.LearnerLicense.noinjur}}</td>
                        <td style=" border: 2px solid black">{{entries.LearnerLicense.total}}</td>


                    </tr>
                    <tr style=" border: 2px solid black">
                        <th style=" border: 2px solid black">Without License</th>
                        <td style=" border: 2px solid black">{{entries.WithoutLicense.fatal}}</td>
                        <td style=" border: 2px solid black">{{entries.WithoutLicense.grievious}}</td>
                        <td style=" border: 2px solid black">{{entries.WithoutLicense.minor}}</td>
                        <td style=" border: 2px solid black">{{entries.WithoutLicense.not_hospitalized}}</td>
                        <td style=" border: 2px solid black">{{entries.WithoutLicense.noinjur}}</td>
                        <td style=" border: 2px solid black">{{entries.WithoutLicense.total}}</td>


                    </tr>
                    <tr style=" border: 2px solid black">
                        <th style=" border: 2px solid black">Not Known</th>
                        <td style=" border: 2px solid black">{{entries.Unknown.fatal}}</td>
                        <td style=" border: 2px solid black">{{entries.Unknown.grievious}}</td>
                        <td style=" border: 2px solid black">{{entries.Unknown.minor}}</td>
                        <td style=" border: 2px solid black">{{entries.Unknown.not_hospitalized}}</td>
                        <td style=" border: 2px solid black">{{entries.Unknown.noinjur}}</td>
                        <td style=" border: 2px solid black">{{entries.Unknown.total}}</td>


                    </tr>
                    <tr style=" border: 2px solid black">
                        <th style=" border: 2px solid black">Not Applicable</th>
                        <td style=" border: 2px solid black">{{entries.NotApplicable.fatal}}</td>
                        <td style=" border: 2px solid black">{{entries.NotApplicable.grievious}}</td>
                        <td style=" border: 2px solid black">{{entries.NotApplicable.minor}}</td>
                        <td style=" border: 2px solid black">{{entries.NotApplicable.not_hospitalized}}</td>
                        <td style=" border: 2px solid black">{{entries.NotApplicable.noinjur}}</td>
                        <td style=" border: 2px solid black">{{entries.NotApplicable.total}}</td>


                    </tr>
                    <tr style=" border: 2px solid black">
                        <th style=" border: 2px solid black">Total</th>
                        <td style=" border: 2px solid black">
                            {{entries.ValidPremanentLicense.fatal+entries.LearnerLicense.fatal+entries.WithoutLicense.fatal+entries.Unknown.fatal+entries.NotApplicable.fatal}}
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.ValidPremanentLicense.grievious+entries.LearnerLicense.grievious+entries.WithoutLicense.grievious+entries.Unknown.grievious+entries.NotApplicable.grievious}}
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.ValidPremanentLicense.minor+entries.LearnerLicense.minor+entries.WithoutLicense.minor+entries.Unknown.minor+entries.NotApplicable.minor}}
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.ValidPremanentLicense.not_hospitalized+entries.LearnerLicense.not_hospitalized+entries.WithoutLicense.not_hospitalized+entries.Unknown.not_hospitalized+entries.NotApplicable.not_hospitalized}}
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.ValidPremanentLicense.noinjur+entries.LearnerLicense.noinjur+entries.WithoutLicense.noinjur+entries.Unknown.noinjur+entries.NotApplicable.noinjur}}
                        </td>
                        <td style=" border: 2px solid black">
                            {{entries.ValidPremanentLicense.total+entries.LearnerLicense.total+entries.WithoutLicense.total+entries.Unknown.total+entries.NotApplicable.total}}
                        </td>


                    </tr>
                </table>
                </div>
                </div>
            </div>
            <!-- <br>
                    <br>
                    <table class="table table-borderless table-responsive" width="100%">
                        <tr style=" border: 2px solid black">
                            <th style=" border: 2px solid black" colspan="19" class="class text-center"><b>Number of Persons
                              </b></th>
                        </tr>
                        <tr style=" border: 2px solid black">
                            <th style=" border: 2px solid black" rowspan="2" class="text-center"><br><br>Type of License</th>
                            <th style=" border: 2px solid black" colspan="6" class="text-center">Driver <br>(based on type of Accidents)</th>
                            <th style=" border: 2px solid black" colspan="6" class="text-center">Passenger <br>(based on type of Accidents)</th>
                            <th style=" border: 2px solid black" colspan="6" class="text-center">Pedestrain <br>(based on type of Accidents)</th>
                        </tr>
                        <tr style=" border: 2px solid black">
                            <th style=" border: 2px solid black" class="text-center">Fatal</th>
                            <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                            <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                            <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                            <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                            <th style=" border: 2px solid black" class="text-center">Total</th>
                            <th style=" border: 2px solid black" class="text-center">Fatal</th>
                            <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                            <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                            <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                            <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                            <th style=" border: 2px solid black" class="text-center">Total</th>
                            <th style=" border: 2px solid black" class="text-center">Fatal</th>
                            <th style=" border: 2px solid black" class="text-center">Grievous<br>Injury</th>
                            <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                            <th style=" border: 2px solid black" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                            <th style=" border: 2px solid black" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                            <th style=" border: 2px solid black" class="text-center">Total</th>
        
        
                        </tr>
                        <tr style=" border: 2px solid black">
                            <th style=" border: 2px solid black">Valid Permanent License</th>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
        
                        </tr>
                        <tr style=" border: 2px solid black">
                            <th style=" border: 2px solid black">Learner License</th>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
        
                        </tr>
                        <tr style=" border: 2px solid black">
                            <th style=" border: 2px solid black">Without License</th>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
        
                        </tr>
                        <tr style=" border: 2px solid black">
                            <th style=" border: 2px solid black">Not Known</th>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
        
                        </tr>
                        <tr style=" border: 2px solid black">
                            <th style=" border: 2px solid black">Not Applicable</th>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
        
                        </tr>
                        <tr style=" border: 2px solid black">
                            <th style=" border: 2px solid black">Total</th>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
                            <td style=" border: 2px solid black"></td>
        
                        </tr>
                    </table> -->










        </div>


    </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>