
<div class="row">
  <div class="col-md-10 offset-md-1">
      <div class="container">
          <div class="jumbotron">
              <div class="card-header text-center">
                  <i class="fa fa-plus-circle"></i> Add Zone
              </div>
              <br>
              <div class="row">
                  <div class="col-md-8 offset-md-2">
                      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>


                          <div class="form-group">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                              <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                                  <div *ngIf="name.errors.required">Name is required</div>
                              </div>
                          </div>

                          <div class="form-group">
                              <label for="mail">Email</label>
                              <input type="text" class="form-control" name="mail" [(ngModel)]="model.mail" #mail="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mail.invalid }" required mail />
                              <div *ngIf="f.submitted && mail.invalid" class="invalid-feedback">
                                  <div *ngIf="mail.errors.required">Email is required</div>
                                  <div *ngIf="mail.errors.mail">Email must be a valid email address</div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="phNumber">Phone Number</label>
                              <input type="number" class="form-control" name="phNumber" [(ngModel)]="model.phNumber" #phNumber="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phNumber.invalid }" required />
                              <div *ngIf="f.submitted && phNumber.invalid" class="invalid-feedback">
                                  <div *ngIf="phNumber.errors.required">Phone Number is required</div>
                              </div>
                          </div>

                          <div class="form-group">
                              <label for="district">State</label>

                              <select class="form-control" name="state" [(ngModel)]="model.data.state" #state="ngModel"
                               [ngClass]="{ 'is-invalid': f.submitted && state.invalid }" required>
                                      <option *ngFor="let x of states" [value]="x">{{x}}</option>
                                  </select>
                              <div *ngIf="f.submitted && state.invalid" class="invalid-feedback">
                                  <div *ngIf="state.errors.required">State is required

                                  </div>
                              </div>
                          </div>

                          <div class="form-group">
                              <label for="district">District</label>

                              <select class="form-control" name="district" [(ngModel)]="model.data.district" #district="ngModel"
                               [ngClass]="{ 'is-invalid': f.submitted && district.invalid }" required>
                                      <option *ngFor="let x of districts" [value]="x">{{x}}</option>
                                  </select>
                              <div *ngIf="f.submitted && district.invalid" class="invalid-feedback">
                                  <div *ngIf="district.errors.required">District is required

                                  </div>
                              </div>
                          </div>

                          <div class="form-group">
                            <label for="district">Select Zone</label>

                            <select class="form-control" name="zoneCode" [(ngModel)]="model.data.zoneCode" #state="ngModel"
                             [ngClass]="{ 'is-invalid': f.submitted && zoneCode.invalid }" required>
                                    <option *ngFor="let x of zoneCode" [value]="x">{{x}}</option>
                                </select>
                            <div *ngIf="f.submitted && zoneCode.invalid" class="invalid-feedback">
                                <div *ngIf="zoneCode.errors.required">Zone is required

                                </div>
                            </div>
                        </div>


                          <div class="form-group">
                              <button class="btn btn-primary">Create</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="jumbotron table-responsive">
            <div class="row">
                <div class="col-4" class="text-left">
                    <div class="form-group">
                        <label for="name">Search Name</label>
                        <input type="text" class="form-control" (keyup)='search($event.target.value)' />
                    </div>
                </div>
            </div>
           <table class="table table-bordered table-hover">
                  <thead>
                      <tr class="table-info">
                          <th scope="col">S.no</th>
                          <th scope="col">Name</th>
                          <th scope="col">Zone</th>
                          <th scope="col">Action</th>
                      </tr>
                  </thead>
                  <tbody  *ngFor="let station of allStations; let i = index">
                    <tr *ngIf="!filterData">
                        <th scope="row">{{i+1}}</th>
                        <td>{{station.name}}</td>
                        <td>{{station.mail}}</td>
                    </tr>
                </tbody>
                <tbody  *ngFor="let station of filterData; let i = index">
                    <tr *ngIf="filterData">
                        <th scope="row">{{i+1}}</th>
                        <td>{{station.name}}</td>
                        <td>{{station.mail}}</td>
                    </tr>
                </tbody>
              </table>
              </div>

      </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
