
<div class="container">
    <br>
    <div class="card-header text-center">
        <i class="fa fa-dashboard fa-lg"></i> Dashboard
    </div>
    <div class="colorBack">

        <div class="form-group row"  >
            <label for="inputEmail3" class="col-sm-2 col-form-label">No Of Registered Users</label>
            <div class="col-sm-2" *ngIf='dashDetails'>
                <input class="form-control"  value="{{dashDetails.registered_station}}" />
            </div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">From Date</label>
            <div class="col-sm-2">
              <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
            </div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">To Date</label>
            <div class="col-sm-2">
              <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="col-sm-03 offset-sm-6 ">
              <div class="text-center">
                <button type="button" class="btn btn-success" (click)="clickme()">Submit</button>
            </div>
             </div>
        </div>


        <!-- <div class="form-group row">
            <div  class="col-sm-2">
                <label class="col-form-label">No Of Registered Users</label>
                <input class="form-control" value="{{allUsers.length}}" />
            </div>

            <div class="col-sm-2">
                <label class=" col-form-label">From Date</label>
                <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" />
            </div>
            <div class="col-sm-2">
                <label class=" col-form-label">To Date</label>
                <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" />
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-success" (click)="clickme()">Submit</button>
        </div> -->
        <br>
        <div class="table-responsive" *ngIf="dashDetails">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="table-info">
                        <th class="WidthTableNumber text-center">S.no</th>
                        <th class="WidthTable text-center">User Name</th>
                        <th class="WidthTable text-center">Total Cases entered</th>
                        <th class="WidthTable text-center">Date Range</th>
                    </tr>
                </thead>
                <tbody *ngFor="let entry of dashDetails.station_name; let i=index">
                    <tr>
                      <th class="text-center">{{i+1}}</th>
                      <th class="text-center">{{entry.station_mail}}</th>
                      <td class="text-center">{{entry.individual_station_case_count}}</td>
                      <td class="text-center">{{entry.current_date_case_count}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
