<!-- <div class="row">
    <div class="col-md-12">
        <div class="container-fluid">
            <form (ngSubmit)="onSubmit()" #yourForm="ngForm">
                <div class="row form-group">
                    <div class="col-sm-1">
                    </div>
                    <label for="inputEmail3" class="col-sm-2 col-form-label">From Date</label>
                    <div class="col-sm-3">
                        <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                    </div>


                    <div class="col-sm-1">
                    </div>
                    <label for="inputEmail3" class="col-sm-2 col-form-label">To Date</label>
                    <div class="col-sm-3">
                        <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                    </div>

                </div>

                <div class="row form-group">
                <div class="col-sm mt-4 text-center">
                    <input type="submit" [disabled]="!yourForm.form.valid" value="Submit" class="btn btn-success">
                </div>
                </div>
            </form>
            <br>
            <table class="table table-borderless table-responsive" width="100%">
                <tr>
                    <th colspan="11" class="class text-center"><b> 17. Accidents Classified According to Type of Road Users</b>
                    </th>
                </tr>
                <tr>
                    <th rowspan="2" class="text-center"><br><br>Persons</th>
                    <th colspan="10" class="text-center">Number of Persons <br>(based on type of Accidents)</th>

                </tr>
                <tr>
                    <th colspan="2" class="text-center">Fatal</th>
                    <th colspan="2" class="text-center">Grievous<br>Injury</th>
                    <th colspan="2" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th colspan="2" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th colspan="2" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th class="text-center">Total</th>

                </tr>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>


                </tr>
                <tr>
                    <th>1. Pedestrians</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>



                </tr>
                <tr>
                    <th>2. Bicycles</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>



                </tr>
                <tr>
                    <th> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>3. Two Wheelers</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>

                </tr>
                <tr>
                    <th> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>4. Auto Rickshaws</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>

                </tr>
                <tr>
                    <th> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>5. Cars/Taxi/Van/LMV</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>

                </tr>
                <tr>
                    <th> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>6. Trucks/Lorries</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>

                </tr>
                <tr>
                    <th> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>7. Buses</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>


                </tr>
                <tr>
                    <th> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>8. Other Motor Vehicles</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>

                </tr>
                <tr>
                    <th> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>9. Other Non Motorized Vehicles</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>

                </tr>
                <tr>
                    <th> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>10. Total</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>

                </tr>
                <tr>
                    <th> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
            </table>
            <br>
            <br>
            <table class="table table-borderless table-responsive" width="100%">
                <tr>
                    <th colspan="31" class="class text-center"><b>Number of Persons </b></th>
                </tr>
                <tr>
                    <th rowspan="2" class="text-center"><br><br>Persons</th>

                    <th colspan="10" class="text-center">Driver <br>(based on type of Accidents)</th>
                    <th colspan="10" class="text-center">Passenger <br>(based on type of Accidents)</th>
                    <th colspan="10" class="text-center">Pedestrain <br>(based on type of Accidents)</th>



                </tr>
                <tr>
                    <th colspan="2" class="text-center">Fatal</th>
                    <th colspan="2" class="text-center">Grievous<br>Injury</th>
                    <th colspan="2" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th colspan="2" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th colspan="2" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th colspan="2" class="text-center">Fatal</th>
                    <th colspan="2" class="text-center">Grievous<br>Injury</th>
                    <th colspan="2" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th colspan="2" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th colspan="2" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th colspan="2" class="text-center">Fatal</th>
                    <th colspan="2" class="text-center">Grievous<br>Injury</th>
                    <th colspan="2" class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th colspan="2" class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th colspan="2" class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th class="text-center">Total</th> -->

                <!-- </tr>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>

                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>

                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>
                    <th class="text-center">Male<sup>3</sup></th>
                    <th class="text-center">Female<sup>3</sup></th>


                </tr>
                <tr>
                    <th>1. Pedestrians</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>



                </tr>
                <tr>
                    <th>2. Bicycles</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>



                </tr>
                <tr>
                    <th> <span></span><span></span> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>3. Two Wheelers</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>

                </tr>
                <tr>
                    <th> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>4. Auto Rickshaws</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>

                </tr>
                <tr>
                    <th> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>5. Cars/Taxi/Van/LMV</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                </tr>
                <tr>
                    <th> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>6. Trucks/Lorries</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>

                </tr>
                <tr>
                    <th> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>7. Buses</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>

                </tr>
                <tr>
                    <th> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>8. Other Motor Vehicles</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>

                </tr>
                <tr>
                    <th> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>9. Other Non Motorized Vehicles</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>

                </tr>
                <tr>
                    <th> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>10. Total</th>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>
                    <td bgcolor="#b4b4b4"></td>

                </tr>
                <tr>
                    <th> <span></span><span></span> a. Driver <sup>1</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <th>b. Passengers <sup>2</sup></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
            </table>










        </div>


    </div>
</div> -->
<div class="row" style="border: 2px solid black;margin-top:2rem">
        <div class="col-md-6 offset-md-3 text-center" >
            <h1>Under construction</h1>
        </div>
    </div>