#contentToConvert {
    font-size: 12px;
    border-bottom: 0px;
    border: 2px;
}

.modal-body img {
    max-height: 69vh;
}

.modal-dialog {
    margin: 2.5vh auto;
}

.modal-content {
    max-height: 95vh;
}

.modal-body {
    max-height: 90vh;
}
.mail_btn{
    margin-left: 1rem;
}