.stylepad {
    margin-right: 45px;
    margin-top: 10px;
}

.card-header {
    background-color: #FFB6C1;
}

.colorBack {
    background-color: #F8F8F8;
}

.WidthTableNumber {
    width: 10%;
}

.WidthTable {
    width: 30%;
}