<div class="container">
    <br>
    <div class="card-header text-center">
        <i class="fa fa-book"></i> View Data
    </div>
    <div class="colorBack text-center">


        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">From Date</label>
            <div class="col-sm-2">
                <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control"
                    ngui-datetime-picker date-only="true" />
            </div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">To Date</label>
            <div class="col-sm-2">
                <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker
                    date-only="true" />
            </div>

            <label for="inputEmail3" class="col-sm-2 col-form-label">Select Police Station</label>
            <div class="col-sm-2">
                <select class="form-control" [(ngModel)]="stationId">
                    <option>Choose..</option>

                    <option *ngFor="let stname of allStations" value="{{stname._id}}">{{stname.name}}</option>
                </select>
            </div>

        </div>
        <div class="text-center">
            <button type="button" class="btn btn-success" (click)="clickme()">Submit</button>
        </div>



        <!--         
        <div class="form-group row">
            <div class="col-2">
            </div>
            <div class="col-4">
                <label class=" col-form-label">From Date</label>
                <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" />
            </div>
            <div class="col-4">
                <label class=" col-form-label">To Date</label>
                <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" />
            </div>

            <div class="col-2">
            </div>
        </div>
        <div class="form-group row" *ngIf="myDate">
            <div class="col-2">
            </div>
            <label class="col-4 col-form-label">Select Police Station</label>
            <div class="col-4">
                <select class="form-control" [(ngModel)]="stationId">
                        <option>Choose..</option>
                    
                    <option *ngFor="let stname of allStations" value="{{stname._id}}">{{stname.name}}</option>
                    </select>
            </div>
            <div class="col-2">
            </div>
        </div>
        <br>
        <div class="text-center">
            <button type="button" class="btn btn-success" *ngIf="stationId" (click)="clickme()">Submit</button>
        </div> -->

        <br>
        <div class="table-responsive">
            <table class="table table-bordered table-hover" *ngIf="entries">
                <thead>
                    <tr class="table-info">
                        <th class="WidthTableNumber text-center">S.no</th>
                        <th class="WidthTable text-center">Accident Date</th>
                        <th class="WidthTable text-center">Case ID</th>
                        <th class="WidthTable text-center">View</th>
                    </tr>
                </thead>
                <tbody *ngFor="let entry of entries| paginate: config; let i = index">
                    <tr>
                        <th class="text-center">{{i+1}}</th>
                        <th class="text-center">{{entry.date}}</th>
                        <td class="text-center"> ARF_{{ entry.hourMinute}}</td>
                        <td class="text-center"><button type="button" class="btn btn-success btn-sm"
                                routerLink="{{entry._id}}">Click</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

    </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->
<!-- <div class="form-group row">
                    <label class="col-4 col-form-label">Select District</label>
                    <div class="col-4">
                        <select class="form-control" [(ngModel)]="obj.district">
                                <option>Choose..</option>
                <option *ngFor="let station of allStations" value="{{station.data.district}}">{{station.data.district}}</option>
              </select>
                    </div>
                    <div class="col-2">
                    </div>
                </div> -->