<div class="row">
    <div class="col-md-12">
        <div class="container-fluid">
            <form (ngSubmit)="onSubmit()" #yourForm="ngForm">
                    <div class="row form-group" *ngIf="local.roleType=='DIST'">
                            <div class="col-sm-4">
                                <label for="inputEmail3" class= "col-form-label">From Date</label>
                                <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
        
                            <div class="col-sm-4">
                                <label for="inputEmail3" class="col-form-label">To Date</label>
                                <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                            </div>
                           
                            <div class="col-4" >
                                <label class="col-form-label">Select Police Station</label>
                                <select class="form-control" name="stationId" [(ngModel)]="stationId">
                                <option>Choose..</option>
                            
                            <option *ngFor="let stname of allStations" value="{{stname._id}}">{{stname.name}}</option>
                            </select>
                            </div>
        
                        </div>
                        <div class="row form-group" *ngIf="local.roleType!=='DIST'">
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class= "col-form-label">From Date</label>
                                    <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                                <div class="col-sm-6">
                                    <label for="inputEmail3" class="col-form-label">To Date</label>
                                    <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" [ngModelOptions]="{standalone: true}" />
                                </div>
            
                            </div>
        
                        <div class="row form-group">
                        <div class="col-sm mt-4 text-center">
                            <input type="submit" [disabled]="!yourForm.form.valid" value="Submit" class="btn btn-success">
                        </div>
                        </div>
            </form>
            <br>
            <div style="overflow: hidden" *ngIf="entries.Tjunction">
                <div class="row">
                    <div class="col-sm-3 text-left">
                            <input (click)="printOne()" value="Print" class="btn btn-success">
                    </div>
                    <div class="col-sm-3 text-left">
                            <input (click)="exportCsvOne()" value="Export csv" class="btn btn-success">
                    </div>
                </div>
                <div style="overflow: hidden" id="tableOne">
            <table class="table table-borderless table-responsive" width="100%" *ngIf="entries.Tjunction">
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black"  colspan="13" class="class text-center"><b> 7. Accidents Classified According to Junction Type</b></th>
                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black"  rowspan="2" class="text-center"><br><br>Junction Type</th>
                    <th style=" border: 2px solid black"  colspan="6" class="text-center">Number of Accidents</th>
                    <th style=" border: 2px solid black"  colspan="6" class="text-center">Number of Persons <br>(based on type of Accidents)</th>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black"  class="text-center">Fatal</th>
                    <th style=" border: 2px solid black"  class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black"  class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black"  class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black"  class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black"  class="text-center">Total</th>
                    <th style=" border: 2px solid black"  class="text-center">Fatal</th>
                    <th style=" border: 2px solid black"  class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black"  class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black"  class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black"  class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black"  class="text-center">Total</th>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >T Junction</th>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.minor}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.total}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.personsFatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.personsGrievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.personsSimple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.personsNoinjur}}</td>
                    <td style=" border: 2px solid black" >
                        {{entries.Tjunction.personsFatal+entries.Tjunction.personsGrievious+ entries.Tjunction.personsSimple+entries.Tjunction.personsNotHospitalized+ entries.Tjunction.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Y Junction</th>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.minor}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.total}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.personsFatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.personsGrievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.personsSimple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.personsNoinjur}}</td>
                    <td style=" border: 2px solid black" >
                        {{entries.Yjunction.personsFatal+entries.Yjunction.personsGrievious+ entries.Yjunction.personsSimple+entries.Yjunction.personsNotHospitalized+ entries.Yjunction.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Four Arm Junction</th>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.minor}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.total}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.personsFatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.personsGrievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.personsSimple}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.personsNoinjur}}</td>
                    <td style=" border: 2px solid black" >
                        {{entries.FourArmJunction.personsFatal+entries.FourArmJunction.personsGrievious+ entries.FourArmJunction.personsSimple+entries.FourArmJunction.personsNotHospitalized+ entries.FourArmJunction.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Staggered Junction</th>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.minor}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.total}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.personsFatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.personsGrievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.personsSimple}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.personsNoinjur}}</td>
                    <td style=" border: 2px solid black" >
                        {{entries.StaggeredJunction.personsFatal+entries.StaggeredJunction.personsGrievious+ entries.StaggeredJunction.personsSimple+entries.StaggeredJunction.personsNotHospitalized+ entries.StaggeredJunction.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Roundabout</th>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.minor}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.total}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.personsFatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.personsGrievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.personsSimple}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.personsNoinjur}}</td>
                    <td style=" border: 2px solid black" >
                        {{entries.RoundaboutJunction.personsFatal+entries.RoundaboutJunction.personsGrievious+ entries.RoundaboutJunction.personsSimple+entries.RoundaboutJunction.personsNotHospitalized+ entries.RoundaboutJunction.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Bridge Flyover</th>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.minor}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.total}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.personsFatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.personsGrievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.personsSimple}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.personsNoinjur}}</td>
                    <td style=" border: 2px solid black" >
                        {{entries.BridgeFlyover.personsFatal+entries.BridgeFlyover.personsGrievious+ entries.BridgeFlyover.personsSimple+entries.BridgeFlyover.personsNotHospitalized+ entries.BridgeFlyover.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Cross junction</th>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.minor}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.total}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.personsFatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.personsGrievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.personsSimple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.personsNoinjur}}</td>
                    <td style=" border: 2px solid black" >
                        {{entries.Crossjunction.personsFatal+entries.Crossjunction.personsGrievious+ entries.Crossjunction.personsSimple+entries.Crossjunction.personsNotHospitalized+ entries.Crossjunction.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Junction with more than 4 Arms</th>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.minor}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.total}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.personsFatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.personsGrievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.personsSimple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.personsNoinjur}}</td>
                    <td style=" border: 2px solid black" >
                        {{entries.Junctionwithmorethan4Arms.personsFatal+entries.Junctionwithmorethan4Arms.personsGrievious+ entries.Junctionwithmorethan4Arms.personsSimple+entries.Junctionwithmorethan4Arms.personsNotHospitalized+ entries.Junctionwithmorethan4Arms.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Not a junction</th>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.minor}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.total}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.personsFatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.personsGrievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.personsSimple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.personsNoinjur}}</td>
                    <td style=" border: 2px solid black" >
                        {{entries.Notajunction.personsFatal+entries.Notajunction.personsGrievious+ entries.Notajunction.personsSimple+entries.Notajunction.personsNotHospitalized+ entries.Notajunction.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Rail crossing manned</th>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.minor}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.total}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.personsFatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.personsGrievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.personsSimple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.personsNoinjur}}</td>
                    <td style=" border: 2px solid black" >
                        {{entries.Railcrossingmanned.personsFatal+entries.Railcrossingmanned.personsGrievious+ entries.Railcrossingmanned.personsSimple+entries.Railcrossingmanned.personsNotHospitalized+ entries.Railcrossingmanned.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Rail crossing unmanned</th>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.minor}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.total}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.personsFatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.personsGrievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.personsSimple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.personsNoinjur}}</td>
                    <td style=" border: 2px solid black" >
                        {{entries.Railcrossingunmanned.personsFatal+entries.Railcrossingunmanned.personsGrievious+ entries.Railcrossingunmanned.personsSimple+entries.Railcrossingunmanned.personsNotHospitalized+ entries.Railcrossingunmanned.personsNoinjur}}
                    </td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Others</th>
                    <td style=" border: 2px solid black" >{{entries.Others.fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.minor}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.total}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.personsFatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.personsGrievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.personsSimple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.personsNotHospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.personsNoinjur}}</td>
                    <td style=" border: 2px solid black" >
                        {{entries.Others.personsFatal+entries.Others.personsGrievious+ entries.Others.personsSimple+entries.Others.personsNotHospitalized+ entries.Others.personsNoinjur}}
                    </td>

                </tr>

                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Total</th>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.fatal+entries.Yjunction.fatal+entries.FourArmJunction.fatal+entries.StaggeredJunction.fatal+entries.RoundaboutJunction.fatal+entries.BridgeFlyover.fatal+entries.Crossjunction.fatal+entries.Junctionwithmorethan4Arms.fatal+entries.Notajunction.fatal+entries.Railcrossingmanned.fatal+entries.Railcrossingunmanned.fatal+entries.Others.fatal
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.grievious+entries.Yjunction.grievious+entries.FourArmJunction.grievious+entries.StaggeredJunction.grievious+entries.RoundaboutJunction.grievious+entries.BridgeFlyover.grievious+entries.Crossjunction.grievious+entries.Junctionwithmorethan4Arms.grievious+entries.Notajunction.grievious+entries.Railcrossingmanned.grievious+entries.Railcrossingunmanned.grievious+entries.Others.grievious
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.minor+entries.Yjunction.minor+entries.FourArmJunction.minor+entries.StaggeredJunction.minor+entries.RoundaboutJunction.minor+entries.BridgeFlyover.minor+entries.Crossjunction.minor+entries.Junctionwithmorethan4Arms.minor+entries.Notajunction.minor+entries.Railcrossingmanned.minor+entries.Railcrossingunmanned.minor+entries.Others.minor
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.not_hospitalized+entries.Yjunction.not_hospitalized+entries.FourArmJunction.not_hospitalized+entries.StaggeredJunction.not_hospitalized+entries.RoundaboutJunction.not_hospitalized+entries.BridgeFlyover.not_hospitalized+entries.Crossjunction.not_hospitalized+entries.Junctionwithmorethan4Arms.not_hospitalized+entries.Notajunction.not_hospitalized+entries.Railcrossingmanned.not_hospitalized+entries.Railcrossingunmanned.not_hospitalized+entries.Others.not_hospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.noinjur+entries.Yjunction.noinjur+entries.FourArmJunction.noinjur+entries.StaggeredJunction.noinjur+entries.RoundaboutJunction.noinjur+entries.BridgeFlyover.noinjur+entries.Crossjunction.noinjur+entries.Junctionwithmorethan4Arms.noinjur+entries.Notajunction.noinjur+entries.Railcrossingmanned.noinjur+entries.Railcrossingunmanned.noinjur+entries.Others.noinjur
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.total+entries.Yjunction.total+entries.FourArmJunction.total+entries.StaggeredJunction.total+entries.RoundaboutJunction.total+entries.BridgeFlyover.total+entries.Crossjunction.total+entries.Junctionwithmorethan4Arms.total+entries.Notajunction.total+entries.Railcrossingmanned.total+entries.Railcrossingunmanned.total+entries.Others.total
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.personsFatal+entries.Yjunction.personsFatal+entries.FourArmJunction.personsFatal+entries.StaggeredJunction.personsFatal+entries.RoundaboutJunction.personsFatal+entries.BridgeFlyover.personsFatal+entries.Crossjunction.personsFatal+entries.Junctionwithmorethan4Arms.personsFatal+entries.Notajunction.personsFatal+entries.Railcrossingmanned.personsFatal+entries.Railcrossingunmanned.personsFatal+entries.Others.personsFatal
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.personsGrievious+entries.Yjunction.personsGrievious+entries.FourArmJunction.personsGrievious+entries.StaggeredJunction.personsGrievious+entries.RoundaboutJunction.personsGrievious+entries.BridgeFlyover.personsGrievious+entries.Crossjunction.personsGrievious+entries.Junctionwithmorethan4Arms.personsGrievious+entries.Notajunction.personsGrievious+entries.Railcrossingmanned.personsGrievious+entries.Railcrossingunmanned.personsGrievious+entries.Others.personsGrievious
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.personsSimple+entries.Yjunction.personsSimple+entries.FourArmJunction.personsSimple+entries.StaggeredJunction.personsSimple+entries.RoundaboutJunction.personsSimple+entries.BridgeFlyover.personsSimple+entries.Crossjunction.personsSimple+entries.Junctionwithmorethan4Arms.personsSimple+entries.Notajunction.personsSimple+entries.Railcrossingmanned.personsSimple+entries.Railcrossingunmanned.personsSimple+entries.Others.personsSimple
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.personsNotHospitalized+entries.Yjunction.personsNotHospitalized+entries.FourArmJunction.personsNotHospitalized+entries.StaggeredJunction.personsNotHospitalized+entries.RoundaboutJunction.personsNotHospitalized+entries.BridgeFlyover.personsNotHospitalized+entries.Crossjunction.personsNotHospitalized+entries.Junctionwithmorethan4Arms.personsNotHospitalized+entries.Notajunction.personsNotHospitalized+entries.Railcrossingmanned.personsNotHospitalized+entries.Railcrossingunmanned.personsNotHospitalized+entries.Others.personsNotHospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.personsNoinjur+entries.Yjunction.personsNoinjur+entries.FourArmJunction.personsNoinjur+entries.StaggeredJunction.personsNoinjur+entries.RoundaboutJunction.personsNoinjur+entries.BridgeFlyover.personsNoinjur+entries.Crossjunction.personsNoinjur+entries.Junctionwithmorethan4Arms.personsNoinjur+entries.Notajunction.personsNoinjur+entries.Railcrossingmanned.personsNoinjur+entries.Railcrossingunmanned.personsNoinjur+entries.Others.personsNoinjur
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.personsFatal+entries.Yjunction.personsFatal+entries.FourArmJunction.personsFatal+entries.StaggeredJunction.personsFatal+entries.RoundaboutJunction.personsFatal+entries.BridgeFlyover.personsFatal+entries.Crossjunction.personsFatal+entries.Junctionwithmorethan4Arms.personsFatal+entries.Notajunction.personsFatal+entries.Railcrossingmanned.personsFatal+entries.Railcrossingunmanned.personsFatal+entries.Others.personsFatal
                        + entries.Tjunction.personsGrievious+entries.Yjunction.personsGrievious+entries.FourArmJunction.personsGrievious+entries.StaggeredJunction.personsGrievious+entries.RoundaboutJunction.personsGrievious+entries.BridgeFlyover.personsGrievious+entries.Crossjunction.personsGrievious+entries.Junctionwithmorethan4Arms.personsGrievious+entries.Notajunction.personsGrievious+entries.Railcrossingmanned.personsGrievious+entries.Railcrossingunmanned.personsGrievious+entries.Others.personsGrievious
                        + entries.Tjunction.personsSimple+entries.Yjunction.personsSimple+entries.FourArmJunction.personsSimple+entries.StaggeredJunction.personsSimple+entries.RoundaboutJunction.personsSimple+entries.BridgeFlyover.personsSimple+entries.Crossjunction.personsSimple+entries.Junctionwithmorethan4Arms.personsSimple+entries.Notajunction.personsSimple+entries.Railcrossingmanned.personsSimple+entries.Railcrossingunmanned.personsSimple+entries.Others.personsSimple
                        + entries.Tjunction.personsNotHospitalized+entries.Yjunction.personsNotHospitalized+entries.FourArmJunction.personsNotHospitalized+entries.StaggeredJunction.personsNotHospitalized+entries.RoundaboutJunction.personsNotHospitalized+entries.BridgeFlyover.personsNotHospitalized+entries.Crossjunction.personsNotHospitalized+entries.Junctionwithmorethan4Arms.personsNotHospitalized+entries.Notajunction.personsNotHospitalized+entries.Railcrossingmanned.personsNotHospitalized+entries.Railcrossingunmanned.personsNotHospitalized+entries.Others.personsNotHospitalized
                        + entries.Tjunction.personsNoinjur+entries.Yjunction.personsNoinjur+entries.FourArmJunction.personsNoinjur+entries.StaggeredJunction.personsNoinjur+entries.RoundaboutJunction.personsNoinjur+entries.BridgeFlyover.personsNoinjur+entries.Crossjunction.personsNoinjur+entries.Junctionwithmorethan4Arms.personsNoinjur+entries.Notajunction.personsNoinjur+entries.Railcrossingmanned.personsNoinjur+entries.Railcrossingunmanned.personsNoinjur+entries.Others.personsNoinjur
                        }}
                    </td>

                </tr>

            </table>
            </div>
            </div>
            <br>
            <br>
            
            <div style="overflow: hidden" *ngIf="entries.Tjunction">
                <div class="row">
                    <div class="col-sm-3 text-left">
                            <input type="button" (click)="printTwo()" value="Print" class="btn btn-success btn-print">
                    </div>
                    <div class="col-sm-3 text-left">
                            <input type="button" (click)="exportCsvTwo()" value="Export csv" class="btn btn-success btn-csv">
                    </div>
                </div>
            <div style="overflow: hidden" id="tableTwo">   
            <table class="table table-borderless table-responsive" width="100%" *ngIf="entries.Tjunction">
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black"  colspan="19" class="class text-center"><b>Number of Persons
            </b></th>
                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black"  rowspan="2" class="text-center"><br><br>Junction Type</th>
                    <th style=" border: 2px solid black"  colspan="6" class="text-center">Driver <br>(based on type of Accidents)</th>
                    <th style=" border: 2px solid black"  colspan="6" class="text-center">Passenger <br>(based on type of Accidents)</th>
                    <th style=" border: 2px solid black"  colspan="6" class="text-center">Pedestrain <br>(based on type of Accidents)</th>
                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black"  class="text-center">Fatal</th>
                    <th style=" border: 2px solid black"  class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black"  class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black"  class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black"  class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black"  class="text-center">Total</th>
                    <th style=" border: 2px solid black"  class="text-center">Fatal</th>
                    <th style=" border: 2px solid black"  class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black"  class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black"  class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black"  class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black"  class="text-center">Total</th>
                    <th style=" border: 2px solid black"  class="text-center">Fatal</th>
                    <th style=" border: 2px solid black"  class="text-center">Grievous<br>Injury</th>
                    <th style=" border: 2px solid black"  class="text-center">Simple<br>Injury<br>(hospitalized) </th>
                    <th style=" border: 2px solid black"  class="text-center">Simple<br>Injury<br>(not hospitalized) </th>
                    <th style=" border: 2px solid black"  class="text-center">Vehicle<br>Damage<br>(No Injury)</th>
                    <th style=" border: 2px solid black"  class="text-center">Total</th>


                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >T Junction</th>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.driver_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.driver_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.driver_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.driver_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.driver_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.Tjunction.passenger_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.passenger_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.passenger_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.passenger_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.Tjunction.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Tjunction.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Y Junction</th>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.driver_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.driver_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.driver_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.driver_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.driver_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.Yjunction.passenger_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.passenger_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.passenger_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.passenger_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.Yjunction.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Yjunction.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Four Arm Junction</th>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.driver_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.driver_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.driver_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.driver_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.driver_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.passenger_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.passenger_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.passenger_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.passenger_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.FourArmJunction.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Staggered Junction</th>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.driver_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.driver_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.driver_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.driver_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.driver_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.passenger_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.passenger_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.passenger_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.passenger_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.StaggeredJunction.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Roundabout</th>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.driver_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.driver_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.driver_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.driver_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.driver_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.passenger_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.passenger_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.passenger_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.passenger_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.RoundaboutJunction.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Bridge Flyover</th>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.driver_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.driver_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.driver_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.driver_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.driver_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.passenger_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.passenger_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.passenger_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.passenger_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.BridgeFlyover.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Cross junction</th>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.driver_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.driver_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.driver_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.driver_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.driver_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.Crossjunction.passenger_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.passenger_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.passenger_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.passenger_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.Crossjunction.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Crossjunction.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Junction with more than 4 Arms</th>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.driver_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.driver_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.driver_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.driver_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.driver_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.passenger_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.passenger_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.passenger_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.passenger_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Junctionwithmorethan4Arms.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Not a junction</th>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.driver_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.driver_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.driver_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.driver_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.driver_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.Notajunction.passenger_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.passenger_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.passenger_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.passenger_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.Notajunction.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Notajunction.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Rail crossing manned</th>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.driver_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.driver_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.driver_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.driver_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.driver_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.passenger_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.passenger_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.passenger_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.passenger_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingmanned.pedestrain_total}}</td>

                </tr>
                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Rail crossing unmanned</th>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.driver_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.driver_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.driver_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.driver_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.driver_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.passenger_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.passenger_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.passenger_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.passenger_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Railcrossingunmanned.pedestrain_total}}</td>

                </tr>


                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Others</th>
                    <td style=" border: 2px solid black" >{{entries.Others.driver_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.driver_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.driver_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.driver_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.driver_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.driver_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.Others.passenger_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.passenger_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.passenger_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.passenger_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.passenger_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.passenger_total}}</td>

                    <td style=" border: 2px solid black" >{{entries.Others.pedestrain_fatal}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.pedestrain_grievious}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.pedestrain_simple}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.pedestrain_not_hospitalized}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.pedestrain_noinjur}}</td>
                    <td style=" border: 2px solid black" >{{entries.Others.pedestrain_total}}</td>

                </tr>


                <tr style=" border: 2px solid black" >
                    <th style=" border: 2px solid black" >Total</th>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.driver_fatal+entries.Yjunction.driver_fatal+entries.FourArmJunction.driver_fatal+entries.StaggeredJunction.driver_fatal+entries.RoundaboutJunction.driver_fatal+entries.BridgeFlyover.driver_fatal+entries.Crossjunction.driver_fatal+entries.Junctionwithmorethan4Arms.driver_fatal+entries.Notajunction.driver_fatal+entries.Railcrossingmanned.driver_fatal+entries.Railcrossingunmanned.driver_fatal+entries.Others.driver_fatal
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.driver_grievious+entries.Yjunction.driver_grievious+entries.FourArmJunction.driver_grievious+entries.StaggeredJunction.driver_grievious+entries.RoundaboutJunction.driver_grievious+entries.BridgeFlyover.driver_grievious+entries.Crossjunction.driver_grievious+entries.Junctionwithmorethan4Arms.driver_grievious+entries.Notajunction.driver_grievious+entries.Railcrossingmanned.driver_grievious+entries.Railcrossingunmanned.driver_grievious+entries.Others.driver_grievious
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.driver_simple+entries.Yjunction.driver_simple+entries.FourArmJunction.driver_simple+entries.StaggeredJunction.driver_simple+entries.RoundaboutJunction.driver_simple+entries.BridgeFlyover.driver_simple+entries.Crossjunction.driver_simple+entries.Junctionwithmorethan4Arms.driver_simple+entries.Notajunction.driver_simple+entries.Railcrossingmanned.driver_simple+entries.Railcrossingunmanned.driver_simple+entries.Others.driver_simple
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.driver_not_hospitalized+entries.Yjunction.driver_not_hospitalized+entries.FourArmJunction.driver_not_hospitalized+entries.StaggeredJunction.driver_not_hospitalized+entries.RoundaboutJunction.driver_not_hospitalized+entries.BridgeFlyover.driver_not_hospitalized+entries.Crossjunction.driver_not_hospitalized+entries.Junctionwithmorethan4Arms.driver_not_hospitalized+entries.Notajunction.driver_not_hospitalized+entries.Railcrossingmanned.driver_not_hospitalized+entries.Railcrossingunmanned.driver_not_hospitalized+entries.Others.driver_not_hospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.driver_noinjur+entries.Yjunction.driver_noinjur+entries.FourArmJunction.driver_noinjur+entries.StaggeredJunction.driver_noinjur+entries.RoundaboutJunction.driver_noinjur+entries.BridgeFlyover.driver_noinjur+entries.Crossjunction.driver_noinjur+entries.Junctionwithmorethan4Arms.driver_noinjur+entries.Notajunction.driver_noinjur+entries.Railcrossingmanned.driver_noinjur+entries.Railcrossingunmanned.driver_noinjur+entries.Others.driver_noinjur
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.driver_total+entries.Yjunction.driver_total+entries.FourArmJunction.driver_total+entries.StaggeredJunction.driver_total+entries.RoundaboutJunction.driver_total+entries.BridgeFlyover.driver_total+entries.Crossjunction.driver_total+entries.Junctionwithmorethan4Arms.driver_total+entries.Notajunction.driver_total+entries.Railcrossingmanned.driver_total+entries.Railcrossingunmanned.driver_total+entries.Others.driver_total
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.passenger_fatal+entries.Yjunction.passenger_fatal+entries.FourArmJunction.passenger_fatal+entries.StaggeredJunction.passenger_fatal+entries.RoundaboutJunction.passenger_fatal+entries.BridgeFlyover.passenger_fatal+entries.Crossjunction.passenger_fatal+entries.Junctionwithmorethan4Arms.passenger_fatal+entries.Notajunction.passenger_fatal+entries.Railcrossingmanned.passenger_fatal+entries.Railcrossingunmanned.passenger_fatal+entries.Others.passenger_fatal
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.passenger_grievious+entries.Yjunction.passenger_grievious+entries.FourArmJunction.passenger_grievious+entries.StaggeredJunction.passenger_grievious+entries.RoundaboutJunction.passenger_grievious+entries.BridgeFlyover.passenger_grievious+entries.Crossjunction.passenger_grievious+entries.Junctionwithmorethan4Arms.passenger_grievious+entries.Notajunction.passenger_grievious+entries.Railcrossingmanned.passenger_grievious+entries.Railcrossingunmanned.passenger_grievious+entries.Others.passenger_grievious
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.passenger_simple+entries.Yjunction.passenger_simple+entries.FourArmJunction.passenger_simple+entries.StaggeredJunction.passenger_simple+entries.RoundaboutJunction.passenger_simple+entries.BridgeFlyover.passenger_simple+entries.Crossjunction.passenger_simple+entries.Junctionwithmorethan4Arms.passenger_simple+entries.Notajunction.passenger_simple+entries.Railcrossingmanned.passenger_simple+entries.Railcrossingunmanned.passenger_simple+entries.Others.passenger_simple
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.passenger_not_hospitalized+entries.Yjunction.passenger_not_hospitalized+entries.FourArmJunction.passenger_not_hospitalized+entries.StaggeredJunction.passenger_not_hospitalized+entries.RoundaboutJunction.passenger_not_hospitalized+entries.BridgeFlyover.passenger_not_hospitalized+entries.Crossjunction.passenger_not_hospitalized+entries.Junctionwithmorethan4Arms.passenger_not_hospitalized+entries.Notajunction.passenger_not_hospitalized+entries.Railcrossingmanned.passenger_not_hospitalized+entries.Railcrossingunmanned.passenger_not_hospitalized+entries.Others.passenger_not_hospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.passenger_noinjur+entries.Yjunction.passenger_noinjur+entries.FourArmJunction.passenger_noinjur+entries.StaggeredJunction.passenger_noinjur+entries.RoundaboutJunction.passenger_noinjur+entries.BridgeFlyover.passenger_noinjur+entries.Crossjunction.passenger_noinjur+entries.Junctionwithmorethan4Arms.passenger_noinjur+entries.Notajunction.passenger_noinjur+entries.Railcrossingmanned.passenger_noinjur+entries.Railcrossingunmanned.passenger_noinjur+entries.Others.passenger_noinjur
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.passenger_total+entries.Yjunction.passenger_total+entries.FourArmJunction.passenger_total+entries.StaggeredJunction.passenger_total+entries.RoundaboutJunction.passenger_total+entries.BridgeFlyover.passenger_total+entries.Crossjunction.passenger_total+entries.Junctionwithmorethan4Arms.passenger_total+entries.Notajunction.passenger_total+entries.Railcrossingmanned.passenger_total+entries.Railcrossingunmanned.passenger_total+entries.Others.passenger_total
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.pedestrain_fatal+entries.Yjunction.pedestrain_fatal+entries.FourArmJunction.pedestrain_fatal+entries.StaggeredJunction.pedestrain_fatal+entries.RoundaboutJunction.pedestrain_fatal+entries.BridgeFlyover.pedestrain_fatal+entries.Crossjunction.pedestrain_fatal+entries.Junctionwithmorethan4Arms.pedestrain_fatal+entries.Notajunction.pedestrain_fatal+entries.Railcrossingmanned.pedestrain_fatal+entries.Railcrossingunmanned.pedestrain_fatal+entries.Others.pedestrain_fatal
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.pedestrain_grievious+entries.Yjunction.pedestrain_grievious+entries.FourArmJunction.pedestrain_grievious+entries.StaggeredJunction.pedestrain_grievious+entries.RoundaboutJunction.pedestrain_grievious+entries.BridgeFlyover.pedestrain_grievious+entries.Crossjunction.pedestrain_grievious+entries.Junctionwithmorethan4Arms.pedestrain_grievious+entries.Notajunction.pedestrain_grievious+entries.Railcrossingmanned.pedestrain_grievious+entries.Railcrossingunmanned.pedestrain_grievious+entries.Others.pedestrain_grievious
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.pedestrain_simple+entries.Yjunction.pedestrain_simple+entries.FourArmJunction.pedestrain_simple+entries.StaggeredJunction.pedestrain_simple+entries.RoundaboutJunction.pedestrain_simple+entries.BridgeFlyover.pedestrain_simple+entries.Crossjunction.pedestrain_simple+entries.Junctionwithmorethan4Arms.pedestrain_simple+entries.Notajunction.pedestrain_simple+entries.Railcrossingmanned.pedestrain_simple+entries.Railcrossingunmanned.pedestrain_simple+entries.Others.pedestrain_simple
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.pedestrain_not_hospitalized+entries.Yjunction.pedestrain_not_hospitalized+entries.FourArmJunction.pedestrain_not_hospitalized+entries.StaggeredJunction.pedestrain_not_hospitalized+entries.RoundaboutJunction.pedestrain_not_hospitalized+entries.BridgeFlyover.pedestrain_not_hospitalized+entries.Crossjunction.pedestrain_not_hospitalized+entries.Junctionwithmorethan4Arms.pedestrain_not_hospitalized+entries.Notajunction.pedestrain_not_hospitalized+entries.Railcrossingmanned.pedestrain_not_hospitalized+entries.Railcrossingunmanned.pedestrain_not_hospitalized+entries.Others.pedestrain_not_hospitalized
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.pedestrain_noinjur+entries.Yjunction.pedestrain_noinjur+entries.FourArmJunction.pedestrain_noinjur+entries.StaggeredJunction.pedestrain_noinjur+entries.RoundaboutJunction.pedestrain_noinjur+entries.BridgeFlyover.pedestrain_noinjur+entries.Crossjunction.pedestrain_noinjur+entries.Junctionwithmorethan4Arms.pedestrain_noinjur+entries.Notajunction.pedestrain_noinjur+entries.Railcrossingmanned.pedestrain_noinjur+entries.Railcrossingunmanned.pedestrain_noinjur+entries.Others.pedestrain_noinjur
                        }}
                    </td>
                    <td style=" border: 2px solid black" >
                        {{ entries.Tjunction.pedestrain_total+entries.Yjunction.pedestrain_total+entries.FourArmJunction.pedestrain_total+entries.StaggeredJunction.pedestrain_total+entries.RoundaboutJunction.pedestrain_total+entries.BridgeFlyover.pedestrain_total+entries.Crossjunction.pedestrain_total+entries.Junctionwithmorethan4Arms.pedestrain_total+entries.Notajunction.pedestrain_total+entries.Railcrossingmanned.pedestrain_total+entries.Railcrossingunmanned.pedestrain_total+entries.Others.pedestrain_total
                        }}
                    </td>

                </tr>
            </table>
            </div>
            </div>












        </div>


    </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>