<div class="container">
    <br>
    <div class="card-header text-center">
        <i class="fa fa-dashboard fa-lg"></i> Dashboard
    </div>
    <div class="colorBack">
        <div class="form-group row" *ngIf="dashDetails">
            <label for="inputEmail3" class="col-sm-2 col-form-label">No of registered police stations</label>
            <div class="col-sm-2">
                <input class="form-control text-center" value="{{dashDetails.registered_station}}" />
            </div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">No of registered Users</label>
            <div class="col-sm-2">
                <input class="form-control text-center" value="{{dashDetails.registered_users}}" />
            </div>
            <label for="inputEmail3" class="col-sm-2 col-form-label">No of cases</label>
            <div class="col-sm-2">
                <input class="form-control text-center" value="{{dashDetails.total_no_cases}}" />
            </div>
        </div>
        <form [formGroup]="stationDashForm" (ngSubmit)="onSubmit(stationDashForm.value)">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">From Date</label>
                <div class="col-sm-3">
                    <input formControlName="StartDate" class=".datepicker-input form-control" ngui-datetime-picker
                        date-only="true" [ngClass]="{ 'is-invalid': submitted && f.StartDate.errors }" />
                    <div *ngIf="submitted && f.StartDate.errors" class="invalid-feedback">
                        <div *ngIf="f.StartDate.errors.required">StartDate is required</div>
                    </div>
                </div>
                <label for="inputEmail3" class="col-sm-2 col-form-label">To Date</label>
                <div class="col-sm-3">
                    <input formControlName="EndDate" class=".datepicker-input form-control" ngui-datetime-picker
                        date-only="true" [ngClass]="{ 'is-invalid': submitted && f.EndDate.errors }" />
                    <div *ngIf="submitted && f.EndDate.errors" class="invalid-feedback">
                        <div *ngIf="f.EndDate.errors.required">EndDate is required</div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <button [disabled]="loading" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-responsive" *ngIf="dashDetails">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-info">
                    <th class="WidthTableNumber text-center">S.no</th>
                    <th class="WidthTable text-center">Station Name</th>
                    <th class="WidthTable text-center">Total Cases entered</th>
                    <th class="WidthTable text-center">Selected Data Range</th>
                </tr>
            </thead>
            <tbody *ngFor="let entry of dashDetails.station_name; let i=index">
                <tr>
                    <th class="text-center">{{i+1}}</th>
                    <th class="text-center">{{entry.station_mail}}</th>
                    <td class="text-center">{{entry.individual_station_case_count}}</td>
                    <td class="text-center">{{entry.current_date_case_count}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="table-responsive">
        <table id="example" class="display table table-bordered table-hover" style="width:100%">
            <thead>
                <tr class="table-info">
                    <th class="WidthTable text-center">Name</th>
                    <th class="WidthTable text-center">Position</th>
                    <th class="WidthTable text-center">Office</th>
                    <th class="WidthTable text-center">Extn.</th>
                    <th class="WidthTable text-center">Start date</th>
                    <th class="WidthTable text-center">Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of datas">
                    <td>{{x.data}}</td>
                    <td>{{x.data}}</td>
                    <td>{{x.data}}</td>
                    <td>{{x.data}}</td>
                    <td>{{x.data}}</td>
                    <td>{{x.data}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Extn.</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </tfoot>
        </table>
    </div> -->

</div>




<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>













<!-- <div class="container">
    <br>
    <div class="card-header text-center">
        <i class="fa fa-dashboard fa-lg"></i> Dashboard
    </div>
    <div class="colorBack">
        <form>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="col-form-label">No of registered police stations</label>
                    <input class="form-control" value="{{dashDetails.registered_station}}" />
                </div>
                <div class="form-group col-md-4">
                    <label class="col-form-label">No of registered Users</label>
                    <input class="form-control" value="{{dashDetails.registered_users}}" />
                </div>
                <div class="form-group col-md-4">
                    <label class="col-form-label">No of cases</label>
                    <input class="form-control" value="{{dashDetails.total_no_cases}}" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class=" col-form-label">From Date</label>
                    <input [(ngModel)]="model.StartDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" />
                </div>
                <div class="form-group col-md-4">
                    <label class=" col-form-label">To Date</label>
                    <input [(ngModel)]="model.EndDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" />
                </div>
                <div class="form-group col-md-4 paddingTop">
                    <button type="button" class="btn btn-success" (click)="clickme()">Submit</button>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="table-info">
                        <th class="WidthTableNumber text-center">S.no</th>
                        <th class="WidthTable text-center">Station Name</th>
                        <th class="WidthTable text-center">Total Cases entered</th>
                        <th class="WidthTable text-center">Data Range</th>
                    </tr>
                </thead>
                <tbody *ngFor="let entry of dashDetails.station_name let i=index">
                    <tr>
                        <th class="text-center">{{i+1}}</th>
                        <th class="text-center">{{entry.station_mail}}</th>
                        <td class="text-center">{{entry.individual_station_case_count}}</td>
                        <td class="text-center">{{entry.current_date_case_count}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner> -->