.card-header {
    background-color: #FFB6C1;
}

.dateColor {
    background-color: blue;
}

.datepicker-input {
    direction: ltr;
    .dropdown-menu {
        direction: ltr;
        * {
            direction: ltr;
        }
    }
}

.colorBack {
    background-color: #F8F8F8;
}

.WidthTableNumber {
    width: 10%;
}

.WidthTable {
    width: 30%;
}