<br>
<br>
<br>
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="container">
            <div class="jumbotron">
                <div class="card-header text-center">
                    <i class="fa fa-fw fa-bar-chart-o"></i> Quick Look
                </div>
                <br>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Select Date</label>
                    <div class="col-4">
                        <input [(ngModel)]="myDate" class=".datepicker-input form-control" ngui-datetime-picker date-only="true" (ngModelChange)="clickme()" />
                    </div>
                    <div class="col-2">
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <label class="col-4 col-form-label">No of entered users</label>
                    <div class="col-4">
                        <input class="form-control" value="1" />
                    </div>
                    <div class="col-2">
                    </div>
                </div> -->
                <!-- <br>
                <div class="text-center">
                    <button type="button" class="btn btn-success" (click)="clickme()" *ngIf="myDate">Click</button>
                </div> -->

                <br>
                <br>
                <div class="form-group row" *ngIf="entries">
                    <label class="col-4 col-form-label">No of entered cases</label>
                    <div class="col-4">
                        <input class="form-control" value="{{entries.length}}" />
                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
            <!-- <br>
                <br> -->
            <!-- <div class="jumbotron">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="table-info">
                            <th scope="col">S.no</th>

                            <th scope="col">No of cases Entered </th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let station of entries; let i = index">
                        <tr>
                            <th scope="row">{{i+1}}</th>

                            <td>{{entries.length}}</td>
                        </tr>

                    </tbody>
                </table>
            </div> -->
        </div>
    </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>